<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RevitTestFrameworkRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <RevitTestFrameworkRunner.Properties.Settings>
            <setting name="workingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="assemblyPath" serializeAs="String">
                <value />
            </setting>
            <setting name="resultsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="isDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timeout" serializeAs="String">
                <value>120000</value>
            </setting>
        </RevitTestFrameworkRunner.Properties.Settings>
    </userSettings>
</configuration>
