<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiffPlex" version="1.6.3" targetFramework="net48" />
  <package id="DiffPlex.Wpf" version="1.1.1" targetFramework="net48" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net48" />
</packages>