<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="PROGDATA_07">
            <Directory Id="dir2F0021EF16DBDDD0C278C0BCAE6BB725" Name="definitions" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DEFINITIONS">
            <Component Id="cmp6A2C256CC62791E91F6182191CBB885C" Directory="dir2F0021EF16DBDDD0C278C0BCAE6BB725" Guid="{1AD19319-A154-485F-B2DE-1C96508CCD13}">
                <File Id="fil35DE848678CC7A0329C54F9546403585" KeyPath="yes" Source="$(var.definitions)\BoundingBoxXYZ.dyf" />
            </Component>
            <Component Id="cmp33C03A4E175C05C2875826D0C6A03E1D" Directory="dir2F0021EF16DBDDD0C278C0BCAE6BB725" Guid="{FD68E3A4-4651-462F-9C26-DF2DA1875817}">
                <File Id="fil66D277C6DA9ABC54D02B275C87BEB1E9" KeyPath="yes" Source="$(var.definitions)\ModelCurveFromCurveLoop.dyf" />
            </Component>
            <Component Id="cmp752E6AD65704CD0394BDC3B0910095EA" Directory="dir2F0021EF16DBDDD0C278C0BCAE6BB725" Guid="{B5758BF5-BC9C-45AF-9903-D9C1D0FDF419}">
                <File Id="fil8468DC40364B0244BC7A9370EAC6C9C8" KeyPath="yes" Source="$(var.definitions)\TransformOriginVectors.dyf" />
            </Component>
            <Component Id="cmpFA91F87561FECE46C461E2352C5BEF66" Directory="dir2F0021EF16DBDDD0C278C0BCAE6BB725" Guid="{1A89FF2E-7BEE-4A1A-BDF3-01C3853DE005}">
                <File Id="filB01E018EE3E46C3C1570753BF307E71A" KeyPath="yes" Source="$(var.definitions)\XyzFromListOfNumbers.dyf" />
            </Component>
            <Component Id="cmpEDD2A4604308CC866C87A4EED552A3C1" Directory="dir2F0021EF16DBDDD0C278C0BCAE6BB725" Guid="{30B52E60-886A-4429-B39A-C3CAA7C9FB80}">
                <File Id="filB64B1418E38304EDD4E89E63BEC37CA8" KeyPath="yes" Source="$(var.definitions)\XyzGrid.dyf" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>