<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <Product Id="*"
             Name="$(var.ProductName) $(var.Major).$(var.Minor).$(var.Rev)"
             Language="1033"
             Version="$(var.FullVersion)"
             Manufacturer="Autodesk"
             UpgradeCode="{584B3E06-FE7A-4341-8C22-339B00ABD58A}">

        <Package Comments="$(var.ProductName) $(var.FullVersion)"
                 Description="Install package for $(var.ProductName)"
                 InstallerVersion="200"
                 Compressed="yes"
                 Languages="1033"
                 Manufacturer="Autodesk, Inc."
                 Platform="x64"/>

        <MajorUpgrade AllowSameVersionUpgrades="yes"
                      Schedule="afterInstallFinalize"
                      DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />

        <MediaTemplate EmbedCab="yes" />

        <Binary Id="DynamoInstallActions.CA.dll"
                SourceFile="$(var.solution)DynamoInstallActions\bin\$(var.Configuration)\DynamoInstallActions.CA.dll" />

        <Condition Message="You cannot install $(var.ProductName) by running this MSI.  Please run Setup.exe.">Installed or ADSK_SETUP_EXE</Condition>

        <CustomAction Id="UninstallDynamo.SetProperty" Return="check" Property="UninstallDynamo"
                      Value="Major=$(var.Major);Minor=$(var.Minor);Rev=$(var.Rev)" />
        <CustomAction Id="UninstallDynamo" Return="check" Execute="deferred" Impersonate="no"
                  BinaryKey="DynamoInstallActions.CA.dll" DllEntry="UninstallDynamo" />

        <CustomAction Id="GenerateRevitAddin.SetProperty" Property="GenerateRevitAddin"
                      Value="&quot;[INSTALLDIR]DynamoAddinGenerator.exe&quot; &quot;[INSTALLDIR]&quot;" />
        <CustomAction Id="GenerateRevitAddin" Return="ignore" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" />

        <CustomAction Id="RemoveRevitAddin.SetProperty" Property="RemoveRevitAddin"
                      Value="&quot;[INSTALLDIR]DynamoAddinGenerator.exe&quot; /uninstall &quot;[INSTALLDIR]&quot;" />
        <CustomAction Id="RemoveRevitAddin" Return="ignore" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Impersonate="no" />

        <CustomAction Id="DIRCA_COMPANY_PROGMENU" Property="AutodeskStartMenuFolder" Value="[ProgramMenuFolder][Manufacturer]\" />
        <CustomAction Id="DIRCA_INSTALLDIR" Property="INSTALLDIR" Value="[ProgramFiles64Folder]\Dynamo $(var.Major).$(var.Minor)" Execute="firstSequence" />

        <CustomTable Id="AdskCustomFile">
            <Column Id="Component_" PrimaryKey="yes" Type="string" Width="72" KeyTable="Component" KeyColumn="1" Category="Identifier" Description="Required foreign key into the Component Table." Modularize="Column" />
            <Column Id="SourceFileName" Type="string" Width="0" Category="Text" Description="File name." />
            <Column Id="Flags" Type="int" Width="2" MinValue="0" Description="Flags" />
        </CustomTable>
        <EnsureTable Id="AdskCustomFile" />

        <CustomTable Id="AdskExecuteSequence">
            <Column Id="Action" PrimaryKey="yes" Type="string" Width="72" Category="Identifier" Description="Name of action to invoke, either in the engine or the handler DLL." Modularize="Column" />
            <Column Id="Condition" Type="string" Width="255" Nullable="yes" Category="Condition" Description="Optional expression which skips the action if evaluates to expFalse.If the expression syntax is invalid, the engine will terminate, returning iesBadActionData." Modularize="Condition" />
            <Column Id="Sequence" Type="int" Width="2" Nullable="yes" MinValue="-4" MaxValue="32767" Description="Number that determines the sort order in which the actions are to be executed.  Leave blank to suppress action." />
            <Row>
                <Data Column="Action">AppSearch</Data>
                <Data Column="Condition" />
                <Data Column="Sequence">40</Data>
            </Row>
            <Row>
                <Data Column="Action">CostInitialize</Data>
                <Data Column="Condition" />
                <Data Column="Sequence">800</Data>
            </Row>
            <Row>
                <Data Column="Action">FileCost</Data>
                <Data Column="Condition" />
                <Data Column="Sequence">900</Data>
            </Row>
            <Row>
                <Data Column="Action">CostFinalize</Data>
                <Data Column="Condition" />
                <Data Column="Sequence">1000</Data>
            </Row>
            <Row>
                <Data Column="Action">InstallValidate</Data>
                <Data Column="Condition" />
                <Data Column="Sequence">1400</Data>
            </Row>
        </CustomTable>

        <Icon Id="DynamoInstaller.ico" SourceFile="$(var.base)\tools\install\Extra\DynamoInstaller.ico"/>

        <Property Id="ADSK_DESKTOPSHORTCUT_1" Value="1" />
        <Property Id="ADSK_GLOBAL_PROP_LIST" Value="INSTALLDIR;ADSK_LAUNCH_MODE;ADSK_EULA;ADLM_EULA_COUNTRY;ADSK_EULA_STATUS" />
        <Property Id="ADSK_INSTALL_PATH" Value="Autodesk\Dynamo $(var.Major).$(var.Minor)" />
        <Property Id="ALLUSERS" Value="1" />
        <Property Id="ARPCONTACT" Value="Autodesk, Inc." />
        <Property Id="ProductNameGlob" Value="$(var.ProductName) $(var.Major).$(var.Minor).$(var.Rev)" />
        <Property Id="ShortProductName" Value="DYN" />
        <Property Id="ARPPRODUCTICON" Value="DynamoInstaller.ico" />

        <Property Id="SAMPLEFOLDER">
            <RegistrySearch Root="HKLM" Key="SOFTWARE\[Manufacturer]\$(var.ProductName)\[Manufacturer] [ProductName]" Type="raw" Id="SAMPLES_REGSEARCH" Name="SamplesPath" Win64="yes" />
        </Property>


        <InstallExecuteSequence>
            <Custom Action="DIRCA_COMPANY_PROGMENU" Sequence="1" />
            <Custom Action="DIRCA_INSTALLDIR" Before="CostInitialize">INSTALLDIR=""</Custom>
            <Custom Action="UninstallDynamo.SetProperty" Before="UninstallDynamo">NOT Installed</Custom>
            <Custom Action="UninstallDynamo" After="InstallInitialize">NOT Installed</Custom>
            <Custom Action="GenerateRevitAddin.SetProperty" Before="GenerateRevitAddin">NOT Installed</Custom>
            <Custom Action="GenerateRevitAddin" Before="InstallFinalize">NOT Installed</Custom>
            <Custom Action="RemoveRevitAddin.SetProperty" Before="RemoveRevitAddin">Installed</Custom>
            <Custom Action="RemoveRevitAddin" After="InstallInitialize">Installed</Custom>
        </InstallExecuteSequence>


        <Feature Id="DYNAMO_CORE_FEATURE"
                 Title="Dynamo Core"
                 Level="1">
            <ComponentGroupRef Id="RELEASE"/>
            <ComponentGroupRef Id="DEFINITIONS"/>
            <ComponentGroupRef Id="GALLERY"/>
            <ComponentRef Id="ApplicationShortcut" />
            <ComponentRef Id="ProductRegistry" />
            <Feature Id="DYNAMO_CORE_SAMPLES"
                     Title="Sample Content"
                     Level="1" >
                <ComponentGroupRef Id="SAMPLES"/>
            </Feature>
            <ComponentRef Id="DesktopShortcut" />
			<MergeRef Id="Setup"/> 
			<MergeRef Id="SetupUninstall"/> 
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="AutodeskStartMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Dynamo"/>
            </Directory>
            <Directory Id="INSTALLDIR"/>
			<Merge Id="Setup" Language="1033" SourceFile="$(var.modules)\Setup.msm" DiskId="1">
				<ConfigurationData Name="_9F0C03F7CF754E429FF686DE8D9B85AC.EA84BDA4715A43B6B1DEDE5ED0070F0E" Value="[INSTALLDIR]" />
            </Merge>
			<Merge Id="SetupUninstall" Language="1033" SourceFile="$(var.modules)\SetupUninstall.msm" DiskId="1">
				<ConfigurationData Name="UninstallKeysGUIDConfig" Value="{03D59716-3909-4AC8-850F-16CF66E6BE8B}" />
			</Merge>
            <Directory Id="DesktopFolder" Name="Desktop" />

            <Directory Id="CommonAppDataFolder">
                <Directory Id="DYNAMO_PROGDATA" Name="Dynamo">
                    <Directory Id="PROGDATA" Name="$(var.Major).$(var.Minor)"/>
                </Directory>
            </Directory>
            <Directory Id="AppDataFolder">
                <Directory Id="DYNAMO_APPDATA" Name="Dynamo">
                    <Directory Id="APPDATA" Name="$(var.Major).$(var.Minor)">
                        <Directory Id="definitions" Name="definitions" />
                        <Directory Id="logs" Name="Logs" />
                        <Directory Id="packages" Name="packages" />
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <!-- Install a shortcut in the Start menu -->
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Win64="yes">
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="Dynamo $(var.Major).$(var.Minor).$(var.Rev)"
                          Description="Dynamo Sandbox"
                          Target="[INSTALLDIR]DynamoSandbox.exe"
                          WorkingDirectory="INSTALLDIR" />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="SOFTWARE\$(var.ProductName)\Shortcuts\[ProductName]" Name="StartMenu" Type="string" Value="" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="DesktopFolder">
            <Component Id="DesktopShortcut" Win64="yes">
                <Condition>ADSK_DESKTOPSHORTCUT_1=1</Condition>
                <RegistryValue Root="HKCU" Key="SOFTWARE\$(var.ProductName)\Shortcuts\[ProductName]" Name="Desktop" Type="string" Value="" KeyPath="yes" />
                <Shortcut Id="DesktopShortcut"
                          Name="Dynamo $(var.Major).$(var.Minor).$(var.Rev)"
                          Description="Dynamo Sandbox"
                          Target="[INSTALLDIR]DynamoSandbox.exe"
                          WorkingDirectory="INSTALLDIR" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="TARGETDIR">
            <Component Id="ProductRegistry" Win64="yes">
                <RegistryKey Root="HKLM"
                             Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\$(var.ProductName) $(var.Major).$(var.Minor)"
                             ForceDeleteOnUninstall="yes">
                    <RegistryValue Name="InstallLocation" Value="[INSTALLDIR]" Type="string" />
                    <RegistryValue Name="UninstallString" Value="MsiExec.exe" Type="string" />
                    <RegistryValue Name="UninstallParam" Value="/X[ProductCode] /quiet" Type="string" />
                    <RegistryValue Name="Version" Value="$(var.FullVersion)" Type="string" />
                    <RegistryValue Name="RevVersion" Value="$(var.Rev)" Type="integer" />
                </RegistryKey>

                <CreateFolder Directory="definitions" />
                <CreateFolder Directory="logs" />
                <CreateFolder Directory="packages" />

                <RemoveFolder Id="RemoveDefinitionsDir" Directory="definitions" On="uninstall" />
                <RemoveFolder Id="RemoveLogsDir" Directory="logs" On="uninstall" />
                <RemoveFolder Id="RemovePackagesDir" Directory="packages" On="uninstall" />
                <RemoveFolder Id="RemoveAppDataDir" Directory="APPDATA" On="uninstall" />
                <RemoveFolder Id="RemoveDynamoAppDataDir" Directory="DYNAMO_APPDATA" On="uninstall" />
            </Component>
        </DirectoryRef>

    </Fragment>

</Wix>
