<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*"
           Name="$(var.ProductName) $(var.Major).$(var.Minor).$(var.Build)"
           Language="1033"
           Version="$(var.FullVersion)"
           Manufacturer="Dynamo"
           UpgradeCode="$(var.UpgradeCode)">

    <Package Comments="$(var.ProductName) $(var.FullVersion)"
                 Description="Install package for $(var.ProductName)"
                 InstallerVersion="200"
                 Compressed="yes"
                 Languages="1033"
                 Manufacturer="Dynamo"
                 Platform="x64"/>
   
    <!-- (1) To prevent downgrades. 
         If there are any MAJOR.MINOR.BUILD version that is higher installed,
         prevent current installation.-->
    <MajorUpgrade AllowSameVersionUpgrades="no"
                  Schedule="afterInstallValidate"
                  DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />

    <!-- (2) To manage same version upgrades/downgrades.
         The property SELF_FOUND is set when the same MAJOR.MINOR.BUILD version and UpgradeCode is already installed.-->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Property='SELF_FOUND' 
                      Minimum='$(var.Major).$(var.Minor).$(var.Build)' 
                      IncludeMinimum='yes' 
                      Maximum='$(var.Major).$(var.Minor).$(var.Build)' 
                      IncludeMaximum='yes' 
                      OnlyDetect='yes' />
    </Upgrade>

    <MediaTemplate EmbedCab="yes" />

    <UIRef Id="SetupDialogUI" />
    
    <Property Id="INSTALLDIR"/>
    <CustomAction Id="DIRCA_DEFAULT_INSTALLDIR" Property="DYNAMO_INSTALLDIR" Value="[ProgramFiles64Folder][Manufacturer]\$(var.ProductName)\$(var.Major).$(var.Minor)" Execute="immediate" />
    <CustomAction Id="DIRCA_SET_INSTALLDIR" Property="DYNAMO_INSTALLDIR" Value="[INSTALLDIR]\$(var.ProductName)\$(var.Major).$(var.Minor)" Execute="immediate" />

    <CustomAction Id='AlreadyInstalled' Error='[ProductName] is already installed.&#13;&#10;&#13;&#10;Skipping [ProductName] Installation...' />

    <InstallExecuteSequence>
      <Custom Action='AlreadyInstalled' Before="CostInitialize"><![CDATA[SELF_FOUND]]></Custom>
      <Custom Action="DIRCA_DEFAULT_INSTALLDIR" Before="CostInitialize">INSTALLDIR=""</Custom>
      <Custom Action="DIRCA_SET_INSTALLDIR" Before="CostInitialize"><![CDATA[INSTALLDIR<>""]]></Custom>
    </InstallExecuteSequence>

    <Feature Id="DYNAMO_CORE_FEATURE"
             Title="Dynamo Core"
             Level="1">
      <ComponentGroupRef Id="RELEASE"/>
      <ComponentRef Id="ProductRegistry" />
    </Feature>

    <Icon Id="DynamoInstaller.ico" SourceFile="$(var.base)\tools\install\Extra\DynamoInstaller.ico"/>
    <Property Id="ARPPRODUCTICON" Value="DynamoInstaller.ico" />

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DYNAMO_INSTALLDIR"/>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="DYNAMO_PROGDATA" Name="Dynamo">
          <Directory Id="PROGDATA" Name="$(var.Major).$(var.Minor)"/>
        </Directory>
      </Directory>
      <Directory Id="AppDataFolder">
        <Directory Id="DYNAMO_APPDATA" Name="Dynamo">
          <Directory Id="APPDATA" Name="$(var.Major).$(var.Minor)">
            <Directory Id="definitions" Name="definitions" />
            <Directory Id="logs" Name="Logs" />
            <Directory Id="packages" Name="packages" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="ProductRegistry" Win64="yes">
        <RegistryKey Root="HKLM"
                     Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\$(var.ProductName) $(var.Major).$(var.Minor)"
                     ForceDeleteOnUninstall="yes">
          <RegistryValue Name="InstallLocation" Value="[DYNAMO_INSTALLDIR]" Type="string" />
          <RegistryValue Name="UninstallString" Value="MsiExec.exe" Type="string" />
          <RegistryValue Name="UninstallParam" Value="/X[ProductCode] /quiet" Type="string" />
          <RegistryValue Name="Version" Value="$(var.Major).$(var.Minor).$(var.Build)" Type="string" />
          <RegistryValue Name="RevVersion" Value="$(var.Rev)" Type="integer" />
        </RegistryKey>

        <CreateFolder Directory="definitions" />
        <CreateFolder Directory="logs" />
        <CreateFolder Directory="packages" />

        <RemoveFolder Id="RemoveDefinitionsDir" Directory="definitions" On="uninstall" />
        <RemoveFolder Id="RemoveLogsDir" Directory="logs" On="uninstall" />
        <RemoveFolder Id="RemovePackagesDir" Directory="packages" On="uninstall" />
        <RemoveFolder Id="RemoveAppDataDir" Directory="APPDATA" On="uninstall" />
        <RemoveFolder Id="RemoveDynamoAppDataDir" Directory="DYNAMO_APPDATA" On="uninstall" />
      </Component>
    </DirectoryRef>

  </Fragment>

</Wix>