<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DYNAMO_INSTALLDIR">
            <Directory Id="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Name="Dynamo" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="RELEASE">
            <Component Id="cmpCFE7A71BD950BEA0C95BD07530B3773B" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{4E3770E5-B7A9-4126-B4DD-2A8F09F59251}">
                <File Id="fil0FDC575F287DDAB0A089A29986548CD2" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\CSharpAnalytics.WinForms.dll" />
            </Component>
            <Component Id="cmpD92EB46615A05D2E560EAB676D1F7D1B" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{4186EDBE-E9EA-4140-8AFD-54059FC5FBEF}">
                <File Id="fil67E19EF12A80CEA0FB05203C3B0F586A" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSCoreNodes.dll" />
            </Component>
            <Component Id="cmpA5D18A5F652EF1E3ABBFD7F5E733E6C3" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{ACCE43DF-6DFD-4C66-B315-95708E0D74BB}">
                <File Id="filC19F9BE1A6948CEEF5F27F1764B02AE8" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSCoreNodes.xml" />
            </Component>
            <Component Id="cmpEBD16F8ACBEFDD24DA73A76F73283A1B" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{D81B0799-7F9C-4F52-8FFA-73516E3E1070}">
                <File Id="filD7CFBE0F8C5D9ADC3DEE195350794416" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSCoreNodes_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp95B9686892E9E55A01C87041E3EEFF3F" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{D9CE38CE-2A24-4301-BC7A-C15285637C04}">
                <File Id="fil434EBDA14AFE90930E7A621C5AC64BA7" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSIronPython.dll" />
            </Component>
            <Component Id="cmp411A4D0984B446D93793BDC3E05132F9" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{41640E7C-3B74-4E86-B835-508A43EB942A}">
                <File Id="filCCCA2EA0F52D4E92107139C8F902F32E" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSIronPython_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp1D7BBABBF7F44AE42242F795AB54056C" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{9A605469-5EF9-40B9-9E2D-45ABF532043B}">
                <File Id="filBBCD29C5897CB0F4BEAD5E14681DF7DC" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSNodeServices.dll" />
            </Component>
            <Component Id="cmp5A1F05E1E334740FEF5AE875B12DE026" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{F7BA0C2F-3A4E-4E99-9A33-0273AAE4DC3A}">
                <File Id="fil3C7531C7C3FE5719E2CD80B6610215B6" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSNodeServicesTest.dll" />
            </Component>
            <Component Id="cmp37D4B8D06102FFC64A04BBF13449DE34" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{8543060A-C458-41F4-9696-7A4201C4A847}">
                <File Id="filBB44F54FF316A3969430B1F43E332F91" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSOffice.dll" />
            </Component>
            <Component Id="cmp500E73D80A930FAFACF64080D9FA814C" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{59983E66-85DC-402C-A8EF-11BCE5529F66}">
                <File Id="fil01B7AF276AFD7026124C1945DA090AA2" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSOffice_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmpA6C887466A06C4CC0C7B7DBA77A71354" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{FD22E7EB-05C6-4874-952D-AC7515B5C17E}">
                <File Id="filBEAEA2977A7D0FB4E6F4DE781ED65DAF" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Dynamo.cer" />
            </Component>
            <Component Id="cmpC5252D9622A0680A80E1DFEEC120DCE8" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{CE65A4A9-71CB-4966-BFB3-E324499BC49D}">
                <File Id="fil1AA1D906455E45B7CA0668BF4CD27390" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoArduino.dll" />
            </Component>
            <Component Id="cmp65B2ECDD9E19BF8C9B7726D20BA773C4" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{71204B39-F6CC-4149-85B1-09CBD00E489D}">
                <File Id="filAE8554AB5D47641A80D2520FB2B980B1" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoArduino.XML" />
            </Component>
            <Component Id="cmpB37EFB38349C121CDF19E76384FD0296" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{A8380249-1EB4-4504-A266-3752A86877D0}">
                <File Id="fil090237915ACEA89E299ACF515FCC9795" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoCore.dll" />
            </Component>
            <Component Id="cmp4EE9F0E0AC644FFBE4F22C2520381D87" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{D75323B0-12B1-4012-AACB-6D0CE76754DD}">
                <File Id="fil95749A0E9046365325C708CBE0C1E0C0" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoCrypto.dll" />
            </Component>
            <Component Id="cmpAED10AB77F805AC6645F34251037B109" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{A7596E77-5591-4A4E-9D29-6875DD114DD4}">
                <File Id="filA03D4478898FDADCB46A8B44C2274159" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoMSOffice.dll" />
            </Component>
            <Component Id="cmpDCC7F13A94E41D526C86F74E6E45F914" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{69D19725-CA6A-4400-BF68-42180E149B3A}">
                <File Id="filFE0ACF4E3DA04EE81D738E6CA95A9EC0" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoPython.dll" />
            </Component>
            <Component Id="cmpAFFECF00151F6A1CA26E5802ED8F5128" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{E7FF2FE0-C0F0-4800-8AD3-A8AF5F6D3929}">
                <File Id="fil521115E500B34B3454B17408BCF3CFC9" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoPython.XML" />
            </Component>
            <Component Id="cmpA2C09C3857624F45158D9AEB8E717AC1" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{009112FF-F0EA-408D-A6EF-ED9860CD3589}">
                <File Id="fil406CC2706F3170F077E090F8875F6B4D" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoSandbox.exe" />
            </Component>
            <Component Id="cmp35D67BAED5AC7194396E8F98AEED8482" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{BD517F19-1C07-4F82-BE03-F21EA47795E9}">
                <File Id="filE0221DD27AB42DB6C3FF6A5BD621BA1C" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoSandbox.exe.config" />
            </Component>
            <Component Id="cmp3A8B835E66BA1D84193378AAC2890C10" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{F92FA2C7-FC7C-43F4-B251-642A7F3EEA2C}">
                <File Id="fil2BDD8E823D01299E40F311D05A236B36" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoUnits.dll" />
            </Component>
            <Component Id="cmp2F97B4B76EF0489CA189C73982D47618" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{36264879-BDA0-4247-AD04-A76DCF706D31}">
                <File Id="fil94DEC5A8914D4AF15830EB807DB348D4" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoUnits_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp587A370339C2604E5FE9D142FD50FC09" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{57E13859-42E3-46FE-BC58-ED0158DDA14C}">
                <File Id="fil3F83A22ECD210CFA8FC2F6EB7D5CDFFB" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoUtilities.dll" />
            </Component>
            <Component Id="cmpD0D7AB5D5E3DE8FF9DD663B394BDC72F" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{03160C14-34BA-4F62-8E9D-156F85651D1F}">
                <File Id="fil8F5585EA68CED42ECEDCFD5E35E3128C" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\FFITarget.dll" />
            </Component>
            <Component Id="cmp8721A1FDD624771D4EC62871E7009162" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{9AD6193D-2028-4014-9F3B-9782729BC520}">
                <File Id="fil6AEDC202EF760492FB692F23A2025C3F" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Flatten.ds" />
            </Component>
            <Component Id="cmp2099864B01AF1A30182AB5DC62F64277" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{DCE7DF63-077F-4352-8498-FBE99E244344}">
                <File Id="filF9542F07635A9CBB0F97F47E5736EE23" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\FunctionObject.ds" />
            </Component>
            <Component Id="cmp9E1AEFDE33A45D679BC02A7282BAAC6A" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{FEAA0057-B0BD-4A4D-A4C2-188A721CE508}">
                <File Id="fil0DAC6E34DEE406C00F68BAB0B9D949B8" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\GraphLayout.dll" />
            </Component>
            <Component Id="cmp2B6D719F555CDBAE0D75904433791D96" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{1C394C82-05A5-41AA-B02B-F5ABB0C302E8}">
                <File Id="filECEDA3479B0A215C41042BCEDCC03154" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\GraphToDSCompiler.dll" />
            </Component>
            <Component Id="cmp9A09952B2500FB104C8F5E156090DBE4" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{952099BC-A566-44D9-BC3E-C42B4F138AA7}">
                <File Id="filEF8309348E3319CF5E52AB053CB2609D" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Greg.dll" />
            </Component>
            <Component Id="cmp545E70C90E09FC213C4B9DD4C45B3C8D" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{AFDBCC22-DD0F-4848-AFCD-6C79749BEAF8}">
                <File Id="fil6EBB45D321ADDABB227AE82744E96D99" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\HelixToolkit.Wpf.dll" />
            </Component>
            <Component Id="cmp046D4326BD7D6C6D8EBC81C1BDBB5648" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{51CD05AF-51A0-4FD2-AC9B-F859BD7AAE03}">
                <File Id="fil9962C1653C2D374A125EC3FF9A234C5F" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\HelixToolkit.Wpf.xml" />
            </Component>
            <Component Id="cmp8C23EFF3AA1FCD025AC2D7FB7C77A748" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{ED575267-09A0-4503-A188-BD4A7DD235EF}">
                <File Id="fil97DC1AAE4EDA9D79DAAD4BA5EC7A8BE8" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ICSharpCode.AvalonEdit.dll" />
            </Component>
            <Component Id="cmpE237FCC2FD6C423F8C20218990CA3EC5" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{F47411E6-E922-4F33-867E-5FBAC3F5444A}">
                <File Id="filED059FCF7AC3686C8CB970F5C3B6E89C" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ICSharpCode.AvalonEdit.xml" />
            </Component>
            <Component Id="cmp6ED2BDF94DD486BA567C39AC2DFB7754" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{CB9C5508-079D-4C44-8F42-ABF7965D6DD4}">
                <File Id="fil6BB4825B215E8822E67CC5A5B2C840D0" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\InstallASMForDynamo.exe" />
            </Component>
            <Component Id="cmpB20F9A31C1B087C38202F528479524AE" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{F50C5107-8F43-4DAD-BB45-F63196E24299}">
                <File Id="fil73802CB0D0CAA8F3986B1F83ABFCC641" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\InstallUpdate.exe" />
            </Component>
            <Component Id="cmp90FDC339E80BD82CE0C594CDF20B1A2D" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{4A62860E-52E8-4884-BE2C-2A2FA9907DB4}">
                <File Id="fil0148A041EB0F99FA66494AD4A69F4ACE" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\InstallUpdate.exe.config" />
            </Component>
            <Component Id="cmp52BA58274BD8173509E19FBAD20D54C7" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{35D64166-0A86-4C89-99F5-0AF6CC035466}">
                <File Id="filD8906A5FF78DAC8D3648CCCA2AE394B5" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Ionic.Zip.dll" />
            </Component>
            <Component Id="cmp0D182D2185CC2781FF3F88E6201C5C81" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{767A1CAF-0DE4-4D1F-A2A8-575F8D370416}">
                <File Id="fil64F7B6054F22BAC92A73FA986A6A2BA7" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\IronPython.dll" />
            </Component>
            <Component Id="cmpEEF1E73B8947CA3F13B853173BB7B9A6" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{5D15AB9E-614A-4744-A43C-A1D1ADF2BC50}">
                <File Id="fil4E0AA160CCFB4DD300124A4515460DB4" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\License.rtf" />
            </Component>
            <Component Id="cmp04F703D9BC4EAABFF9AB2800E9174603" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{A74AB5FD-C9EC-41F8-A368-AAB2165B47C7}">
                <File Id="fil46C44DCCCF01AFA6E07A3A14FBDB3335" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\MIConvexHullPlugin.dll" />
            </Component>
            <Component Id="cmp9A324CD04CE1EC895DC660959B76469B" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{515C653B-6DAD-4299-81E1-44167B3ABF4F}">
                <File Id="fil234EBD5F1C3C55F9633D83A974137431" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Microsoft.Dynamic.dll" />
            </Component>
            <Component Id="cmpD911BC3DB888D04DF21A4B044985C239" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{C605AEEB-8E84-492C-8EE5-9BFE0A9A1972}">
                <File Id="fil0DCBE618B65774B6F3C737D7BF8BBC29" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Microsoft.Office.Interop.Excel.dll" />
            </Component>
            <Component Id="cmp80D120874D4C781D2472459D86ACE68F" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{734F4E36-47D0-4846-9FEE-B457DEFF8632}">
                <File Id="fil7CE0DA284F4B528585E5C3FFE964A50C" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Microsoft.Practices.Prism.dll" />
            </Component>
            <Component Id="cmpFF9D8C96A8C0EE481170897DD3D66234" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{523FC866-2F9E-4958-962A-92E081324447}">
                <File Id="fil3AF7BAE7CBA3494765E17E235F23C494" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Microsoft.Scripting.dll" />
            </Component>
            <Component Id="cmp23112F834150F5E24137C8849634ADB0" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{83B06355-51CB-460C-AC34-3302B6863D46}">
                <File Id="filB0F452175F1825019BF20D3A585BE947" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Microsoft.Scripting.Metadata.dll" />
            </Component>
            <Component Id="cmpAB291FB8FF3AE453829E949357B499AA" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{68360392-80D4-420B-91F2-9E26B9223B68}">
                <File Id="filDBB32DB8CBA84F9CB7B4680E601F0366" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Microsoft.Vbe.Interop.dll" />
            </Component>
            <Component Id="cmp0CB32BFC9A928E151E187A617ED0030B" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{431FE1D0-E311-4158-9663-5DEF6F8EA93F}">
                <File Id="fil298044D68B27E4D291E231970C6E9541" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Moq.dll" />
            </Component>
            <Component Id="cmp34042504E9597FF6AB56788232F29CA2" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{F3CFB0C9-FFE3-4AE2-AE86-BEA814C386C4}">
                <File Id="fil7DE171D6BAD7195AF0F46FA652F7813E" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Moq.xml" />
            </Component>
            <Component Id="cmpDD044E5DCA894C6BC4099D5CCAF0A586" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{DD37F8CD-6364-4B7C-A806-A4C96A6BC1A6}">
                <File Id="fil1CDF7CCF7E9F7E913CE686C684E5272A" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\NCalc.dll" />
            </Component>
            <Component Id="cmpD897E9B481D2D8A2B17D31AC1FCA6DA9" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{6191B9A5-9B1F-4EBF-8C66-CCCA5EE1CE1D}">
                <File Id="filE96D5BBA667BB88818163934AD696314" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp73380F6AB2625249B5AF1661D041385F" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{DCB55265-FDA3-4CD9-AE66-023CD0E6ABE4}">
                <File Id="filFB26F726A0B58B1A0B52B3F925BF0914" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmp727076549B9D02DBD6E9B135D4151406" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{2E9A5782-0739-40E9-AC74-8E3C5CC9F1DB}">
                <File Id="filFACDE9F865E8E110DA6B0D9D26CCB999" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nunit.framework.dll" />
            </Component>
            <Component Id="cmp91FB31F6BDB683195F97D6A2D4EBD221" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{CD4ACBB4-DAE7-485A-A63B-9AA0C776ECDA}">
                <File Id="filCD1258817397EBFD62DC735A1F0F89B3" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nunit.framework.xml" />
            </Component>
            <Component Id="cmpBB0FD56403CDC17835E7FAE3A69E91DE" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{C74A4B8A-D28B-4159-AD5A-51513EDB7EC0}">
                <File Id="fil2216709EE8258BF3C963AE417BB96938" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Office.dll" />
            </Component>
            <Component Id="cmp4C32673EBF8F45484561735E3645BD8F" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{DBD34E8E-E6B4-44A7-9195-BE14D7C84F1E}">
                <File Id="fil4FBE3A06EE1E378E1CD956726D9F9497" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Optimize.ds" />
            </Component>
            <Component Id="cmp1CA515ED4986847DED7D01408569B8E9" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{461E89CA-8B74-4981-A98B-AAF462679ED7}">
                <File Id="filB125CF4AC82E94ABA619F14A1E839CA1" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoAssociative.dll" />
            </Component>
            <Component Id="cmp05752A8B47F20312A0ED386A581D1357" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{F05FBB53-E520-4059-AF3E-06CA7730B6EE}">
                <File Id="filF0A0A65D7E21C0A2762FCACCA6F4972C" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoCore.dll" />
            </Component>
            <Component Id="cmpA30A02AE0F91398A16FFC93A1752194C" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{246EDA80-7D24-4C14-A855-29DA484EA620}">
                <File Id="fil723EB9942682A02F47EE157A979105C2" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoGeometry.config" />
            </Component>
            <Component Id="cmp241538E5B4E91A2BFFB706B145235F95" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{3B12256D-1DBB-4D94-9686-1AE5DF96962F}">
                <File Id="filA3B8A57D65E1C1A0FD9E14DCC9E2FF47" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoGeometry.dll" />
            </Component>
            <Component Id="cmpF9F3367E25A39CF4B0217251C0F13343" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{A54091F7-65C5-4B44-A537-0FDBDD844682}">
                <File Id="filC10B0606F1C51CE3A1C5B3D291570767" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoGeometry.XML" />
            </Component>
            <Component Id="cmp8A4D0BF5AA1EF1451A323CC4D1E4FB31" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{C57E65A3-8DF6-4D0E-BFB3-529C2170AEAA}">
                <File Id="filDA04199F000A390B97E81AD24AEA73EC" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoGeometry_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp29D7AEC1CB62D68CFB72AAA04CA608E8" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{724CDA2C-1909-44EA-9329-84816A5B61E4}">
                <File Id="fil99486055AEEA6776926E9C03F8137E2D" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoImperative.dll" />
            </Component>
            <Component Id="cmpCF2024D9A3A2955F7D7E1D8479C3743D" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{20A01A55-3325-4F97-9F48-33D113B98BBF}">
                <File Id="fil47E9A483503CD4C838F0B5E9E5A2EF2C" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoInterface.dll" />
            </Component>
            <Component Id="cmp024655D305344F2D6E7BDEEA3153FBF0" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{25A68CF8-3D6B-4022-BF48-6342F26C8E56}">
                <File Id="fil40D5DFC55C22365B207E2991EC8621FA" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoScript.dll" />
            </Component>
            <Component Id="cmpF566110BB001C20FC8A18164D360532A" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{5C9FCA45-5AE6-4C5F-B33C-F7FF0BF068BB}">
                <File Id="fil222262089C16CC7558AD863837F2A8AA" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoScript.dll.config" />
            </Component>
            <Component Id="cmpA483853DE13A936B7F9DB9114B6F6C67" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{EA9C68F1-1AE0-4243-9BA8-FC1C3C8DDFDC}">
                <File Id="filDBCBDDCAE3409CF56AF888A012291D53" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoTest.dll" />
            </Component>
            <Component Id="cmp225867EBD4EDD4374451BD1643DD0A28" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{366990F8-481D-44FF-ADFF-CF421F312F80}">
                <File Id="fil9CA0FD97EE3F55AEDE3BA95D4B14E3CD" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoTestConsoleRunner.exe" />
            </Component>
            <Component Id="cmp2F57638971B3FD7566DEF06E3F9E5467" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{2385A565-8273-4FE5-8907-C3156791F89A}">
                <File Id="fil1DC7E683FBB9965D6ABF56746DF248E4" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoTestFx.dll" />
            </Component>
            <Component Id="cmpDB5470B4823227FC743E7D3AF75B7DD1" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{266BEA5C-5AE6-48F8-9C99-222F11FC38CC}">
                <File Id="fil2672F8FC77C15A33FAAB02F1E098BBDE" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\RestSharp.dll" />
            </Component>
            <Component Id="cmpB806092C61A4AFEE6A9ABC5952C258B1" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{73CA6E9B-1061-4B67-9D84-800655402B09}">
                <File Id="fil3C0447F5144FF134E5E033AAD6E8841A" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\RestSharp.xml" />
            </Component>
            <Component Id="cmp9AAAE59B7F425CCBF18F9B2CB28C2E73" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{13B4B00A-A0FA-4D6B-8DD9-A60932AAE7ED}">
                <File Id="fil9DC3D015E85EF91656C8602966B78AA5" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\SimplexNoise.dll" />
            </Component>
            <Component Id="cmp71AFFDA7B0F29E01C3ACF85A64047E50" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{3A355CD6-D7F5-4000-8AAA-7665C741D8CF}">
                <File Id="filF0AD7C92F3DC7A21F46113554F3339E2" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmp30C419562AFAE1860D1513324946370D" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{5CDFFDE1-71BA-444D-B57A-5B328D1E64E6}">
                <File Id="fil569F29D13140D6718951EC3520D63414" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="cmpD2AF45B59FDC0B6583D2EB6A039D4F75" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{A62F189B-1F4C-45F0-9625-AB3DE4E1F07D}">
                <File Id="filD16D4DE95D1F3C32ECBBB055DAA1419E" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Tessellation.dll" />
            </Component>
            <Component Id="cmp21C23C4AC0E94F59BAD6728F989CD4A6" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{E8370633-2257-4D66-9C3D-082E4462E2BB}">
                <File Id="filAA935D4EE62772FC0198F9E544BD6E8B" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Tessellation_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmpE9A8CEF025AED0B5D5ED7E861E0FFBCD" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{38CE0455-7163-4F36-9B77-5A0B5A774E80}">
                <File Id="filEB6CB5333DD69D0BE124E693DF35CF6C" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\VMDataBridge.dll" />
            </Component>
            <Component Id="cmp0325F5D0A9F9DEF490B47FA69D3E0808" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{9ADC131E-C1DF-4C72-99F9-B67B00570F43}">
                <File Id="fil94958C57915C583D0A94DE88B11CA4D6" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\boost_chrono-vc100-mt-1_51.dll" />
            </Component>
            <Component Id="cmp4C452B5E27FE7D12F037AE9A38CA0838" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{BE4F603F-7836-4576-A497-7B48A7033413}">
                <File Id="fil7CCAD26E251DEEA8B9E9DFC3883EE221" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\boost_regex-vc100-mt-1_51.dll" />
            </Component>
            <Component Id="cmp7C1DD667BB79086003559B473096F143" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{F90002DB-6632-4A8C-B7D6-CF013493246C}">
                <File Id="fil7A55E0AB74EA14260D3EEDF3B65A2E7F" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\boost_system-vc100-mt-1_51.dll" />
            </Component>
            <Component Id="cmp37EC392E543DF460B7CCD47D6AFB2BA4" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{E43F27E6-A95B-4ED4-AD21-D20B8F139056}">
                <File Id="fil929543D2748EDDADE679A53B29DFCB09" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\boost_thread-vc100-mt-1_51.dll" />
            </Component>
            <Component Id="cmp9512EB17B4F5F95D9D717974A0E48095" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{36804CC7-919B-4DAC-AA2E-7EF616935113}">
                <File Id="filA45CEEF715CFA59E39EFDE5B9D3360DF" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\LibG.dll" />
            </Component>
            <Component Id="cmp8A452A0BA0FC9D7C1C1C093F601B80BB" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{EF9B8CEC-B059-441B-A77E-2300A2AC37DC}">
                <File Id="fil3E66A8AB4AEA2BE0058FEE5CB6C71757" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\LibG.Managed.dll" />
            </Component>
            <Component Id="cmpB62067CE17A69B6E04E96BA517F36F84" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{95EE6466-77D0-469F-AA96-7348D348C767}">
                <File Id="fil51CB34823CF90979C7B542BC2191D94D" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\LibG.ProtoInterface.dll" />
            </Component>
            <Component Id="cmp7B52B461C8F15F6F71E843E50096A095" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{EBF3A3EC-6BE5-40B5-BEBB-C13FE3AE1693}">
                <File Id="fil9D2241A5E520E468B71EF8571B7525FD" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\LibGCore.dll" />
            </Component>
            <Component Id="cmpFB05EB94FE988E13D2D2938E1AA093F8" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{9CA9893E-41C2-49D1-ABA2-2D17552A67B3}">
                <File Id="fil46A274FFE47B0CF95467FA5D1415CC04" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\msvcp100.dll" />
            </Component>
            <Component Id="cmp1E94C70E38309751B3CE23B00934782A" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{25CFD08D-E9EC-4DA0-BDCF-DB1F093301FA}">
                <File Id="filC0C24D4DE425C4BD4DC862FA3D1C0C17" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\msvcr100.dll" />
            </Component>
            <Component Id="cmpBA08DC529851DE3AC4FCEE4420AE6FA3" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{AFF4D17B-0889-4ED2-A04A-CB914B08918E}">
                <File Id="fil51D6F2DAC94811A376EF40840E97A862" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\boost_chrono-vc110-mt-1_51.dll" />
            </Component>
            <Component Id="cmp3754B990322BF62F0F3C4ABEBED7E332" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{B487D014-32D5-44C6-9EFC-9DB7D04BE8EA}">
                <File Id="fil77D3A8245D6186703605D50B9C855B5F" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\boost_regex-vc110-mt-1_51.dll" />
            </Component>
            <Component Id="cmpD487F1D58181781081AF656FD9677986" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{05ECC4F3-D019-471E-BE78-0452383C1FCB}">
                <File Id="fil8EC35834160D0FBDC84DE3A1B9927265" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\boost_system-vc110-mt-1_51.dll" />
            </Component>
            <Component Id="cmp90FB13AB33D508925F1906650BF435E3" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{54830100-5A45-4303-B2EA-CF16ABD6B7EA}">
                <File Id="fil4A6505BF4C629FBB55C402836382E474" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\boost_thread-vc110-mt-1_51.dll" />
            </Component>
            <Component Id="cmp601E363364391921F3E65F464DFF8920" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{694520B7-3A54-469C-94A5-E3AC2BF9C49C}">
                <File Id="fil21A97F61B4A4677C68BF97F041D4F746" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\LibG.dll" />
            </Component>
            <Component Id="cmp71D0DEED1B0E2609A2DBA8C500E6CE80" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{C8FB407A-A3AA-432E-9E85-884766D6E1CB}">
                <File Id="fil357C59941686EC8F62213C110170A427" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\LibG.Managed.dll" />
            </Component>
            <Component Id="cmpC46CEC28037B66EC52A388F767608196" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{5089E574-64EE-4780-AA04-EEB6FE6DFD93}">
                <File Id="fil1D8E93CB0717CC9365BD1CBFAB24AC61" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\LibG.ProtoInterface.dll" />
            </Component>
            <Component Id="cmp4FDFCF66D74DBB1ABCA1E02B6FCA1338" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{BEF26630-158A-4A7D-95DE-5EAA3FE41971}">
                <File Id="fil54CEDA1F2D1DB18AF86292C36534B792" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\LibGCore.dll" />
            </Component>
            <Component Id="cmpEF26BA3A261D2BF420802F78D65DE2CD" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{5EB6E675-EE19-4234-8430-07A3F83BAD42}">
                <File Id="filEA4819EBCADEA388109B96E6EB62B23A" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\msvcp110.dll" />
            </Component>
            <Component Id="cmp42E08C7892F2D83BF1B52A1F7D7E1437" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{11E7CE0D-C7CE-46C9-BF64-BF23761C0ADE}">
                <File Id="filB3680DC3AC0B8DB9037742C0D935F776" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\msvcr110.dll" />
            </Component>
            <Component Id="cmp9FB2C58190A520D06B07AD4C5063AB3C" Directory="dir6BD519554FC3D3787F7ECA1978026538" Guid="{86F3FD4A-E64E-4808-BDBE-FF2D1F60D1B6}">
                <File Id="fil424689B2BFB04D08FF1A6F1EC14D8920" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nodes\DSCoreNodesUI.dll" />
            </Component>
            <Component Id="cmp051D3B796123565A7E735226CD228922" Directory="dir6BD519554FC3D3787F7ECA1978026538" Guid="{58D05933-B3F0-40EA-B3B9-0874EE7BA5CE}">
                <File Id="fil2181FDAAFA4F78E7FF630FB69E744F0F" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nodes\DSIronPythonNode.dll" />
            </Component>
            <Component Id="cmp06E4F07D2BB3994E338EB4BFC4CE4F6C" Directory="dir6BD519554FC3D3787F7ECA1978026538" Guid="{BD9E3405-8649-4028-AB95-A7D2953A3A2A}">
                <File Id="fil2C66AD32D3F9295BB29E2FDBFD9110B0" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nodes\DynamoWatch3D.dll" />
            </Component>
            <Component Id="cmpC1827B70DF2EF830F2526B2078E81E5C" Directory="dir6BD519554FC3D3787F7ECA1978026538" Guid="{9B643C2B-EC90-4DB3-88B5-E15F156F0233}">
                <File Id="filFC836FA43B89C9762C0BDFED115DEDD4" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nodes\Migrations.dll" />
            </Component>
            <Component Id="cmp18F8A6E46F1683A3DFC59BBAC3D4BC4A" Directory="dir6BD519554FC3D3787F7ECA1978026538" Guid="{01EE0F5E-133C-4898-A7AA-9E37D98F2295}">
                <File Id="filBC00406C54132CF7FE24E1A28C660B0E" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nodes\ProtoCore.dll" />
            </Component>
            <Component Id="cmpC0A703EBFFB89FAE4BCE28A105D5E1C9" Directory="dir6BD519554FC3D3787F7ECA1978026538" Guid="{79F81FE6-D50E-44DA-8ABD-EFCC51450620}">
                <File Id="filB9442240D5DE6FD8C1803743B5200A0E" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nodes\ProtoInterface.dll" />
            </Component>
            <Component Id="cmp4FAA8E9573BCEF67115AC10037887CB9" Directory="dir6BD519554FC3D3787F7ECA1978026538" Guid="{B35C945E-907D-4FE3-9401-572FE7A7228C}">
                <File Id="fil49306831E06F559B5E281DDD1A9CF0BB" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nodes\SamplesLibraryUI.dll" />
            </Component>
            <Component Id="cmp77E9DA3D06CF286D9A7F5D1D5DA06C37" Directory="dir6BD519554FC3D3787F7ECA1978026538" Guid="{2678B4BC-66D2-404E-B134-4AADFF978EF2}">
                <File Id="filA7018DB119AC35341BFFB583E0F5F05A" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nodes\UnitsUI.dll" />
            </Component>
            <Component Id="cmp5573CB9E48330CDCB60BA92792893979" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{2879B15C-22DF-4BC3-93C5-9E86DA93767D}">
                <File Id="filF16E4829A6AE343F76D0E11677742BF0" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-Bold.ttf" />
            </Component>
            <Component Id="cmpBD9DA49C7BEC5F88ECF8DC4C603DD6BD" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{2FE23AE0-95C7-44C4-83F6-39A85A965943}">
                <File Id="filB09C9F30D111BEB4E28A30AF7EF65C6D" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-BoldItalic.ttf" />
            </Component>
            <Component Id="cmp8CB2FB7D437F834D9F2D7DEFEEB79FF1" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{A9D0A98F-7FF1-4516-A986-525865C4ADD6}">
                <File Id="fil45210D79DD5CB0165837465641A275A1" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-ExtraBold.ttf" />
            </Component>
            <Component Id="cmp3C59F609C5C986F55FCAE7BD3C6E86C1" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{40F60929-983F-4AF1-B099-948413C2F556}">
                <File Id="fil04D9F3B666DE749C92E663BD611F4767" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-ExtraBoldItalic.ttf" />
            </Component>
            <Component Id="cmp941410E568DC2508AE51EE530B65867C" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{00A8DF4D-83E3-4579-B403-CD11180C6DC0}">
                <File Id="fil434044AC4C97BA41BDCF4FA065FD920F" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-Italic.ttf" />
            </Component>
            <Component Id="cmpEE03F55685630C712A74F5676954EACA" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{765DD87C-2E30-406A-808B-A62C5FA9FA9C}">
                <File Id="fil209CDE1F57D3D9A58297D85D9E49AF35" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-Light.ttf" />
            </Component>
            <Component Id="cmpF6C78B6593FECC5A8CF4B4447B6C2A3C" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{B94C1516-87C8-42FC-A3EF-2F7D4C5D3963}">
                <File Id="filB4BCA88B3DD5C13FE9BB4FFD782FC344" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-LightItalic.ttf" />
            </Component>
            <Component Id="cmpFABFF493F95B96231F20F816C5ACC0AC" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{B3088283-BDA3-4D4C-A2AF-FD086344297E}">
                <File Id="fil4C9BA75C5C43BAF6F8C7DC18E416049C" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-Regular.ttf" />
            </Component>
            <Component Id="cmp1377FF50FB0372653612C0FDF94502DC" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{1C668880-FF78-416F-A0EC-47E2920E6DA5}">
                <File Id="fil7C8C55CB76AA1840264713C78054DA13" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-Semibold.ttf" />
            </Component>
            <Component Id="cmpA34DADC1849FFF62D5081688D42EDB42" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{F20C4EC9-A350-4040-8A9F-FFAB06E339B9}">
                <File Id="fil4AFE6FFF635DF42BC4384D676885F111" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-SemiboldItalic.ttf" />
            </Component>
            <Component Id="cmp761C436EB0F53496888486A1BF9EED2A" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{B0FEA3D2-B6A7-4629-B250-B7ED64343913}">
                <File Id="filAF8D91EDDF5A1396F2962D2235A356A2" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\Connectors.xaml" />
            </Component>
            <Component Id="cmpA51BB0E2321D0B55C792B492290B26D9" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{73211116-F9DB-4456-8FCA-5D11F8A9E6C2}">
                <File Id="fil598D1FFF4C2E4E6E4572A5550A1F16B5" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\DataTemplates.xaml" />
            </Component>
            <Component Id="cmpC45B3B46B628134E313D8CF0D7D5477B" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{A2C7CE83-A8A1-410C-80C1-19C69ED18CFE}">
                <File Id="fil477F5C0EB4FA2EE230E657F6324F8F4F" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\DynamoColorsAndBrushes.xaml" />
            </Component>
            <Component Id="cmp289C9FD9FB7AA7DE20A024B70F3CC39A" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{0D5D0E07-ABFF-4EFD-B777-5FBEA499D851}">
                <File Id="filDB727BD5DA3EDFA4CAF84A42D2D22648" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\DynamoConverters.xaml" />
            </Component>
            <Component Id="cmpAD5C2710791BE4350A2925CA77576FE3" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{11EA4FB7-5DCA-4261-AD88-F82A254C3A1A}">
                <File Id="filABE86A2ADE01F07D76BC3BE1C6EEDB4D" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\DynamoModern.xaml" />
            </Component>
            <Component Id="cmpDDF5AD60DD73E3BC44F99E722473CA4B" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{B9375A42-6229-4D1E-9964-B9ADCB7FDF6F}">
                <File Id="fil7A778827528071A7CFAEA01F6CA424C3" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\DynamoText.xaml" />
            </Component>
            <Component Id="cmpEE36002B6E3EC9B89F55DF3C79324EF2" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{DAE06008-FB4B-4717-B668-75A0A59F714C}">
                <File Id="fil6BA2930373C73097CAAC88752628A48B" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\MenuStyleDictionary.xaml" />
            </Component>
            <Component Id="cmp7A5FFA179C96A6020AEEBC498AE44E65" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{DBD81CD2-701F-42CD-ACBF-4B515966A4E0}">
                <File Id="fil47F1A4180D64FFD60AAB95AFC7C60A04" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\Ports.xaml" />
            </Component>
            <Component Id="cmp7594DCB71B1E606D7C939C562513ED08" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{9B741C92-B683-4F54-AAD6-38FC38AE4646}">
                <File Id="fil35C4D499D2B10869B4EF09DAC286CD33" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\ToolbarStyleDictionary.xaml" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6A8002E233B9DC8DD29EB3B5D8272254">
            <Directory Id="dir04CAA38062C0C9205415B28D99D95DD6" Name="Themes" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir04CAA38062C0C9205415B28D99D95DD6">
            <Directory Id="dir10C0914F58B12666CB59A563F64AFD72" Name="Modern" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6A8002E233B9DC8DD29EB3B5D8272254">
            <Directory Id="dir185D0502CF782C2A658979B0FB4E4A32" Name="Fonts" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir44E3DF7857FC3BBCE3CC7F8BD654D26A">
            <Directory Id="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Name="libg_220" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir44E3DF7857FC3BBCE3CC7F8BD654D26A">
            <Directory Id="dir6A8002E233B9DC8DD29EB3B5D8272254" Name="UI" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir44E3DF7857FC3BBCE3CC7F8BD654D26A">
            <Directory Id="dir6BD519554FC3D3787F7ECA1978026538" Name="nodes" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir44E3DF7857FC3BBCE3CC7F8BD654D26A">
            <Directory Id="dir8914A683AD760626B2305C4B304E5BC5" Name="libg_219" />
        </DirectoryRef>
    </Fragment>
</Wix>