<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DYNAMO_INSTALLDIR">
            <Directory Id="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Name="Dynamo" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="RELEASE">
            <Component Id="cmpCFE7A71BD950BEA0C95BD07530B3773B" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{20B879B3-E24A-4093-BEFC-632285E22E9C}">
                <File Id="fil0FDC575F287DDAB0A089A29986548CD2" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\CSharpAnalytics.WinForms.dll" />
            </Component>
            <Component Id="cmpD92EB46615A05D2E560EAB676D1F7D1B" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{37974587-EF83-4C4B-8004-152C0C2214FD}">
                <File Id="fil67E19EF12A80CEA0FB05203C3B0F586A" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSCoreNodes.dll" />
            </Component>
            <Component Id="cmpA5D18A5F652EF1E3ABBFD7F5E733E6C3" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{4911435A-5930-4523-8E72-06A7578F5096}">
                <File Id="filC19F9BE1A6948CEEF5F27F1764B02AE8" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSCoreNodes.xml" />
            </Component>
            <Component Id="cmpEBD16F8ACBEFDD24DA73A76F73283A1B" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{110BF300-D85B-48AD-8EFE-9898A5412AEF}">
                <File Id="filD7CFBE0F8C5D9ADC3DEE195350794416" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSCoreNodes_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp95B9686892E9E55A01C87041E3EEFF3F" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{5FDE4E4F-022A-4EAE-B07B-F7445B1A5764}">
                <File Id="fil434EBDA14AFE90930E7A621C5AC64BA7" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSIronPython.dll" />
            </Component>
            <Component Id="cmp411A4D0984B446D93793BDC3E05132F9" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{9E5D8876-395A-4F8E-B21F-8377839454AA}">
                <File Id="filCCCA2EA0F52D4E92107139C8F902F32E" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSIronPython_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp1D7BBABBF7F44AE42242F795AB54056C" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{A3765FC1-4642-487C-8C0A-32E129E643E6}">
                <File Id="filBBCD29C5897CB0F4BEAD5E14681DF7DC" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSNodeServices.dll" />
            </Component>
            <Component Id="cmp5A1F05E1E334740FEF5AE875B12DE026" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{53E086CC-3F7B-4AB9-A4DA-A3E58E4430CF}">
                <File Id="fil3C7531C7C3FE5719E2CD80B6610215B6" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSNodeServicesTest.dll" />
            </Component>
            <Component Id="cmp37D4B8D06102FFC64A04BBF13449DE34" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{F4D7C277-57BD-4AEA-BF75-426CDC13159F}">
                <File Id="filBB44F54FF316A3969430B1F43E332F91" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSOffice.dll" />
            </Component>
            <Component Id="cmp500E73D80A930FAFACF64080D9FA814C" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{6210A801-D9E4-44DE-8AD0-6EA85F3EED6F}">
                <File Id="fil01B7AF276AFD7026124C1945DA090AA2" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DSOffice_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmpA6C887466A06C4CC0C7B7DBA77A71354" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{890357FA-BC20-4DD1-AE44-FD97E8AD198B}">
                <File Id="filBEAEA2977A7D0FB4E6F4DE781ED65DAF" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Dynamo.cer" />
            </Component>
            <Component Id="cmpC5252D9622A0680A80E1DFEEC120DCE8" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{827B9C89-898E-43B2-9045-68326FEF41B2}">
                <File Id="fil1AA1D906455E45B7CA0668BF4CD27390" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoArduino.dll" />
            </Component>
            <Component Id="cmp65B2ECDD9E19BF8C9B7726D20BA773C4" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{67423352-1E22-4DAB-A794-0C8B3996DC0C}">
                <File Id="filAE8554AB5D47641A80D2520FB2B980B1" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoArduino.XML" />
            </Component>
            <Component Id="cmpB37EFB38349C121CDF19E76384FD0296" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{2EC3F56F-3FD8-4564-86E7-4F06CF27C4F0}">
                <File Id="fil090237915ACEA89E299ACF515FCC9795" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoCore.dll" />
            </Component>
            <Component Id="cmp4EE9F0E0AC644FFBE4F22C2520381D87" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{4CBF6C83-7BB0-4D7A-8B1C-771B273BFD24}">
                <File Id="fil95749A0E9046365325C708CBE0C1E0C0" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoCrypto.dll" />
            </Component>
            <Component Id="cmpAED10AB77F805AC6645F34251037B109" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{AC2E0546-A928-4049-AE69-1E8E82B82BB3}">
                <File Id="filA03D4478898FDADCB46A8B44C2274159" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoMSOffice.dll" />
            </Component>
            <Component Id="cmpDCC7F13A94E41D526C86F74E6E45F914" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{373E03CA-D57A-4A72-9633-AF2D116A5C6A}">
                <File Id="filFE0ACF4E3DA04EE81D738E6CA95A9EC0" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoPython.dll" />
            </Component>
            <Component Id="cmpAFFECF00151F6A1CA26E5802ED8F5128" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{704D8606-9D85-4FB2-8FFA-DB0D1E686991}">
                <File Id="fil521115E500B34B3454B17408BCF3CFC9" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoPython.XML" />
            </Component>
            <Component Id="cmpA2C09C3857624F45158D9AEB8E717AC1" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{AE5058DA-2337-4DD7-95E1-A3F52C7A8B77}">
                <File Id="fil406CC2706F3170F077E090F8875F6B4D" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoSandbox.exe" />
            </Component>
            <Component Id="cmp35D67BAED5AC7194396E8F98AEED8482" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{318999D1-9691-4E83-8ECD-3B9575D929C7}">
                <File Id="filE0221DD27AB42DB6C3FF6A5BD621BA1C" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoSandbox.exe.config" />
            </Component>
            <Component Id="cmp3A8B835E66BA1D84193378AAC2890C10" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{7F37D832-5356-4A2D-ADDD-CC0E285797C0}">
                <File Id="fil2BDD8E823D01299E40F311D05A236B36" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoUnits.dll" />
            </Component>
            <Component Id="cmp2F97B4B76EF0489CA189C73982D47618" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{33DA55A0-D1BA-4EEE-B4F7-C86B8E541B57}">
                <File Id="fil94DEC5A8914D4AF15830EB807DB348D4" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoUnits_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp587A370339C2604E5FE9D142FD50FC09" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{F2FDE1A4-42C8-45F1-AEF9-1081088E6A41}">
                <File Id="fil3F83A22ECD210CFA8FC2F6EB7D5CDFFB" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\DynamoUtilities.dll" />
            </Component>
            <Component Id="cmpD0D7AB5D5E3DE8FF9DD663B394BDC72F" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{FBEB5DD2-3BF7-435A-BBDE-1BD518AF551F}">
                <File Id="fil8F5585EA68CED42ECEDCFD5E35E3128C" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\FFITarget.dll" />
            </Component>
            <Component Id="cmp8721A1FDD624771D4EC62871E7009162" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{C053D23D-08B4-48D1-82AC-4A659B08018B}">
                <File Id="fil6AEDC202EF760492FB692F23A2025C3F" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Flatten.ds" />
            </Component>
            <Component Id="cmp2099864B01AF1A30182AB5DC62F64277" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{A4BD0599-8CFB-4139-8718-69632C864AFA}">
                <File Id="filF9542F07635A9CBB0F97F47E5736EE23" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\FunctionObject.ds" />
            </Component>
            <Component Id="cmp9E1AEFDE33A45D679BC02A7282BAAC6A" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{8A633EA1-E30A-41E1-B070-0A2A687DC91A}">
                <File Id="fil0DAC6E34DEE406C00F68BAB0B9D949B8" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\GraphLayout.dll" />
            </Component>
            <Component Id="cmp2B6D719F555CDBAE0D75904433791D96" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{BB4ACF72-83A5-42C1-BCCA-68520E053759}">
                <File Id="filECEDA3479B0A215C41042BCEDCC03154" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\GraphToDSCompiler.dll" />
            </Component>
            <Component Id="cmp9A09952B2500FB104C8F5E156090DBE4" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{F899DE78-4F67-44BA-B962-8A9712EB0B69}">
                <File Id="filEF8309348E3319CF5E52AB053CB2609D" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Greg.dll" />
            </Component>
            <Component Id="cmp545E70C90E09FC213C4B9DD4C45B3C8D" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{CA0096F0-0FAB-40E2-B757-C6676DE1818F}">
                <File Id="fil6EBB45D321ADDABB227AE82744E96D99" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\HelixToolkit.Wpf.dll" />
            </Component>
            <Component Id="cmp046D4326BD7D6C6D8EBC81C1BDBB5648" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{4064C539-8C42-4346-8262-6B6C24907DD2}">
                <File Id="fil9962C1653C2D374A125EC3FF9A234C5F" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\HelixToolkit.Wpf.xml" />
            </Component>
            <Component Id="cmp8C23EFF3AA1FCD025AC2D7FB7C77A748" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{597302B9-AD9E-467A-94FA-CAB17C4CB118}">
                <File Id="fil97DC1AAE4EDA9D79DAAD4BA5EC7A8BE8" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ICSharpCode.AvalonEdit.dll" />
            </Component>
            <Component Id="cmpE237FCC2FD6C423F8C20218990CA3EC5" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{26849413-789D-48B8-87B9-B1B8C6AACFC9}">
                <File Id="filED059FCF7AC3686C8CB970F5C3B6E89C" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ICSharpCode.AvalonEdit.xml" />
            </Component>
            <Component Id="cmp6ED2BDF94DD486BA567C39AC2DFB7754" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{EE982078-3B72-44A9-A8CF-CA371912C845}">
                <File Id="fil6BB4825B215E8822E67CC5A5B2C840D0" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\InstallASMForDynamo.exe" />
            </Component>
            <Component Id="cmpB20F9A31C1B087C38202F528479524AE" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{E146283C-F077-4079-A11B-5419663C6A2C}">
                <File Id="fil73802CB0D0CAA8F3986B1F83ABFCC641" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\InstallUpdate.exe" />
            </Component>
            <Component Id="cmp90FDC339E80BD82CE0C594CDF20B1A2D" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{8F63C0C1-42D8-41E3-BA6A-EBE73C272746}">
                <File Id="fil0148A041EB0F99FA66494AD4A69F4ACE" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\InstallUpdate.exe.config" />
            </Component>
            <Component Id="cmp52BA58274BD8173509E19FBAD20D54C7" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{3D46544E-7112-42FE-A851-2B4B619F3AE5}">
                <File Id="filD8906A5FF78DAC8D3648CCCA2AE394B5" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Ionic.Zip.dll" />
            </Component>
            <Component Id="cmp0D182D2185CC2781FF3F88E6201C5C81" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{DBF70E62-0AAE-4BEA-87A7-46BA91730C81}">
                <File Id="fil64F7B6054F22BAC92A73FA986A6A2BA7" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\IronPython.dll" />
            </Component>
            <Component Id="cmpEEF1E73B8947CA3F13B853173BB7B9A6" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{54E5D749-98B5-49E9-A6B9-1376592720BA}">
                <File Id="fil4E0AA160CCFB4DD300124A4515460DB4" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\License.rtf" />
            </Component>
            <Component Id="cmp04F703D9BC4EAABFF9AB2800E9174603" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{DFEBD574-253E-44CF-A44F-5235B4235B01}">
                <File Id="fil46C44DCCCF01AFA6E07A3A14FBDB3335" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\MIConvexHullPlugin.dll" />
            </Component>
            <Component Id="cmp9A324CD04CE1EC895DC660959B76469B" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{11C1FE11-6E66-46E4-A96D-1748070B475F}">
                <File Id="fil234EBD5F1C3C55F9633D83A974137431" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Microsoft.Dynamic.dll" />
            </Component>
            <Component Id="cmpD911BC3DB888D04DF21A4B044985C239" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{09AF3A9A-3D86-4731-86D5-B27D4A14F496}">
                <File Id="fil0DCBE618B65774B6F3C737D7BF8BBC29" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Microsoft.Office.Interop.Excel.dll" />
            </Component>
            <Component Id="cmp80D120874D4C781D2472459D86ACE68F" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{5B90D332-6D3E-4F9E-AE02-694E4FE8040B}">
                <File Id="fil7CE0DA284F4B528585E5C3FFE964A50C" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Microsoft.Practices.Prism.dll" />
            </Component>
            <Component Id="cmpFF9D8C96A8C0EE481170897DD3D66234" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{FB0F6668-490F-4431-8C56-01803E2E9901}">
                <File Id="fil3AF7BAE7CBA3494765E17E235F23C494" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Microsoft.Scripting.dll" />
            </Component>
            <Component Id="cmp23112F834150F5E24137C8849634ADB0" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{4906D9A3-9893-41B6-B48D-0D460AD01961}">
                <File Id="filB0F452175F1825019BF20D3A585BE947" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Microsoft.Scripting.Metadata.dll" />
            </Component>
            <Component Id="cmpAB291FB8FF3AE453829E949357B499AA" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{3E7F673E-E9D8-4D8B-A89C-1495EF3F1164}">
                <File Id="filDBB32DB8CBA84F9CB7B4680E601F0366" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Microsoft.Vbe.Interop.dll" />
            </Component>
            <Component Id="cmp0CB32BFC9A928E151E187A617ED0030B" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{4C260BE5-F2D8-41BE-9513-E0B60FE94E7C}">
                <File Id="fil298044D68B27E4D291E231970C6E9541" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Moq.dll" />
            </Component>
            <Component Id="cmp34042504E9597FF6AB56788232F29CA2" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{76108851-42D3-4E96-9ED1-CCE286905B6C}">
                <File Id="fil7DE171D6BAD7195AF0F46FA652F7813E" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Moq.xml" />
            </Component>
            <Component Id="cmpDD044E5DCA894C6BC4099D5CCAF0A586" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{B45F1B96-19C1-456F-B3CB-F6EE82D79409}">
                <File Id="fil1CDF7CCF7E9F7E913CE686C684E5272A" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\NCalc.dll" />
            </Component>
            <Component Id="cmpD897E9B481D2D8A2B17D31AC1FCA6DA9" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{8B9731D2-DD83-47DF-8DAF-2BB58FC41E5B}">
                <File Id="filE96D5BBA667BB88818163934AD696314" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp73380F6AB2625249B5AF1661D041385F" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{D439EDB7-CA3E-49C5-840E-6B73FA2A99FE}">
                <File Id="filFB26F726A0B58B1A0B52B3F925BF0914" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmp727076549B9D02DBD6E9B135D4151406" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{4ACC58BB-E4F8-41E7-8ACD-1785949DADEB}">
                <File Id="filFACDE9F865E8E110DA6B0D9D26CCB999" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nunit.framework.dll" />
            </Component>
            <Component Id="cmp91FB31F6BDB683195F97D6A2D4EBD221" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{AA898369-77F4-452A-A741-4AF32A16BA7A}">
                <File Id="filCD1258817397EBFD62DC735A1F0F89B3" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nunit.framework.xml" />
            </Component>
            <Component Id="cmpBB0FD56403CDC17835E7FAE3A69E91DE" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{49CEADAD-9F8D-4C10-B76B-1308A0C7E42E}">
                <File Id="fil2216709EE8258BF3C963AE417BB96938" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Office.dll" />
            </Component>
            <Component Id="cmp4C32673EBF8F45484561735E3645BD8F" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{CAADC0BC-9CFD-4A35-9FBF-E714C18D28F0}">
                <File Id="fil4FBE3A06EE1E378E1CD956726D9F9497" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Optimize.ds" />
            </Component>
            <Component Id="cmp1CA515ED4986847DED7D01408569B8E9" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{7B5B0DA8-2463-4667-BD9F-BCF4FC4F9EA4}">
                <File Id="filB125CF4AC82E94ABA619F14A1E839CA1" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoAssociative.dll" />
            </Component>
            <Component Id="cmp05752A8B47F20312A0ED386A581D1357" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{EEF52D73-4098-479E-8ACF-C484CCA134F3}">
                <File Id="filF0A0A65D7E21C0A2762FCACCA6F4972C" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoCore.dll" />
            </Component>
            <Component Id="cmpA30A02AE0F91398A16FFC93A1752194C" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{4898CFCD-BEF2-44A3-BB3F-46B23C343062}">
                <File Id="fil723EB9942682A02F47EE157A979105C2" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoGeometry.config" />
            </Component>
            <Component Id="cmp241538E5B4E91A2BFFB706B145235F95" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{A5D0C267-BDD8-44F0-AB5F-3283547E5D16}">
                <File Id="filA3B8A57D65E1C1A0FD9E14DCC9E2FF47" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoGeometry.dll" />
            </Component>
            <Component Id="cmpF9F3367E25A39CF4B0217251C0F13343" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{1574FF5C-D0CA-46DC-B18E-CF0DAE32E971}">
                <File Id="filC10B0606F1C51CE3A1C5B3D291570767" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoGeometry.XML" />
            </Component>
            <Component Id="cmp8A4D0BF5AA1EF1451A323CC4D1E4FB31" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{05C056A5-ECF7-480F-8F64-DF537118C058}">
                <File Id="filDA04199F000A390B97E81AD24AEA73EC" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoGeometry_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp29D7AEC1CB62D68CFB72AAA04CA608E8" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{B1916BE9-870C-47C1-90E7-F2FD33AA6283}">
                <File Id="fil99486055AEEA6776926E9C03F8137E2D" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoImperative.dll" />
            </Component>
            <Component Id="cmpCF2024D9A3A2955F7D7E1D8479C3743D" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{163AF549-9FDC-411E-A2E0-ADA5546B89FE}">
                <File Id="fil47E9A483503CD4C838F0B5E9E5A2EF2C" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoInterface.dll" />
            </Component>
            <Component Id="cmp024655D305344F2D6E7BDEEA3153FBF0" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{9DD9DA8E-38C9-4849-AF94-FFC3B0FDB594}">
                <File Id="fil40D5DFC55C22365B207E2991EC8621FA" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoScript.dll" />
            </Component>
            <Component Id="cmpF566110BB001C20FC8A18164D360532A" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{080CF753-341D-4602-9392-F591C46BD631}">
                <File Id="fil222262089C16CC7558AD863837F2A8AA" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoScript.dll.config" />
            </Component>
            <Component Id="cmpA483853DE13A936B7F9DB9114B6F6C67" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{C2C02A65-240C-4CF1-8928-0268210A4A9E}">
                <File Id="filDBCBDDCAE3409CF56AF888A012291D53" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoTest.dll" />
            </Component>
            <Component Id="cmp225867EBD4EDD4374451BD1643DD0A28" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{9FC4921E-03B4-4323-816B-08819345C71A}">
                <File Id="fil9CA0FD97EE3F55AEDE3BA95D4B14E3CD" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoTestConsoleRunner.exe" />
            </Component>
            <Component Id="cmp2F57638971B3FD7566DEF06E3F9E5467" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{41BC4D97-20B8-4C18-8A35-6EBDB5A51FBD}">
                <File Id="fil1DC7E683FBB9965D6ABF56746DF248E4" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\ProtoTestFx.dll" />
            </Component>
            <Component Id="cmpDB5470B4823227FC743E7D3AF75B7DD1" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{4F512F13-D1A9-485A-89E8-D21E5E083194}">
                <File Id="fil2672F8FC77C15A33FAAB02F1E098BBDE" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\RestSharp.dll" />
            </Component>
            <Component Id="cmpB806092C61A4AFEE6A9ABC5952C258B1" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{3292CA1B-F98C-47D6-9B15-AA6D94245391}">
                <File Id="fil3C0447F5144FF134E5E033AAD6E8841A" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\RestSharp.xml" />
            </Component>
            <Component Id="cmp9AAAE59B7F425CCBF18F9B2CB28C2E73" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{B1E51EED-C6D0-45BC-8667-591D3312B55D}">
                <File Id="fil9DC3D015E85EF91656C8602966B78AA5" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\SimplexNoise.dll" />
            </Component>
            <Component Id="cmp71AFFDA7B0F29E01C3ACF85A64047E50" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{8223832B-4D69-4F65-8EBC-FCCB8C11F1D5}">
                <File Id="filF0AD7C92F3DC7A21F46113554F3339E2" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\System.Net.Http.dll" />
            </Component>
            <Component Id="cmp30C419562AFAE1860D1513324946370D" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{8786C137-9F59-425C-B5A3-D9C6FFCC3C8A}">
                <File Id="fil569F29D13140D6718951EC3520D63414" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="cmpD2AF45B59FDC0B6583D2EB6A039D4F75" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{B83C9C75-0742-45F3-B4AC-9C464D8AA514}">
                <File Id="filD16D4DE95D1F3C32ECBBB055DAA1419E" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Tessellation.dll" />
            </Component>
            <Component Id="cmp21C23C4AC0E94F59BAD6728F989CD4A6" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{23237864-D0AA-43F2-BBA6-C684AE270E63}">
                <File Id="filAA935D4EE62772FC0198F9E544BD6E8B" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\Tessellation_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmpE9A8CEF025AED0B5D5ED7E861E0FFBCD" Directory="dir44E3DF7857FC3BBCE3CC7F8BD654D26A" Guid="{068BE59E-E538-4389-96F6-E41B6B61E14B}">
                <File Id="filEB6CB5333DD69D0BE124E693DF35CF6C" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\VMDataBridge.dll" />
            </Component>
            <Component Id="cmp0325F5D0A9F9DEF490B47FA69D3E0808" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{E887F991-88EC-4D18-BE07-67E5303E5293}">
                <File Id="fil94958C57915C583D0A94DE88B11CA4D6" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\boost_chrono-vc100-mt-1_51.dll" />
            </Component>
            <Component Id="cmp4C452B5E27FE7D12F037AE9A38CA0838" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{A1A95F2E-A6FD-42FC-840B-C8AF2B48A4AD}">
                <File Id="fil7CCAD26E251DEEA8B9E9DFC3883EE221" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\boost_regex-vc100-mt-1_51.dll" />
            </Component>
            <Component Id="cmp7C1DD667BB79086003559B473096F143" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{02ED099D-9CA6-4E4C-A80A-65DB17651A76}">
                <File Id="fil7A55E0AB74EA14260D3EEDF3B65A2E7F" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\boost_system-vc100-mt-1_51.dll" />
            </Component>
            <Component Id="cmp37EC392E543DF460B7CCD47D6AFB2BA4" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{DC9D114A-B375-479A-B38F-FBA193055F3C}">
                <File Id="fil929543D2748EDDADE679A53B29DFCB09" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\boost_thread-vc100-mt-1_51.dll" />
            </Component>
            <Component Id="cmp9512EB17B4F5F95D9D717974A0E48095" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{31013D32-4777-4FBD-88D6-C84187447CC4}">
                <File Id="filA45CEEF715CFA59E39EFDE5B9D3360DF" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\LibG.dll" />
            </Component>
            <Component Id="cmp8A452A0BA0FC9D7C1C1C093F601B80BB" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{C4DE443D-3FFC-43CC-A6D3-B85F9AB28F75}">
                <File Id="fil3E66A8AB4AEA2BE0058FEE5CB6C71757" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\LibG.Managed.dll" />
            </Component>
            <Component Id="cmpB62067CE17A69B6E04E96BA517F36F84" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{D640AF7B-183E-4C4A-AD83-F92941985602}">
                <File Id="fil51CB34823CF90979C7B542BC2191D94D" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\LibG.ProtoInterface.dll" />
            </Component>
            <Component Id="cmp7B52B461C8F15F6F71E843E50096A095" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{E197AA64-1E26-4044-9382-410B9A4AFC88}">
                <File Id="fil9D2241A5E520E468B71EF8571B7525FD" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\LibGCore.dll" />
            </Component>
            <Component Id="cmpFB05EB94FE988E13D2D2938E1AA093F8" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{E03F0C1E-79BF-4129-9EEB-7B4454A7BE6A}">
                <File Id="fil46A274FFE47B0CF95467FA5D1415CC04" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\msvcp100.dll" />
            </Component>
            <Component Id="cmp1E94C70E38309751B3CE23B00934782A" Directory="dir8914A683AD760626B2305C4B304E5BC5" Guid="{275B936E-E7B4-4B58-AD7C-9AB35EA684DC}">
                <File Id="filC0C24D4DE425C4BD4DC862FA3D1C0C17" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_219\msvcr100.dll" />
            </Component>
            <Component Id="cmpBA08DC529851DE3AC4FCEE4420AE6FA3" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{C7DE9199-0F15-45C2-8D4D-EB7CC33EC780}">
                <File Id="fil51D6F2DAC94811A376EF40840E97A862" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\boost_chrono-vc110-mt-1_51.dll" />
            </Component>
            <Component Id="cmp3754B990322BF62F0F3C4ABEBED7E332" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{BA84EA7F-E82B-4A8A-B459-861776ABCB08}">
                <File Id="fil77D3A8245D6186703605D50B9C855B5F" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\boost_regex-vc110-mt-1_51.dll" />
            </Component>
            <Component Id="cmpD487F1D58181781081AF656FD9677986" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{27E39A9B-B376-408B-8984-9CF5134194C4}">
                <File Id="fil8EC35834160D0FBDC84DE3A1B9927265" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\boost_system-vc110-mt-1_51.dll" />
            </Component>
            <Component Id="cmp90FB13AB33D508925F1906650BF435E3" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{2F33EED2-9372-46B5-B093-96DC8D192E63}">
                <File Id="fil4A6505BF4C629FBB55C402836382E474" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\boost_thread-vc110-mt-1_51.dll" />
            </Component>
            <Component Id="cmp601E363364391921F3E65F464DFF8920" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{3C48B6BD-E726-4A11-A775-EB8D879ED219}">
                <File Id="fil21A97F61B4A4677C68BF97F041D4F746" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\LibG.dll" />
            </Component>
            <Component Id="cmp71D0DEED1B0E2609A2DBA8C500E6CE80" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{EA40C443-DC59-4817-BE51-8C6231561E31}">
                <File Id="fil357C59941686EC8F62213C110170A427" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\LibG.Managed.dll" />
            </Component>
            <Component Id="cmpC46CEC28037B66EC52A388F767608196" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{842F0680-75B9-4B5C-BA59-22BE1B32D460}">
                <File Id="fil1D8E93CB0717CC9365BD1CBFAB24AC61" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\LibG.ProtoInterface.dll" />
            </Component>
            <Component Id="cmp4FDFCF66D74DBB1ABCA1E02B6FCA1338" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{177A9893-8CF3-4ADC-86FB-76456CD72BFE}">
                <File Id="fil54CEDA1F2D1DB18AF86292C36534B792" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\LibGCore.dll" />
            </Component>
            <Component Id="cmpEF26BA3A261D2BF420802F78D65DE2CD" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{1F6ADD25-A860-4B16-B440-A5B8C0D921A7}">
                <File Id="filEA4819EBCADEA388109B96E6EB62B23A" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\msvcp110.dll" />
            </Component>
            <Component Id="cmp42E08C7892F2D83BF1B52A1F7D7E1437" Directory="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Guid="{61FE5B44-C588-4221-AD7D-F0032C0434FB}">
                <File Id="filB3680DC3AC0B8DB9037742C0D935F776" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\libg_220\msvcr110.dll" />
            </Component>
            <Component Id="cmp9FB2C58190A520D06B07AD4C5063AB3C" Directory="dir6BD519554FC3D3787F7ECA1978026538" Guid="{9C0467C0-8A0F-47B1-A242-34EF9C075DF4}">
                <File Id="fil424689B2BFB04D08FF1A6F1EC14D8920" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nodes\DSCoreNodesUI.dll" />
            </Component>
            <Component Id="cmp051D3B796123565A7E735226CD228922" Directory="dir6BD519554FC3D3787F7ECA1978026538" Guid="{08F91076-9AA7-4AE1-9608-F5EF722A954C}">
                <File Id="fil2181FDAAFA4F78E7FF630FB69E744F0F" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nodes\DSIronPythonNode.dll" />
            </Component>
            <Component Id="cmp06E4F07D2BB3994E338EB4BFC4CE4F6C" Directory="dir6BD519554FC3D3787F7ECA1978026538" Guid="{88D17A47-EEC5-43D3-9F38-D9F8638F8BE4}">
                <File Id="fil2C66AD32D3F9295BB29E2FDBFD9110B0" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nodes\DynamoWatch3D.dll" />
            </Component>
            <Component Id="cmpC1827B70DF2EF830F2526B2078E81E5C" Directory="dir6BD519554FC3D3787F7ECA1978026538" Guid="{A7F2D702-96A5-4561-8F2F-DEF0A04058A9}">
                <File Id="filFC836FA43B89C9762C0BDFED115DEDD4" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nodes\Migrations.dll" />
            </Component>
            <Component Id="cmp18F8A6E46F1683A3DFC59BBAC3D4BC4A" Directory="dir6BD519554FC3D3787F7ECA1978026538" Guid="{F7E62965-6558-4F98-B763-8299596F96D6}">
                <File Id="filBC00406C54132CF7FE24E1A28C660B0E" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nodes\ProtoCore.dll" />
            </Component>
            <Component Id="cmpC0A703EBFFB89FAE4BCE28A105D5E1C9" Directory="dir6BD519554FC3D3787F7ECA1978026538" Guid="{0A697473-559D-4188-AD74-50A2CB2C8B32}">
                <File Id="filB9442240D5DE6FD8C1803743B5200A0E" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nodes\ProtoInterface.dll" />
            </Component>
            <Component Id="cmp4FAA8E9573BCEF67115AC10037887CB9" Directory="dir6BD519554FC3D3787F7ECA1978026538" Guid="{4D536787-06E5-4041-AB92-44093C7BEEC7}">
                <File Id="fil49306831E06F559B5E281DDD1A9CF0BB" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nodes\SamplesLibraryUI.dll" />
            </Component>
            <Component Id="cmp77E9DA3D06CF286D9A7F5D1D5DA06C37" Directory="dir6BD519554FC3D3787F7ECA1978026538" Guid="{CE0A47CD-FA54-4936-A775-81024CEFEC06}">
                <File Id="filA7018DB119AC35341BFFB583E0F5F05A" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\nodes\UnitsUI.dll" />
            </Component>
            <Component Id="cmp5573CB9E48330CDCB60BA92792893979" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{0555CB8E-0CFB-4B24-9E0B-75B74A4342C3}">
                <File Id="filF16E4829A6AE343F76D0E11677742BF0" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-Bold.ttf" />
            </Component>
            <Component Id="cmpBD9DA49C7BEC5F88ECF8DC4C603DD6BD" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{22435C1C-CBBB-4737-B682-C43175431E67}">
                <File Id="filB09C9F30D111BEB4E28A30AF7EF65C6D" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-BoldItalic.ttf" />
            </Component>
            <Component Id="cmp8CB2FB7D437F834D9F2D7DEFEEB79FF1" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{B84AEAE5-8DF8-4A07-B246-ABE8D44EE30F}">
                <File Id="fil45210D79DD5CB0165837465641A275A1" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-ExtraBold.ttf" />
            </Component>
            <Component Id="cmp3C59F609C5C986F55FCAE7BD3C6E86C1" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{9A7C1DA3-4F3B-445D-BB25-BE37D1474B43}">
                <File Id="fil04D9F3B666DE749C92E663BD611F4767" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-ExtraBoldItalic.ttf" />
            </Component>
            <Component Id="cmp941410E568DC2508AE51EE530B65867C" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{54CF7C45-90A3-4BA2-AA17-A30CA37FDE40}">
                <File Id="fil434044AC4C97BA41BDCF4FA065FD920F" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-Italic.ttf" />
            </Component>
            <Component Id="cmpEE03F55685630C712A74F5676954EACA" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{D97BF08F-6D5F-4EFB-AB1C-03497CAD7792}">
                <File Id="fil209CDE1F57D3D9A58297D85D9E49AF35" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-Light.ttf" />
            </Component>
            <Component Id="cmpF6C78B6593FECC5A8CF4B4447B6C2A3C" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{B510D778-B668-49D1-A5CE-C221AF8D3C23}">
                <File Id="filB4BCA88B3DD5C13FE9BB4FFD782FC344" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-LightItalic.ttf" />
            </Component>
            <Component Id="cmpFABFF493F95B96231F20F816C5ACC0AC" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{6330CE52-4E9B-4843-B933-6CE3BB0794D6}">
                <File Id="fil4C9BA75C5C43BAF6F8C7DC18E416049C" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-Regular.ttf" />
            </Component>
            <Component Id="cmp1377FF50FB0372653612C0FDF94502DC" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{1D947F0E-9A5A-474F-A7D7-44D56495422D}">
                <File Id="fil7C8C55CB76AA1840264713C78054DA13" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-Semibold.ttf" />
            </Component>
            <Component Id="cmpA34DADC1849FFF62D5081688D42EDB42" Directory="dir185D0502CF782C2A658979B0FB4E4A32" Guid="{B946AC15-BFE9-40B6-A8BC-08E091F2F65B}">
                <File Id="fil4AFE6FFF635DF42BC4384D676885F111" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Fonts\OpenSans-SemiboldItalic.ttf" />
            </Component>
            <Component Id="cmp761C436EB0F53496888486A1BF9EED2A" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{536D38A9-3FBD-44BF-87B1-4B526123D74E}">
                <File Id="filAF8D91EDDF5A1396F2962D2235A356A2" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\Connectors.xaml" />
            </Component>
            <Component Id="cmpA51BB0E2321D0B55C792B492290B26D9" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{FD26F723-6401-42A8-AEFC-30AC75306C0E}">
                <File Id="fil598D1FFF4C2E4E6E4572A5550A1F16B5" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\DataTemplates.xaml" />
            </Component>
            <Component Id="cmpC45B3B46B628134E313D8CF0D7D5477B" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{4A2E5F87-BE16-4662-BECA-52873E1B5C6F}">
                <File Id="fil477F5C0EB4FA2EE230E657F6324F8F4F" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\DynamoColorsAndBrushes.xaml" />
            </Component>
            <Component Id="cmp289C9FD9FB7AA7DE20A024B70F3CC39A" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{535381EB-1784-4F8C-9A29-D873540F987D}">
                <File Id="filDB727BD5DA3EDFA4CAF84A42D2D22648" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\DynamoConverters.xaml" />
            </Component>
            <Component Id="cmpAD5C2710791BE4350A2925CA77576FE3" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{EC48498A-CA7E-4C8D-A709-D4235C13D821}">
                <File Id="filABE86A2ADE01F07D76BC3BE1C6EEDB4D" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\DynamoModern.xaml" />
            </Component>
            <Component Id="cmpDDF5AD60DD73E3BC44F99E722473CA4B" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{FDC55203-D417-4032-8396-7FC45C5161B1}">
                <File Id="fil7A778827528071A7CFAEA01F6CA424C3" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\DynamoText.xaml" />
            </Component>
            <Component Id="cmpEE36002B6E3EC9B89F55DF3C79324EF2" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{DBF3AA8D-4478-4C81-A5CE-C5DD3FCF0751}">
                <File Id="fil6BA2930373C73097CAAC88752628A48B" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\MenuStyleDictionary.xaml" />
            </Component>
            <Component Id="cmp7A5FFA179C96A6020AEEBC498AE44E65" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{8472FA39-155D-4C8F-BA2B-98B4D76937A2}">
                <File Id="fil47F1A4180D64FFD60AAB95AFC7C60A04" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\Ports.xaml" />
            </Component>
            <Component Id="cmp7594DCB71B1E606D7C939C562513ED08" Directory="dir10C0914F58B12666CB59A563F64AFD72" Guid="{867E93E8-EA19-4A22-AB75-60425D344524}">
                <File Id="fil35C4D499D2B10869B4EF09DAC286CD33" KeyPath="yes" Source="$(env.DYNAMO_HARVEST_PATH)\UI\Themes\Modern\ToolbarStyleDictionary.xaml" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6A8002E233B9DC8DD29EB3B5D8272254">
            <Directory Id="dir04CAA38062C0C9205415B28D99D95DD6" Name="Themes" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir04CAA38062C0C9205415B28D99D95DD6">
            <Directory Id="dir10C0914F58B12666CB59A563F64AFD72" Name="Modern" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6A8002E233B9DC8DD29EB3B5D8272254">
            <Directory Id="dir185D0502CF782C2A658979B0FB4E4A32" Name="Fonts" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir44E3DF7857FC3BBCE3CC7F8BD654D26A">
            <Directory Id="dir1F5FDFD2BDC4748A69E6136FCA6680BF" Name="libg_220" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir44E3DF7857FC3BBCE3CC7F8BD654D26A">
            <Directory Id="dir6A8002E233B9DC8DD29EB3B5D8272254" Name="UI" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir44E3DF7857FC3BBCE3CC7F8BD654D26A">
            <Directory Id="dir6BD519554FC3D3787F7ECA1978026538" Name="nodes" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir44E3DF7857FC3BBCE3CC7F8BD654D26A">
            <Directory Id="dir8914A683AD760626B2305C4B304E5BC5" Name="libg_219" />
        </DirectoryRef>
    </Fragment>
</Wix>