<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DYNAMO_INSTALLDIR">
            <Directory Id="dir2EA68AFAAB12AA7DFCF8A9B0F7597270" Name="en-US" />
            <Directory Id="dir04DB6BCB40E05BE134EFE73CD26B8EDE" Name="libg_219" />
            <Directory Id="dir9174EDB77262E5B4044B87DF3BEDFBA4" Name="libg_220" />
            <Directory Id="dir564241F56AF1FEDDDAE049DE2B45F92A" Name="libg_221" />
            <Directory Id="dirAE06B4D704DE901745ED8F345B11089E" Name="nodes" />
            <Directory Id="dirF6920896D148DCF9DEA4F04424460300" Name="UI" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="RELEASE">
            <Component Id="cmp86BC720E8868DBD7D8CC89DC08F2BE7C" Directory="DYNAMO_INSTALLDIR" Guid="{C9FA3A94-D5BD-44CD-9DFC-628C51273575}">
                <File Id="filD69C91F8AAA1EBF6E8A35DB5446D1B2F" KeyPath="yes" Source="$(var.harvest)\Analysis.dll" />
            </Component>
            <Component Id="cmpB72BDDC3C552C9A7D551D5E2162B2FF1" Directory="DYNAMO_INSTALLDIR" Guid="{5D5916AB-6812-41BB-A18D-0663A5B1EA24}">
                <File Id="fil518D61035BA8E84832873CD5AB1846B5" KeyPath="yes" Source="$(var.harvest)\Analysis.xml" />
            </Component>
            <Component Id="cmp327C3E354D996D73E06182A593386FFB" Directory="DYNAMO_INSTALLDIR" Guid="{6F603A39-F565-4B7C-B45B-E9A93EAE384C}">
                <File Id="filBF47073B4DE811C288D8A7B1BAD3847D" KeyPath="yes" Source="$(var.harvest)\Analysis_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp3E2251A86474CE7FEE5AAED57F9711FA" Directory="DYNAMO_INSTALLDIR" Guid="{DB80DC18-B864-4BF0-A567-A096809AE950}">
                <File Id="filF5C5F84A8BD5990F8544B36359C3769D" KeyPath="yes" Source="$(var.harvest)\CSharpAnalytics.WinForms.dll" />
            </Component>
            <Component Id="cmp43D6D40B23F33FA34AE01B144CA66104" Directory="DYNAMO_INSTALLDIR" Guid="{C884AD1B-4B26-4E6A-8A7F-390838CE7799}">
                <File Id="fil573E38282467926B0879C1DA8502E443" KeyPath="yes" Source="$(var.harvest)\DSCoreNodes.dll" />
            </Component>
            <Component Id="cmp4085DFF8F58DCE6EDCA13D4C937A2EAC" Directory="DYNAMO_INSTALLDIR" Guid="{86B35EAC-446A-4465-B664-466AA2F5F5C7}">
                <File Id="fil2F73F6526BDA70423E758B92917C9BC8" KeyPath="yes" Source="$(var.harvest)\DSCoreNodes.xml" />
            </Component>
            <Component Id="cmp4CB65EEE800DB6C1111C1147CDA76100" Directory="DYNAMO_INSTALLDIR" Guid="{053D0253-7BE2-4360-8DFE-6F5A9D8AFC12}">
                <File Id="fil93180DABF0527AA65B692B758E63CF28" KeyPath="yes" Source="$(var.harvest)\DSCoreNodes_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmpB85EA291976D8837817C09827F3BE669" Directory="DYNAMO_INSTALLDIR" Guid="{C5CA8943-74B1-4ED8-A574-C88CF34C3C23}">
                <File Id="filE3779CCECCD36C31098EAA0FC51D4D9C" KeyPath="yes" Source="$(var.harvest)\DSIronPython.dll" />
            </Component>
            <Component Id="cmp685D22A49A3A54E2B630000C1DF75E8A" Directory="DYNAMO_INSTALLDIR" Guid="{8B7EAF03-0A30-4B96-9305-29B761B426BB}">
                <File Id="fil33621636D533479E7FEC0868843899F3" KeyPath="yes" Source="$(var.harvest)\DSIronPython_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp0A5C13A52E1356883007539729F94096" Directory="DYNAMO_INSTALLDIR" Guid="{4CA38B13-A51B-4415-9611-C250CDE7AD85}">
                <File Id="fil0B7D96E405588CF0714E5591E9AC0322" KeyPath="yes" Source="$(var.harvest)\DSNodeServices.dll" />
            </Component>
            <Component Id="cmp3ECBEF8BB16B0BEF6F50ABD288CBA6E6" Directory="DYNAMO_INSTALLDIR" Guid="{393E80A9-C884-4B66-A429-8C71B1B697EB}">
                <File Id="fil9E8B31A2078A3F9637A40D1AE847CA75" KeyPath="yes" Source="$(var.harvest)\DSOffice.dll" />
            </Component>
            <Component Id="cmp1738FE423009066BEC5C877B552FE51E" Directory="DYNAMO_INSTALLDIR" Guid="{149FE070-D159-4D63-B431-2937F190623B}">
                <File Id="fil42AFAA7E8B2B34D99C87DC7A442C24D0" KeyPath="yes" Source="$(var.harvest)\DSOffice.Migrations.xml" />
            </Component>
            <Component Id="cmpA6070ACB20F2F9D8D55BDAF37EF342D8" Directory="DYNAMO_INSTALLDIR" Guid="{B92DF613-445E-4D8B-80EB-A3F6A4970D44}">
                <File Id="fil7982CAE8C290E2B9E4033A737A59880A" KeyPath="yes" Source="$(var.harvest)\DSOffice_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmpADCBC3193256B15366F6E2F79B72495B" Directory="DYNAMO_INSTALLDIR" Guid="{691CEB75-8CF2-4EDB-ABE5-464ECCFD0DD1}">
                <File Id="fil32FE90BB0EA1BC5BB1F16264A59EC3E2" KeyPath="yes" Source="$(var.harvest)\Dynamo.cer" />
            </Component>
            <Component Id="cmp63751B213DD772845142149EBBDD722E" Directory="DYNAMO_INSTALLDIR" Guid="{77640F1C-F9C7-4B65-AC6F-639896FF570E}">
                <File Id="fil939AD32D5863C404DC806203090FE059" KeyPath="yes" Source="$(var.harvest)\DynamoArduino.dll" />
            </Component>
            <Component Id="cmp98B8E8140CFEF4BF528F07286B1FCEED" Directory="DYNAMO_INSTALLDIR" Guid="{AA10E169-9B09-4A72-A17F-9227EDDDB889}">
                <File Id="fil372C52E437899FA361986420412EDFA7" KeyPath="yes" Source="$(var.harvest)\DynamoArduino.XML" />
            </Component>
            <Component Id="cmpCE27BF42E626182BDB8999BFDF380B1D" Directory="DYNAMO_INSTALLDIR" Guid="{5EEF939A-B9B7-417C-AD26-3ED300F4B0C2}">
                <File Id="fil065B7471CDA6BEF82C9E704BCFF26F09" KeyPath="yes" Source="$(var.harvest)\DynamoCore.dll" />
            </Component>
            <Component Id="cmp364E03AF83E1802D11FAF87B3626636C" Directory="DYNAMO_INSTALLDIR" Guid="{264565F5-D8AB-4D9D-92D5-9366F75A7C33}">
                <File Id="filF10ADB1EDA45C6DDB76F6DEFA709431C" KeyPath="yes" Source="$(var.harvest)\DynamoCoreWpf.dll" />
            </Component>
            <Component Id="cmp89A93225DCA34DE098ABBD977551EA63" Directory="DYNAMO_INSTALLDIR" Guid="{21FA9490-8211-407E-BC17-0EA38DD0C237}">
                <File Id="fil420F1CAA6F9F17D21B969D8FF61A810F" KeyPath="yes" Source="$(var.harvest)\DynamoCrypto.dll" />
            </Component>
            <Component Id="cmp303CCF1A3A3EDB28DF960E9AF1CC29F3" Directory="DYNAMO_INSTALLDIR" Guid="{91B8A18A-6929-4BED-817E-6B87D0823E39}">
                <File Id="fil7FBBD5F3B7BA5965C7A39361DD93B486" KeyPath="yes" Source="$(var.harvest)\DynamoMSOffice.dll" />
            </Component>
            <Component Id="cmp7AEC0601C98D78F427EA973846045D40" Directory="DYNAMO_INSTALLDIR" Guid="{76B901D1-B109-4073-BAE6-F7AA9A447F05}">
                <File Id="fil03F1F18324BDF4E3901183729F467072" KeyPath="yes" Source="$(var.harvest)\DynamoPython.dll" />
            </Component>
            <Component Id="cmp060C6F51B39BE61D171F7958C214F1DF" Directory="DYNAMO_INSTALLDIR" Guid="{05C2C9F6-1240-497F-9B35-1DCB022776F1}">
                <File Id="filCE82F12CF5DEB87418E7F7763CFE57CF" KeyPath="yes" Source="$(var.harvest)\DynamoPython.XML" />
            </Component>
            <Component Id="cmp7047767F654E84578A269DB2428AA30A" Directory="DYNAMO_INSTALLDIR" Guid="{31815376-2BCB-4FBA-BC94-BC79E822EB60}">
                <File Id="filB2F2BB30ADF6B505897C845E80669669" KeyPath="yes" Source="$(var.harvest)\DynamoSandbox.exe" />
            </Component>
            <Component Id="cmp922F23F912E6F762FB86E68BB1EF5698" Directory="DYNAMO_INSTALLDIR" Guid="{85152257-460E-414B-86D8-7A6207752702}">
                <File Id="fil0A11922E6DA127AFE7B898FB5C7C6858" KeyPath="yes" Source="$(var.harvest)\DynamoSandbox.exe.config" />
            </Component>
            <Component Id="cmpD9AF5A91A5DB809FC61C3B1EC1AF22E2" Directory="DYNAMO_INSTALLDIR" Guid="{6FCD3A11-E7D5-4FED-8E6F-7569B4EC9DD9}">
                <File Id="fil58A2F61573A025DF4CDB26D917B7746F" KeyPath="yes" Source="$(var.harvest)\DynamoSandbox.vshost.exe" />
            </Component>
            <Component Id="cmp7D3D224C1A0B69837E468CEEA49C07BD" Directory="DYNAMO_INSTALLDIR" Guid="{9522218D-0685-4753-A5D6-59C1E9494C91}">
                <File Id="fil214E7192B4E2771CF7EAC3190463498A" KeyPath="yes" Source="$(var.harvest)\DynamoSandbox.vshost.exe.config" />
            </Component>
            <Component Id="cmpB6F9685C754DFDCC3D46CCF5A26B76BA" Directory="DYNAMO_INSTALLDIR" Guid="{140BC838-5B41-4F7E-A2AC-942920946710}">
                <File Id="filBB8875283E6481291E7A16562EA01451" KeyPath="yes" Source="$(var.harvest)\DynamoSandbox.vshost.exe.manifest" />
            </Component>
            <Component Id="cmp63995FF502D8C686D1DEC2355B55E256" Directory="DYNAMO_INSTALLDIR" Guid="{8A527A65-734D-4BA4-8920-292B417A6107}">
                <File Id="fil4829C9C20169C25925E88FF5E2C1C055" KeyPath="yes" Source="$(var.harvest)\DynamoUnits.dll" />
            </Component>
            <Component Id="cmp90F64E394623F65C6E595E78BAD71215" Directory="DYNAMO_INSTALLDIR" Guid="{C543A3F5-4691-4EF1-981D-C3C212DD2919}">
                <File Id="fil3CA4E8CA2F981C53B97B2E8D7D217651" KeyPath="yes" Source="$(var.harvest)\DynamoUnits_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp98E5B7C9A6C2DBC7DFE86190FF975A3B" Directory="DYNAMO_INSTALLDIR" Guid="{C2370801-3FA3-4C48-9357-6D0A34488623}">
                <File Id="filEF79D0B06A54A7ABD9E155DC515C1536" KeyPath="yes" Source="$(var.harvest)\DynamoUtilities.dll" />
            </Component>
            <Component Id="cmp05F05047E341374F96FF9DF190C0C835" Directory="DYNAMO_INSTALLDIR" Guid="{4D72950A-89B7-4BE1-B425-9415D9A08D63}">
                <File Id="fil050187C3B87B7C4AD2BDAD668481F7FD" KeyPath="yes" Source="$(var.harvest)\FFITarget.dll" />
            </Component>
            <Component Id="cmp390E968B42E5DFCB8A4CCF73EDAC2D4A" Directory="DYNAMO_INSTALLDIR" Guid="{997DD127-B184-4937-8E99-31249BCDC77F}">
                <File Id="filBB21FAB95F0B2CC3EA8053121068FA06" KeyPath="yes" Source="$(var.harvest)\Flatten.ds" />
            </Component>
            <Component Id="cmp2000A6ADE8AFFB03372B54A8D7EDA4C7" Directory="DYNAMO_INSTALLDIR" Guid="{1D41E27D-7892-4B34-BE1E-AFEC3559707A}">
                <File Id="fil2685B92CC909C0E9561F237855EAA29C" KeyPath="yes" Source="$(var.harvest)\FunctionObject.ds" />
            </Component>
            <Component Id="cmpE04787A54E65CECE6381F006702C90EA" Directory="DYNAMO_INSTALLDIR" Guid="{8D9637F5-7909-4CAE-BC17-E8A14DEB0FB5}">
                <File Id="fil007F8C37EFA591832495312FE9DA1C99" KeyPath="yes" Source="$(var.harvest)\GraphLayout.dll" />
            </Component>
            <Component Id="cmp103730DBAE7295EC88981262AD99776B" Directory="DYNAMO_INSTALLDIR" Guid="{4FAAA87E-2FA8-4CAD-BD99-BC596CC158A5}">
                <File Id="fil3C3C40C93CEC4E6AE0506639AEE36841" KeyPath="yes" Source="$(var.harvest)\Greg.dll" />
            </Component>
            <Component Id="cmpB50730F9F464BE7AB067826E481B8FA1" Directory="DYNAMO_INSTALLDIR" Guid="{0B04C9F9-B2F4-416E-8F23-ADFDC645534B}">
                <File Id="fil646D0EA58EA32FC0ECB2495E3F7C79CD" KeyPath="yes" Source="$(var.harvest)\HelixToolkit.Wpf.dll" />
            </Component>
            <Component Id="cmp861E3D3E720688085FD1D959875C0A2D" Directory="DYNAMO_INSTALLDIR" Guid="{074B863C-641D-46CB-9828-51963D01D65C}">
                <File Id="fil0F19A08C3F4A92EAD2C73B7BF5193FEB" KeyPath="yes" Source="$(var.harvest)\HelixToolkit.Wpf.xml" />
            </Component>
            <Component Id="cmp2C1C93E670BD8640E1FDF26EEC10EC97" Directory="DYNAMO_INSTALLDIR" Guid="{97A9B25E-A298-4A2D-B808-877C5984A989}">
                <File Id="filF1B6F2B569B4A756D4D39826CF04472E" KeyPath="yes" Source="$(var.harvest)\HelloDynamoSystemTest.dyn" />
            </Component>
            <Component Id="cmpA80DC4EAF8E15BF5AD40E73E333C84E1" Directory="DYNAMO_INSTALLDIR" Guid="{716F8087-2F81-4765-A3EA-CC763A6FF0B3}">
                <File Id="filD341196F3823E35B8673D91561BE2DB6" KeyPath="yes" Source="$(var.harvest)\ICSharpCode.AvalonEdit.dll" />
            </Component>
            <Component Id="cmp1A0261395E095712625356361ECA7BDE" Directory="DYNAMO_INSTALLDIR" Guid="{58E791A7-62F8-4607-AB66-10365DB7E232}">
                <File Id="filFAFCD2203152C8A3ED7411F4195ECFB2" KeyPath="yes" Source="$(var.harvest)\ICSharpCode.AvalonEdit.xml" />
            </Component>
            <Component Id="cmp00AF085CF7FAC76E5978C1C425F388C7" Directory="DYNAMO_INSTALLDIR" Guid="{41696605-03FC-4E67-8613-745516419A6B}">
                <File Id="fil9422735686AFFF4049543F4940EC83AE" KeyPath="yes" Source="$(var.harvest)\InstallUpdate.exe" />
            </Component>
            <Component Id="cmp521FDDE46007DEC89F77916B7224A315" Directory="DYNAMO_INSTALLDIR" Guid="{507FB6D4-B598-4918-8AEE-BB0B15C8F761}">
                <File Id="fil3FD5AC5CD3F47B43D2CA15B04D342ACA" KeyPath="yes" Source="$(var.harvest)\InstallUpdate.exe.config" />
            </Component>
            <Component Id="cmpD356E4AAF695E1FF651C600E94F1B9DE" Directory="DYNAMO_INSTALLDIR" Guid="{60C991AB-6E64-4DF7-A1B1-3B2C3FBC0C2D}">
                <File Id="fil29B208171619B1BF039A8A8727159E15" KeyPath="yes" Source="$(var.harvest)\Ionic.Zip.dll" />
            </Component>
            <Component Id="cmp7387EE5A6E340AA98E48DB6FFE1AF2EE" Directory="DYNAMO_INSTALLDIR" Guid="{DB7D7593-4E4D-4A87-91F1-BA753E252432}">
                <File Id="fil7C2A315E4002E269D6F952A6BB728937" KeyPath="yes" Source="$(var.harvest)\MIConvexHullPlugin.dll" />
            </Component>
            <Component Id="cmpD66385FCEB8FA34E04DAEB9D2D444BCD" Directory="DYNAMO_INSTALLDIR" Guid="{8AF78C0A-4E0B-4E15-A678-48599955B878}">
                <File Id="filA2BA9E8387C575F12D8EF8931AFEEBA5" KeyPath="yes" Source="$(var.harvest)\Microsoft.Office.Interop.Excel.dll" />
            </Component>
            <Component Id="cmp34F19253AC8B6B5F87F34D155DD61026" Directory="DYNAMO_INSTALLDIR" Guid="{C540967C-6411-407A-8404-C8DD81E92AAB}">
                <File Id="fil94C8EA398E724579E5EF0F3C9F092B61" KeyPath="yes" Source="$(var.harvest)\Microsoft.Practices.Prism.dll" />
            </Component>
            <Component Id="cmp5498536698138C9AA0E72E202DD8F98E" Directory="DYNAMO_INSTALLDIR" Guid="{2C454699-C4AF-44D7-A2D9-0A3AC45BBEE6}">
                <File Id="fil324B477F8C4C5755FB9E1DFC9790DFC6" KeyPath="yes" Source="$(var.harvest)\Microsoft.Scripting.dll" />
            </Component>
            <Component Id="cmpB37B546B340BB9436C907DCB58A11E5D" Directory="DYNAMO_INSTALLDIR" Guid="{756CFE0C-73BC-4A31-B799-52A35AAC2AB6}">
                <File Id="fil21614F92A5D2F485F9590C1FB8F08C60" KeyPath="yes" Source="$(var.harvest)\Moq.dll" />
            </Component>
            <Component Id="cmpEF59DA263A9A4AD852F3E03035DD697E" Directory="DYNAMO_INSTALLDIR" Guid="{9EF4BB7D-1167-4D95-8512-FD1E7DDB0055}">
                <File Id="fil48D4BEEDE811A64B09115E680463AFB3" KeyPath="yes" Source="$(var.harvest)\Moq.xml" />
            </Component>
            <Component Id="cmpA95A4703DEB0DB34A2CE537CE8207990" Directory="DYNAMO_INSTALLDIR" Guid="{FDD9F3BE-3A67-4319-BE2F-682A8F23B792}">
                <File Id="fil613B94566335C459F8DCA4CD36BA77C8" KeyPath="yes" Source="$(var.harvest)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp1AF18A8319A6B20C230EABB4011ED86B" Directory="DYNAMO_INSTALLDIR" Guid="{8FB108A6-59D1-48FE-B07C-C1FCF3C846F8}">
                <File Id="fil5D8E06123CFBA5F91C453CAC5D1FEC96" KeyPath="yes" Source="$(var.harvest)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmpB5506F7CE6E8A006E3F00E2871726411" Directory="DYNAMO_INSTALLDIR" Guid="{AF60102D-38A8-46A0-90CB-B76DC3772B68}">
                <File Id="filBA048D4F7B5CD4E2151C9CDDF0E2289A" KeyPath="yes" Source="$(var.harvest)\nunit.framework.dll" />
            </Component>
            <Component Id="cmp22C416C692A37E38B5F368D77A9CC6DD" Directory="DYNAMO_INSTALLDIR" Guid="{0CBD70BD-F800-4EE2-B630-930D6E6C7EDB}">
                <File Id="filA18D3B2C5B22B121B1762268A87F3D0F" KeyPath="yes" Source="$(var.harvest)\nunit.framework.xml" />
            </Component>
            <Component Id="cmpF192544DD6A0F8E3B34E22D420C96A50" Directory="DYNAMO_INSTALLDIR" Guid="{4C8BFD85-CF38-442E-8DF6-3E9389BDFC0A}">
                <File Id="filED0D1369F0011FAB1738507BD1775AEC" KeyPath="yes" Source="$(var.harvest)\Office.dll" />
            </Component>
            <Component Id="cmpB33FD20DB7F42CEA076EC02F7E69728C" Directory="DYNAMO_INSTALLDIR" Guid="{CEF91923-BEF7-4A9F-B002-236BD2EE5EE2}">
                <File Id="fil9D2DD7EF1DE08C301811408A99160F73" KeyPath="yes" Source="$(var.harvest)\Optimize.ds" />
            </Component>
            <Component Id="cmp2193ADBE1341D0C9A2ABF6C1BB8C8324" Directory="DYNAMO_INSTALLDIR" Guid="{F0B8315B-EC3C-4098-AFFC-6D59AE97D8B8}">
                <File Id="fil1784AC2E3A914CDF8C22D4046B5F9EE8" KeyPath="yes" Source="$(var.harvest)\ProtoAssociative.dll" />
            </Component>
            <Component Id="cmpA1F4548A0A306D757AD84011F6EFC8CC" Directory="DYNAMO_INSTALLDIR" Guid="{0649F2AF-17A2-44CD-9DCE-B747D2ABA268}">
                <File Id="fil6B0D5392D6694DDBFF33C4D68B64E6DF" KeyPath="yes" Source="$(var.harvest)\ProtoCore.dll" />
            </Component>
            <Component Id="cmp73B79821F80BDBCAC28348E919E5C17A" Directory="DYNAMO_INSTALLDIR" Guid="{A0A720BA-9E3A-40DD-B490-00DFCC5B5FE6}">
                <File Id="fil1939C680D1C6C0CF61E14CA4E2101146" KeyPath="yes" Source="$(var.harvest)\ProtoGeometry.config" />
            </Component>
            <Component Id="cmpEAFBF517C968E89E79D5FC598A35D3E3" Directory="DYNAMO_INSTALLDIR" Guid="{3A44C49A-52D6-45CF-83F7-B8CE7323D429}">
                <File Id="fil7387F49DEFD02C07847B553143ABFBE9" KeyPath="yes" Source="$(var.harvest)\ProtoGeometry.dll" />
            </Component>
            <Component Id="cmp1809011D0B0608FCF4E10CECD2BC56B4" Directory="DYNAMO_INSTALLDIR" Guid="{AEAC01AB-62E2-4747-8D28-49DAFB315578}">
                <File Id="fil08219235553D81F2A5DE048D9E39DD8D" KeyPath="yes" Source="$(var.harvest)\ProtoGeometry.Migrations.xml" />
            </Component>
            <Component Id="cmpBC0CDF2D462DF4D6534D19E2BA9885F0" Directory="DYNAMO_INSTALLDIR" Guid="{3913A775-632D-40DC-9322-08935788DFBD}">
                <File Id="fil13F944655C554F5DF543CDC099865113" KeyPath="yes" Source="$(var.harvest)\ProtoGeometry.xml" />
            </Component>
            <Component Id="cmp58E7FDE9521D3DE186D51C2AAB1986EE" Directory="DYNAMO_INSTALLDIR" Guid="{EE19EADE-72A2-4D56-A632-794D95B12185}">
                <File Id="filF82A2164DC124C573E03ED32FABA4302" KeyPath="yes" Source="$(var.harvest)\ProtoGeometry_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp31783B5258B007D8DCF600FE4674394E" Directory="DYNAMO_INSTALLDIR" Guid="{1CEAADCE-0224-4FDF-B09A-41D8421F388E}">
                <File Id="fil3FEF9F6FCD4119EFEEF9E3FD488B17AE" KeyPath="yes" Source="$(var.harvest)\ProtoImperative.dll" />
            </Component>
            <Component Id="cmp524EB01E70F47EFA15F15764189D3EF8" Directory="DYNAMO_INSTALLDIR" Guid="{B8EEA32C-8C54-49CD-A200-0138998A42A3}">
                <File Id="fil3791F032505A758E06340E75122917BC" KeyPath="yes" Source="$(var.harvest)\ProtoInterface.dll" />
            </Component>
            <Component Id="cmpD3D3438196F3C2E78D82CB974D66DD76" Directory="DYNAMO_INSTALLDIR" Guid="{D0E3E441-B958-4EBB-8F54-2E4134124A02}">
                <File Id="fil7B655BB3E36757C9115F82FD926E3D5B" KeyPath="yes" Source="$(var.harvest)\ProtoScript.dll" />
            </Component>
            <Component Id="cmpE4D109C4579800F285A3944B54DCC697" Directory="DYNAMO_INSTALLDIR" Guid="{6BBF31A8-3134-494D-8406-33F026BFC5B3}">
                <File Id="fil26C2295755E230A6A4EAC309A7B3CB9D" KeyPath="yes" Source="$(var.harvest)\ProtoTestConsoleRunner.exe" />
            </Component>
            <Component Id="cmp8A18CB835575376CB407CA952079E45B" Directory="DYNAMO_INSTALLDIR" Guid="{0528D7AD-7AB4-4C2E-AE3F-83981201F86B}">
                <File Id="fil151D455F61852A46E8B31A7AD9428595" KeyPath="yes" Source="$(var.harvest)\RestSharp.dll" />
            </Component>
            <Component Id="cmp31EA448D31F5021F1795D78DD30A7855" Directory="DYNAMO_INSTALLDIR" Guid="{AF80A292-8500-4C7A-8138-9CC71A64AC03}">
                <File Id="fil4A52A33C56AA8D1E06A266AB56C2FF5B" KeyPath="yes" Source="$(var.harvest)\RestSharp.xml" />
            </Component>
            <Component Id="cmp675474E27B1CCD17D689ACA1A8B4D206" Directory="DYNAMO_INSTALLDIR" Guid="{BCAC9C88-2D53-4B57-8D02-CF70CE9589A2}">
                <File Id="filD31B5E2AFB7A726EB71F2A0320223D5A" KeyPath="yes" Source="$(var.harvest)\SimplexNoise.dll" />
            </Component>
            <Component Id="cmp0E43F8FF60B6BAA8058B977CA77FCC33" Directory="DYNAMO_INSTALLDIR" Guid="{EFC6828C-1D79-4E7B-A7AF-DC991EF7593E}">
                <File Id="filBD6FF4B330D786DB813093D7C1E56708" KeyPath="yes" Source="$(var.harvest)\System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="cmp9840BA1828D23947895C64470670AD3E" Directory="DYNAMO_INSTALLDIR" Guid="{4B035879-8C36-4D32-A710-149E70FAFDA8}">
                <File Id="fil18DAF3D928EF1BDF377B79A7A55442D2" KeyPath="yes" Source="$(var.harvest)\Tessellation.dll" />
            </Component>
            <Component Id="cmp8D44BF7E9E56D72984C926934051C94E" Directory="DYNAMO_INSTALLDIR" Guid="{855E8ADF-8355-4709-96E0-B58885D74947}">
                <File Id="filE4B49B42F71BA1862B1B7CBDD9F39264" KeyPath="yes" Source="$(var.harvest)\Tessellation_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp9F09457CEA9DBA4C5244C240741E1345" Directory="DYNAMO_INSTALLDIR" Guid="{F57FA1EA-1864-48DF-8701-D52A228D8410}">
                <File Id="filD61156B9D0FFABAE99E46533400777F6" KeyPath="yes" Source="$(var.harvest)\TestServices.dll.config" />
            </Component>
            <Component Id="cmpA7E0C1245A8885B18B948756D6B22D9A" Directory="DYNAMO_INSTALLDIR" Guid="{F4CF7483-2861-4281-8834-5C909CE17258}">
                <File Id="fil0CF724ABEBFCED9B757C1C578043E8B0" KeyPath="yes" Source="$(var.harvest)\VMDataBridge.dll" />
            </Component>
            <Component Id="cmp4752FDE7217CFD93FE9F943499B7EFCC" Directory="dir2EA68AFAAB12AA7DFCF8A9B0F7597270" Guid="{01E5A5D2-5007-4120-8044-91461758F346}">
                <File Id="fil9746C9D58C20C52CEA44D57964FC3CFC" KeyPath="yes" Source="$(var.harvest)\en-US\Analysis.xml" />
            </Component>
            <Component Id="cmpC89B883F4334E6EC73A94CD24DFD3DA6" Directory="dir2EA68AFAAB12AA7DFCF8A9B0F7597270" Guid="{3965E594-D8AE-4511-AF75-B81FAB14031C}">
                <File Id="fil6F8D0E827234A510CC4FDF10DF6FFF3D" KeyPath="yes" Source="$(var.harvest)\en-US\DSCoreNodes.xml" />
            </Component>
            <Component Id="cmpC2E1AD22179DFDAD005DB8F65AB4DDAB" Directory="dir2EA68AFAAB12AA7DFCF8A9B0F7597270" Guid="{77C9855C-2263-4415-AB0B-8DFA5E308C0E}">
                <File Id="filF08615C7AB38A327E95390066C33CB1B" KeyPath="yes" Source="$(var.harvest)\en-US\DynamoArduino.resources.dll" />
            </Component>
            <Component Id="cmp7C3201B98B9BC388EE07D7892A9A5DE1" Directory="dir2EA68AFAAB12AA7DFCF8A9B0F7597270" Guid="{5EAC04ED-2544-4E26-B613-6E0E0298310A}">
                <File Id="filAA3930AFB384C51AEEA56E8A6BD2F33B" KeyPath="yes" Source="$(var.harvest)\en-US\DynamoArduino.XML" />
            </Component>
            <Component Id="cmpB2964D2F4E4DE22F25903AB34F29F703" Directory="dir2EA68AFAAB12AA7DFCF8A9B0F7597270" Guid="{EE3BE06F-0166-4335-9EED-E878C2245073}">
                <File Id="fil62238DED21ADA09C9AF54A6F6540A16E" KeyPath="yes" Source="$(var.harvest)\en-US\DynamoCore.resources.dll" />
            </Component>
            <Component Id="cmp9868B0308E86B751DA282A4544CC34B3" Directory="dir2EA68AFAAB12AA7DFCF8A9B0F7597270" Guid="{69D91820-AA34-4FD4-BB16-D58B22481FE3}">
                <File Id="fil0D38E644D86E0B49E1B8C6A7EDC87D31" KeyPath="yes" Source="$(var.harvest)\en-US\DynamoCoreWpf.resources.dll" />
            </Component>
            <Component Id="cmp3EFAE653C5EA50EF2A2F2B92573483C7" Directory="dir2EA68AFAAB12AA7DFCF8A9B0F7597270" Guid="{4E1C7928-30D2-4069-88F2-4919FDA21EB4}">
                <File Id="fil917793DE7C74743D483AC79D01B6BC96" KeyPath="yes" Source="$(var.harvest)\en-US\DynamoMSOffice.resources.dll" />
            </Component>
            <Component Id="cmp746F28AB9383A3E5FE3B1BFADED61B55" Directory="dir2EA68AFAAB12AA7DFCF8A9B0F7597270" Guid="{E94BA51C-1BDE-4CDF-B5AE-C8B2B15EB231}">
                <File Id="filDDC1967D72F172D7696D015D7B93CAEA" KeyPath="yes" Source="$(var.harvest)\en-US\DynamoPython.resources.dll" />
            </Component>
            <Component Id="cmpB9A3C2B2CF4DA6C62963424A53974D25" Directory="dir2EA68AFAAB12AA7DFCF8A9B0F7597270" Guid="{8D505B34-7254-426C-8751-0014C6C2E33E}">
                <File Id="filD8DB274C3A529CE56352A30DA81F654B" KeyPath="yes" Source="$(var.harvest)\en-US\DynamoPython.XML" />
            </Component>
            <Component Id="cmp505F9190D79D9C3E235EE46017ED5AF3" Directory="dir2EA68AFAAB12AA7DFCF8A9B0F7597270" Guid="{97C5D324-5387-4DB1-B3FA-C5DDAF5F4C94}">
                <File Id="fil8B6F6C5BC91E9DD3388A19555AEFE91B" KeyPath="yes" Source="$(var.harvest)\en-US\DynamoSandbox.resources.dll" />
            </Component>
            <Component Id="cmp82CD91AD08A3DA8F092698EA65DBC702" Directory="dir2EA68AFAAB12AA7DFCF8A9B0F7597270" Guid="{C76A71CD-D984-43F5-B8CE-370E6EC47237}">
                <File Id="fil41DC32D922858379DDDADBA6D0B6446D" KeyPath="yes" Source="$(var.harvest)\en-US\License.rtf" />
            </Component>
            <Component Id="cmp821AC8F17AAABA9CA69B7E2D171A245F" Directory="dir2EA68AFAAB12AA7DFCF8A9B0F7597270" Guid="{078D4C38-CAA9-40DC-905A-C728164ACD8E}">
                <File Id="fil7AF9242F311E4A879EFDFF4A9DDDF7AB" KeyPath="yes" Source="$(var.harvest)\en-US\ProtoAssociative.resources.dll" />
            </Component>
            <Component Id="cmp51C5B82B457DE94DD64AEF6F0235F303" Directory="dir2EA68AFAAB12AA7DFCF8A9B0F7597270" Guid="{292E7A93-01AA-4156-8B2A-F4B9F8743119}">
                <File Id="fil25F825522386C129466D9FB0F5CAC4E3" KeyPath="yes" Source="$(var.harvest)\en-US\ProtoCore.resources.dll" />
            </Component>
            <Component Id="cmpB842A32129319E8862FD376BEB5AD1B1" Directory="dir2EA68AFAAB12AA7DFCF8A9B0F7597270" Guid="{2DE1A599-5B0F-4404-B5C4-B3997F085DC8}">
                <File Id="fil256412C5EC0253368F6380AD22860B70" KeyPath="yes" Source="$(var.harvest)\en-US\ProtoGeometry.XML" />
            </Component>
            <Component Id="cmp15F4FFD62DA7CEA4F8CAB0395D75356A" Directory="dir2EA68AFAAB12AA7DFCF8A9B0F7597270" Guid="{2F5BB011-535E-4532-AD24-812F70EA132D}">
                <File Id="filF5EC52FC0DDE6EE9BB67D8DF6D9E7159" KeyPath="yes" Source="$(var.harvest)\en-US\ProtoImperative.resources.dll" />
            </Component>
            <Component Id="cmpC91E1AA87373FE785C2ADBA6C16D3618" Directory="dir04DB6BCB40E05BE134EFE73CD26B8EDE" Guid="{E6F1BDA4-2DD5-4552-974B-1817C2F9A483}">
                <File Id="filA94D015808D2D790D4483B94B55D8674" KeyPath="yes" Source="$(var.harvest)\libg_219\boost_chrono-vc100-mt-1_51.dll" />
            </Component>
            <Component Id="cmpA0EAC25BE145D44A83264BE3035F06FC" Directory="dir04DB6BCB40E05BE134EFE73CD26B8EDE" Guid="{877892CA-3012-45C6-A9BA-A0F89500F23F}">
                <File Id="fil3FDFA385F276D36DB3B0AE0DDAB77B05" KeyPath="yes" Source="$(var.harvest)\libg_219\boost_regex-vc100-mt-1_51.dll" />
            </Component>
            <Component Id="cmp9DA30DB14B448D3C51CB53D4CE5D549E" Directory="dir04DB6BCB40E05BE134EFE73CD26B8EDE" Guid="{2AC14638-0B4C-4DF7-AFBD-8A0C24192E37}">
                <File Id="filBF9A435565148BB84E9925773EBD9E51" KeyPath="yes" Source="$(var.harvest)\libg_219\boost_system-vc100-mt-1_51.dll" />
            </Component>
            <Component Id="cmp5341A38236C1ECB514EF97134CC493DE" Directory="dir04DB6BCB40E05BE134EFE73CD26B8EDE" Guid="{CAAAB24B-E933-4262-96FA-D9E5ED528787}">
                <File Id="fil69855C7E6CF1FBE4CF90A549050B045B" KeyPath="yes" Source="$(var.harvest)\libg_219\boost_thread-vc100-mt-1_51.dll" />
            </Component>
            <Component Id="cmp02B4FA335A365A5F3A14FEC3CF9B38EA" Directory="dir04DB6BCB40E05BE134EFE73CD26B8EDE" Guid="{CD9CD553-482A-4E6B-8EFD-3C7624A2659F}">
                <File Id="fil0EC6B81C33DDB0CB0B00BB10C9258BA3" KeyPath="yes" Source="$(var.harvest)\libg_219\LibG.AsmPreloader.Managed.dll" />
            </Component>
            <Component Id="cmp2F91B4B65F5002CE263ACADBDF07C5E3" Directory="dir04DB6BCB40E05BE134EFE73CD26B8EDE" Guid="{7A70F326-7D08-44B9-861E-A3512450C18D}">
                <File Id="fil535767EE70737CCAE5BC23EE70DBE0E2" KeyPath="yes" Source="$(var.harvest)\libg_219\LibG.AsmPreloader.Unmanaged.dll" />
            </Component>
            <Component Id="cmp2600D03E8556383088032803E806F517" Directory="dir04DB6BCB40E05BE134EFE73CD26B8EDE" Guid="{A7642D28-D124-493C-B388-B713636FB98C}">
                <File Id="fil64A8F318ADC4B22290EBD3C7658B6F8B" KeyPath="yes" Source="$(var.harvest)\libg_219\LibG.dll" />
            </Component>
            <Component Id="cmp4635024BA6248AD1B982FA9FBA00089B" Directory="dir04DB6BCB40E05BE134EFE73CD26B8EDE" Guid="{51F7373A-6157-480E-9BC2-22832D179FFB}">
                <File Id="filA339FA3B4D27954C1EE0D405B1574411" KeyPath="yes" Source="$(var.harvest)\libg_219\LibG.Managed.dll" />
            </Component>
            <Component Id="cmp857336FFA77173D2391E5145A12C175D" Directory="dir04DB6BCB40E05BE134EFE73CD26B8EDE" Guid="{A22161A8-2223-4392-AC4A-4AEEF14FCBF1}">
                <File Id="fil658BFA2C44ED314C7A6F742A7DA2BC20" KeyPath="yes" Source="$(var.harvest)\libg_219\LibG.ProtoInterface.dll" />
            </Component>
            <Component Id="cmpC0A583484595750AC2F1B0BBD63DEE87" Directory="dir04DB6BCB40E05BE134EFE73CD26B8EDE" Guid="{247FEF0C-334E-48E7-AC51-4EE7E6BF7F77}">
                <File Id="fil272F7453AAD06B0EA5ABB1671B684A0C" KeyPath="yes" Source="$(var.harvest)\libg_219\LibGCore.dll" />
            </Component>
            <Component Id="cmp2B15AFA97CF4809BB91E7EA3F618A08D" Directory="dir04DB6BCB40E05BE134EFE73CD26B8EDE" Guid="{5D8CD664-824C-49ED-9D88-38C59644E782}">
                <File Id="filC8D18E833337571B97EB8AE2A5D03597" KeyPath="yes" Source="$(var.harvest)\libg_219\msvcp100.dll" />
            </Component>
            <Component Id="cmp24A0A0A30DAFB5CB311D415188D9BCD6" Directory="dir04DB6BCB40E05BE134EFE73CD26B8EDE" Guid="{FC5DCEE1-8CEC-4E1D-B119-5F2F7C892F65}">
                <File Id="fil5DC32C11B0DDE9CBE3EB7FF2321C04FC" KeyPath="yes" Source="$(var.harvest)\libg_219\msvcr100.dll" />
            </Component>
            <Component Id="cmpBEF4E3AF34CA82AC816F70E4690E6436" Directory="dir9174EDB77262E5B4044B87DF3BEDFBA4" Guid="{D42B9F74-4DA5-4D78-8D71-472D8CFC1BED}">
                <File Id="fil70EA76DC909F0F9ABE102A7E6EC4A690" KeyPath="yes" Source="$(var.harvest)\libg_220\boost_chrono-vc110-mt-1_51.dll" />
            </Component>
            <Component Id="cmp4F491A29F9C08FAAAEB86B5308B4F131" Directory="dir9174EDB77262E5B4044B87DF3BEDFBA4" Guid="{2AC7CB40-8278-4405-8FBA-1AD9BBE7F45C}">
                <File Id="fil1B9EFD6CB484C191EA1B3EA264351B5E" KeyPath="yes" Source="$(var.harvest)\libg_220\boost_regex-vc110-mt-1_51.dll" />
            </Component>
            <Component Id="cmpCA068060FEE18A5CE978DC48608B98D9" Directory="dir9174EDB77262E5B4044B87DF3BEDFBA4" Guid="{B1A7889E-CFE3-448D-9AFC-6E9E776DDC01}">
                <File Id="fil071A0A3D999D81D754AB465F4F48BC4F" KeyPath="yes" Source="$(var.harvest)\libg_220\boost_system-vc110-mt-1_51.dll" />
            </Component>
            <Component Id="cmpBB670D017310009124722E3E3C16E456" Directory="dir9174EDB77262E5B4044B87DF3BEDFBA4" Guid="{239DE286-5F4F-4E09-AB61-D6D5B4F60644}">
                <File Id="filDA340D8904FC7708907728E4B95CDC38" KeyPath="yes" Source="$(var.harvest)\libg_220\boost_thread-vc110-mt-1_51.dll" />
            </Component>
            <Component Id="cmp823613ACB1787AC30AAD7746D9FD09B8" Directory="dir9174EDB77262E5B4044B87DF3BEDFBA4" Guid="{BA35812D-BEF7-4ACE-A3C7-A9F17D30275F}">
                <File Id="fil68AB9D5CD88183980CFA90FC2507F391" KeyPath="yes" Source="$(var.harvest)\libg_220\LibG.AsmPreloader.Managed.dll" />
            </Component>
            <Component Id="cmp63631DEF90FC822E1300966D2FF7F52E" Directory="dir9174EDB77262E5B4044B87DF3BEDFBA4" Guid="{52991317-CA53-4A03-B414-BE5A3060DFB3}">
                <File Id="fil8645D475CA5AABAB7785FC7488FFC809" KeyPath="yes" Source="$(var.harvest)\libg_220\LibG.AsmPreloader.Unmanaged.dll" />
            </Component>
            <Component Id="cmpDBBCF60DA2182E3360F37F95174D6C58" Directory="dir9174EDB77262E5B4044B87DF3BEDFBA4" Guid="{24275DC7-8331-4FD8-8EBB-3E24B82214E1}">
                <File Id="fil77150DB06DE3457A86149294E33E70FE" KeyPath="yes" Source="$(var.harvest)\libg_220\LibG.dll" />
            </Component>
            <Component Id="cmp55FD91CA23DAB834C694982BF30FC37C" Directory="dir9174EDB77262E5B4044B87DF3BEDFBA4" Guid="{D8105A5A-E0C7-4198-A540-A12447921153}">
                <File Id="filD3FD7C9E591AB1A4D3BE0CABCD2E0962" KeyPath="yes" Source="$(var.harvest)\libg_220\LibG.Managed.dll" />
            </Component>
            <Component Id="cmp6AD0A89D60385F0391899AF0364CDECD" Directory="dir9174EDB77262E5B4044B87DF3BEDFBA4" Guid="{B34D2FA2-E8A9-4830-9740-43D920B1310C}">
                <File Id="filCDE069F0BF68F985186FAED00C978074" KeyPath="yes" Source="$(var.harvest)\libg_220\LibG.ProtoInterface.dll" />
            </Component>
            <Component Id="cmpFC7C36005475C43521BD1C8510785207" Directory="dir9174EDB77262E5B4044B87DF3BEDFBA4" Guid="{1482FB04-7712-4A08-88A9-224A50ACD98C}">
                <File Id="fil5F87C8D4D9EAA8B34F662B0AF3EFF7BF" KeyPath="yes" Source="$(var.harvest)\libg_220\LibGCore.dll" />
            </Component>
            <Component Id="cmp0D2DC129EAA46D2E319ADA6EC5EF070F" Directory="dir9174EDB77262E5B4044B87DF3BEDFBA4" Guid="{307EDF0A-8898-4EB6-A856-17BE2D42BAAB}">
                <File Id="filE4D5EEB6055847C34BD5B17EDED1E804" KeyPath="yes" Source="$(var.harvest)\libg_220\msvcp110.dll" />
            </Component>
            <Component Id="cmp543CCBA6F02D49682947C9D79BC6A8FE" Directory="dir9174EDB77262E5B4044B87DF3BEDFBA4" Guid="{6A5DE293-A02B-4B2C-946A-746F758962BA}">
                <File Id="filA10320F65361574E8EFAD326002C4477" KeyPath="yes" Source="$(var.harvest)\libg_220\msvcr110.dll" />
            </Component>
            <Component Id="cmpF6A9308B9F20CC1F7EFF72717A741100" Directory="dir564241F56AF1FEDDDAE049DE2B45F92A" Guid="{F2802EE2-3C8E-4644-B93D-D1591E40762C}">
                <File Id="filD19729964FD58EF61902162DB38563D9" KeyPath="yes" Source="$(var.harvest)\libg_221\boost_chrono-vc110-mt-1_51.dll" />
            </Component>
            <Component Id="cmpF66D4F004957EC4EC19EBA8B9CE168FD" Directory="dir564241F56AF1FEDDDAE049DE2B45F92A" Guid="{EDD35078-D41F-4C56-B975-B58D5153997A}">
                <File Id="fil94CC71B2E02CFEDC15B8BB64E523F4F8" KeyPath="yes" Source="$(var.harvest)\libg_221\boost_regex-vc110-mt-1_51.dll" />
            </Component>
            <Component Id="cmp6FD19B10152E510A424B07F12BBCA9E2" Directory="dir564241F56AF1FEDDDAE049DE2B45F92A" Guid="{9387B2D1-1ED7-4B06-B690-51EA041D6CA0}">
                <File Id="fil22D8F6B2642BDEBF4C91162783CA5ECD" KeyPath="yes" Source="$(var.harvest)\libg_221\boost_system-vc110-mt-1_51.dll" />
            </Component>
            <Component Id="cmpB109B76A9BC1F0CD98AE64D9D10DC9EF" Directory="dir564241F56AF1FEDDDAE049DE2B45F92A" Guid="{38AB49AC-A3B7-4A3B-B328-EF404BD927CA}">
                <File Id="filEF7629AB4346DDB7B0A1C65ECE73E3E3" KeyPath="yes" Source="$(var.harvest)\libg_221\boost_thread-vc110-mt-1_51.dll" />
            </Component>
            <Component Id="cmp3D2B1EF2BBA2267F953E51A72A10084C" Directory="dir564241F56AF1FEDDDAE049DE2B45F92A" Guid="{1358334E-8743-4C55-8E10-71A503CE5248}">
                <File Id="fil4264336E5944CD1FC89C3F7AC7317A99" KeyPath="yes" Source="$(var.harvest)\libg_221\LibG.AsmPreloader.Managed.dll" />
            </Component>
            <Component Id="cmp54A90A087B33571EEE52E20F3D15E3CC" Directory="dir564241F56AF1FEDDDAE049DE2B45F92A" Guid="{3117BEEA-D054-4E49-A02B-90FEBAE5BAB2}">
                <File Id="filC453AB34001DE6FB2A227AD1C10110DC" KeyPath="yes" Source="$(var.harvest)\libg_221\LibG.AsmPreloader.Unmanaged.dll" />
            </Component>
            <Component Id="cmp46D068F5355A4359830565916296AC0D" Directory="dir564241F56AF1FEDDDAE049DE2B45F92A" Guid="{7E586E32-F0E3-4687-A5D1-31788033163B}">
                <File Id="fil67B702F4A29CD87F9505420407D4EB6F" KeyPath="yes" Source="$(var.harvest)\libg_221\LibG.dll" />
            </Component>
            <Component Id="cmp5A9EB096CF11F4176E40BAE09D4D7A04" Directory="dir564241F56AF1FEDDDAE049DE2B45F92A" Guid="{37962693-A984-4041-9D17-71EB35005F6E}">
                <File Id="fil19AAF1831D1235BAA158933A5A9D2EFF" KeyPath="yes" Source="$(var.harvest)\libg_221\LibG.Managed.dll" />
            </Component>
            <Component Id="cmp83774AB6138AC02502765ACA479E2E98" Directory="dir564241F56AF1FEDDDAE049DE2B45F92A" Guid="{0348D011-C7C2-48D1-9586-1F80AE9F2BDC}">
                <File Id="filFD9415D4EF27306778BA56EA96145EAD" KeyPath="yes" Source="$(var.harvest)\libg_221\LibG.ProtoInterface.dll" />
            </Component>
            <Component Id="cmpACAA25F039BFF610DB09442C73ADA179" Directory="dir564241F56AF1FEDDDAE049DE2B45F92A" Guid="{2A034EDB-E0E6-44F2-B08D-C2A1FB89297C}">
                <File Id="filA5B74E88802F4CF168267B589023869B" KeyPath="yes" Source="$(var.harvest)\libg_221\LibGCore.dll" />
            </Component>
            <Component Id="cmpDB3DE3399B55A5238B969D3A17EB920C" Directory="dir564241F56AF1FEDDDAE049DE2B45F92A" Guid="{4538A651-FB95-4112-BDD4-A7F3457BE3FA}">
                <File Id="fil279D7AE72C3EA9A1AFE51091995B9B05" KeyPath="yes" Source="$(var.harvest)\libg_221\msvcp110.dll" />
            </Component>
            <Component Id="cmp2909B812FD4244B5DFBC5D4E2467A364" Directory="dir564241F56AF1FEDDDAE049DE2B45F92A" Guid="{2CA295A4-1F48-4E07-BB46-5323D9EB17BC}">
                <File Id="fil3D35701C2AA1D9E02D0226633C02390D" KeyPath="yes" Source="$(var.harvest)\libg_221\msvcr110.dll" />
            </Component>
            <Component Id="cmpD3F7A8A639E89DDF71E159DA62008613" Directory="dirAE06B4D704DE901745ED8F345B11089E" Guid="{798932F5-4E42-43B5-B3F7-C0524B6BC1A9}">
                <File Id="fil8F60FB8A0CBCF4007A61373EC0AAE396" KeyPath="yes" Source="$(var.harvest)\nodes\DSCoreNodesUI.dll" />
            </Component>
            <Component Id="cmpE8DC650D925D1E3D7515A04522084E82" Directory="dirAE06B4D704DE901745ED8F345B11089E" Guid="{13DBDD16-77F4-4E42-8E85-CD5CDC387B4D}">
                <File Id="fil6BE5D475837CB86AC8F87048FF408EA2" KeyPath="yes" Source="$(var.harvest)\nodes\DSIronPythonNode.dll" />
            </Component>
            <Component Id="cmpC93D0280E12228422B675D4E96EDF679" Directory="dirAE06B4D704DE901745ED8F345B11089E" Guid="{5957B6B6-5858-43B2-9EA1-23423E738926}">
                <File Id="filEB3A925C28C4636D47E84E8D70D71162" KeyPath="yes" Source="$(var.harvest)\nodes\DynamoWatch3D.dll" />
            </Component>
            <Component Id="cmp9502D7CCAE404AB522B4280013FD0983" Directory="dirAE06B4D704DE901745ED8F345B11089E" Guid="{8C22D72B-CEA0-4001-9155-0ABF020334B6}">
                <File Id="fil545CC78E2B5482DC74A0A4C5FE703843" KeyPath="yes" Source="$(var.harvest)\nodes\Migrations.dll" />
            </Component>
            <Component Id="cmp96F9D4429BB7B32D5A16DD150AC1132D" Directory="dirAE06B4D704DE901745ED8F345B11089E" Guid="{E59D3081-EF31-4D91-9AAC-1CA8F66C787B}">
                <File Id="filA793162FFFFD24051C59404FF85153A8" KeyPath="yes" Source="$(var.harvest)\nodes\NCalc.dll" />
            </Component>
            <Component Id="cmpF99F3FE3F0839ABAC9483E42D892FFFA" Directory="dirAE06B4D704DE901745ED8F345B11089E" Guid="{FB1A0D41-59B3-4178-883D-D0C1BFD3170C}">
                <File Id="filCD1B7A12013157C01573C6619E399DA5" KeyPath="yes" Source="$(var.harvest)\nodes\UnitsUI.dll" />
            </Component>
            <Component Id="cmp4ADBE923805F8165C96DD7EAC79CE3EA" Directory="dirB5156EA83FF6B1AEECF567D17C3C48FF" Guid="{92CBCFB7-5F4B-4D0F-80C2-E221918275CF}">
                <File Id="fil6B2DD1ACB23E8E8CE437183A8B43A055" KeyPath="yes" Source="$(var.harvest)\nodes\en-US\DSCoreNodesUI.resources.dll" />
            </Component>
            <Component Id="cmp2BD93F2FABD683B29F2B1BD39523EB1A" Directory="dirB5156EA83FF6B1AEECF567D17C3C48FF" Guid="{78E80649-96BB-4229-A6B2-55A774108AC8}">
                <File Id="fil49331A692F0B328A8CD43854A0CA720E" KeyPath="yes" Source="$(var.harvest)\nodes\en-US\DSIronPythonNode.resources.dll" />
            </Component>
            <Component Id="cmp68453AB1C5D53CB14CC2787649371FD4" Directory="dirB5156EA83FF6B1AEECF567D17C3C48FF" Guid="{731F78DF-1477-4606-84DD-41C26EB8DAF9}">
                <File Id="filE0493A222AE37859E6051880F2D15AF7" KeyPath="yes" Source="$(var.harvest)\nodes\en-US\DynamoWatch3D.resources.dll" />
            </Component>
            <Component Id="cmp51158A6D12A97B80743EA4440FCF8FDF" Directory="dirB5156EA83FF6B1AEECF567D17C3C48FF" Guid="{6BB40C5F-5FA5-4083-90E2-C2B51A606646}">
                <File Id="filA1A8234822A3376ED777E81C287C2246" KeyPath="yes" Source="$(var.harvest)\nodes\en-US\UnitsUI.resources.dll" />
            </Component>
            <Component Id="cmp7982E16B3C4B8ECA2592AC21E9A88274" Directory="dir1924A9C5CC44413D36ABCD3037F0A403" Guid="{3DDA89E7-73B0-4351-AD90-6297DB957507}">
                <File Id="fil95C8AB1F1424A71404AB9A36ACDED10C" KeyPath="yes" Source="$(var.harvest)\UI\Fonts\OpenSans-Bold.ttf" />
            </Component>
            <Component Id="cmpD1238252B6310349E055C463EA747328" Directory="dir1924A9C5CC44413D36ABCD3037F0A403" Guid="{BE5B6CF0-50F5-4967-9B74-4DA8B68E276F}">
                <File Id="fil02BC5AD7D3BFE450B4440DAD654E71FF" KeyPath="yes" Source="$(var.harvest)\UI\Fonts\OpenSans-BoldItalic.ttf" />
            </Component>
            <Component Id="cmp8BE319FF3FE3A0552DD215372B676A7B" Directory="dir1924A9C5CC44413D36ABCD3037F0A403" Guid="{6F6717CF-FB83-436E-9AF0-E318941B7D74}">
                <File Id="filA8754574B53F1A0C9358CE27ADE5C589" KeyPath="yes" Source="$(var.harvest)\UI\Fonts\OpenSans-ExtraBold.ttf" />
            </Component>
            <Component Id="cmp23CEC236B623CBD1863B3E79B468FC39" Directory="dir1924A9C5CC44413D36ABCD3037F0A403" Guid="{A9E7E86D-B229-479B-BE77-6EE9B95A8523}">
                <File Id="filD52E7EC8B5165E1A971058AB770B5893" KeyPath="yes" Source="$(var.harvest)\UI\Fonts\OpenSans-ExtraBoldItalic.ttf" />
            </Component>
            <Component Id="cmpDF940CCF689B79456B2CF1A30C96ED1E" Directory="dir1924A9C5CC44413D36ABCD3037F0A403" Guid="{061553D7-1C79-42B9-8775-8DA99E02B1B7}">
                <File Id="filB30828C701BC9E3A7E2B1C18E0219BA6" KeyPath="yes" Source="$(var.harvest)\UI\Fonts\OpenSans-Italic.ttf" />
            </Component>
            <Component Id="cmp0ECFEAE34F7B0FD184F15C755327D5F1" Directory="dir1924A9C5CC44413D36ABCD3037F0A403" Guid="{943406FF-DEA5-4986-9917-53DF18B03278}">
                <File Id="filF083FB328764393229F4F844C826B1AE" KeyPath="yes" Source="$(var.harvest)\UI\Fonts\OpenSans-Light.ttf" />
            </Component>
            <Component Id="cmp0F01E80A6D78DE7D7DC6E7A8AE3AA269" Directory="dir1924A9C5CC44413D36ABCD3037F0A403" Guid="{80492B97-792F-41B4-817B-44D0AB693481}">
                <File Id="fil8C8ECD5BF0D1B12812B2D9A14390644A" KeyPath="yes" Source="$(var.harvest)\UI\Fonts\OpenSans-LightItalic.ttf" />
            </Component>
            <Component Id="cmpDCA4711E4389D5DD107A65DDA350CA96" Directory="dir1924A9C5CC44413D36ABCD3037F0A403" Guid="{448194D7-ED56-4774-981C-0AD124862807}">
                <File Id="fil25AA288C3DBE6966DAFC149396895D57" KeyPath="yes" Source="$(var.harvest)\UI\Fonts\OpenSans-Regular.ttf" />
            </Component>
            <Component Id="cmp2188559259D3FF28CF67620BA2C0053F" Directory="dir1924A9C5CC44413D36ABCD3037F0A403" Guid="{3ACDB2BF-B572-4BB2-B21A-FC375C65CCD8}">
                <File Id="fil221614DC8C5DFA6A8F29064B0797636F" KeyPath="yes" Source="$(var.harvest)\UI\Fonts\OpenSans-Semibold.ttf" />
            </Component>
            <Component Id="cmp6B08CB2BDAE09592E6AE04F9B2AE2E9E" Directory="dir1924A9C5CC44413D36ABCD3037F0A403" Guid="{264D32C3-14B0-41A6-AAA0-4427B5666618}">
                <File Id="fil1DBCFB2D8B7A631EC04851187A4CE753" KeyPath="yes" Source="$(var.harvest)\UI\Fonts\OpenSans-SemiboldItalic.ttf" />
            </Component>
            <Component Id="cmp79A1B8449F1E9569A7A7D8313031C91A" Directory="dir64DE7D5A6151DD3151BAEE26EA1EE4F0" Guid="{66E3605E-5E4D-4C12-B239-A217944D8BA3}">
                <File Id="fil82AB1C0710C8D65B6C1C0A8BE69857A9" KeyPath="yes" Source="$(var.harvest)\UI\Themes\Modern\Connectors.xaml" />
            </Component>
            <Component Id="cmpE441C7F8A30ECC7B4FAAB2A84D587A56" Directory="dir64DE7D5A6151DD3151BAEE26EA1EE4F0" Guid="{90525A25-1319-421E-B68C-A1CE74529E86}">
                <File Id="fil4BC9D76F28D90968657FCBB8C54B8097" KeyPath="yes" Source="$(var.harvest)\UI\Themes\Modern\DataTemplates.xaml" />
            </Component>
            <Component Id="cmp0B43EB616C1FD893E2153F3B5D5B6226" Directory="dir64DE7D5A6151DD3151BAEE26EA1EE4F0" Guid="{3E202ADE-D00E-4F31-8A6E-40845F47503D}">
                <File Id="fil90520F756A43CA805F0838935606D4BD" KeyPath="yes" Source="$(var.harvest)\UI\Themes\Modern\DynamoColorsAndBrushes.xaml" />
            </Component>
            <Component Id="cmp89450CEA0968FFC8297E02EBCA868207" Directory="dir64DE7D5A6151DD3151BAEE26EA1EE4F0" Guid="{A8DF5281-862A-4A3E-B17F-407E5BAF25E0}">
                <File Id="fil2CB5E3D6892D466DCDC15B9221B2028C" KeyPath="yes" Source="$(var.harvest)\UI\Themes\Modern\DynamoConverters.xaml" />
            </Component>
            <Component Id="cmp04171E36E78D12160718F8B71CB826B2" Directory="dir64DE7D5A6151DD3151BAEE26EA1EE4F0" Guid="{A17BF8B6-5523-472D-B714-FC16F14EB392}">
                <File Id="filFA708E37E262152ADFE5CF54725C6B35" KeyPath="yes" Source="$(var.harvest)\UI\Themes\Modern\DynamoModern.xaml" />
            </Component>
            <Component Id="cmp09EB1CD42DED6AB1CECFEC33291B2DBB" Directory="dir64DE7D5A6151DD3151BAEE26EA1EE4F0" Guid="{439CBCC8-61DF-438A-851A-992772BB2EB7}">
                <File Id="fil82D1008C4C44EA66B1816BFBF24D74AA" KeyPath="yes" Source="$(var.harvest)\UI\Themes\Modern\DynamoText.xaml" />
            </Component>
            <Component Id="cmp07A6146CA02D991B80412B6CF960F5C9" Directory="dir64DE7D5A6151DD3151BAEE26EA1EE4F0" Guid="{E6E89831-8E5D-4D20-9661-91C85428F308}">
                <File Id="filAE1A354DFC092C62257D36EBB598C89B" KeyPath="yes" Source="$(var.harvest)\UI\Themes\Modern\MenuStyleDictionary.xaml" />
            </Component>
            <Component Id="cmp2B1ECA192BA48F7951DA9146B38FF336" Directory="dir64DE7D5A6151DD3151BAEE26EA1EE4F0" Guid="{D1BEBACC-1E91-41CE-8929-238EB9CA4B79}">
                <File Id="fil1FF2F2495598226041041AF734C657F1" KeyPath="yes" Source="$(var.harvest)\UI\Themes\Modern\Ports.xaml" />
            </Component>
            <Component Id="cmp80BFFB96ACA0FA95D6589D2DF299FE14" Directory="dir64DE7D5A6151DD3151BAEE26EA1EE4F0" Guid="{ED0AD1CE-26AE-4DBD-A638-010A5354E8FF}">
                <File Id="fil5E9652CD8A02C63321A99F0E739FF99E" KeyPath="yes" Source="$(var.harvest)\UI\Themes\Modern\ToolbarStyleDictionary.xaml" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF6920896D148DCF9DEA4F04424460300">
            <Directory Id="dir1924A9C5CC44413D36ABCD3037F0A403" Name="Fonts" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirD525C3E1946ED90302F8C0B1A7C01DA2">
            <Directory Id="dir64DE7D5A6151DD3151BAEE26EA1EE4F0" Name="Modern" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirAE06B4D704DE901745ED8F345B11089E">
            <Directory Id="dirB5156EA83FF6B1AEECF567D17C3C48FF" Name="en-US" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF6920896D148DCF9DEA4F04424460300">
            <Directory Id="dirD525C3E1946ED90302F8C0B1A7C01DA2" Name="Themes" />
        </DirectoryRef>
    </Fragment>
</Wix>