<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DYNAMO_INSTALLDIR">
            <Directory Id="dir2971477043A21F08CEFE3A0B7CA7B0AC" Name="DynamoHarvest_Revit_2015" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="REVIT_2015">
            <Component Id="cmpF1096AC9B064C2F2F92DF8384BA79382" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{5EA65DFB-152D-420B-9B3A-CC014422C6BB}">
                <File Id="fil7297ED55BC7AEE3ECF396498591E6D5A" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\DynamoRaaSHelper.dll" />
            </Component>
            <Component Id="cmp3E98EB6A0CDF60A5F7E6CA28520FCAD1" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{419EE2C7-6EE8-4F5A-BDFF-461059830328}">
                <File Id="fil684BBDCC928EE150BA69006B8275EBE1" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\DynamoRevitDS.dll" />
            </Component>
            <Component Id="cmp3829BF0CB896C25B816A545869169DD3" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{F79E1038-582C-4AB5-B6BD-050A44EFF45E}">
                <File Id="fil2107B91F296C4F2DF69D5BAC6A9F0E76" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\DynamoRevitDS.XML" />
            </Component>
            <Component Id="cmpF35A20A66E1A0D09899AF434CD989EB8" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{DCD528F1-491A-4CA5-9B08-B5DB07578E0D}">
                <File Id="filA9032F28E3D8EDD7ED5D1457E3B31D31" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\DynamoRevitTester.dll" />
            </Component>
            <Component Id="cmpA29931B6F12D820883EE937FD8031DD5" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{C332EB92-7DE6-4F66-B7DD-F7035C6A12EB}">
                <File Id="fil571CDC71F0AE99DEC160E4FD788A4332" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\DynamoRevitVersionSelector.dll" />
            </Component>
            <Component Id="cmp6E148B343ECD753EAEB11FEC9FA09411" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{9B32156D-F8CE-430E-BC2B-42959710B414}">
                <File Id="filA0C4AAC432BA97979CB28F364BB14D4F" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\DynamoUtilities.dll" />
            </Component>
            <Component Id="cmp86EFBDA5686A10BD3E277029D81A1007" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{158B82A4-06B2-4C30-90EE-E27C9719BFBB}">
                <File Id="fil83A460CF735EA5CA8C08CAE134581770" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\GregRevitAuth.dll" />
            </Component>
            <Component Id="cmp6C0046D2350F2BE249F772A7BE90BF95" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{20D4C399-2412-4F83-A0C6-413EDFF641A4}">
                <File Id="fil903BD1338EE7D74E68F032A99A2FCBED" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\JobMonitor.dll" />
            </Component>
            <Component Id="cmpABD0238A4D49C4B316CEFDD75E3223DC" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{208759F8-7CF2-4B2F-B968-4A35E317D1F1}">
                <File Id="fil656F0CEB68E098C8E0146B5C7CBA6936" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\Microsoft.Dynamic.dll" />
            </Component>
            <Component Id="cmpC9C25F8ED6DC81B5C3096A84DAE3FE1A" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{F4F1A501-1C12-4A6A-9968-8F0AE1012399}">
                <File Id="filC283558FCB50225191A1E06FC74A8854" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\Microsoft.Scripting.dll" />
            </Component>
            <Component Id="cmpD67B6E07E7E54CBA66BEDDB10D122A7D" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{07A327BC-5BFF-4698-AA3D-C9B84A7C83D7}">
                <File Id="fil1CC6AB9BD20301726AE70792C995FBFB" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\RevitNodes.dll" />
            </Component>
            <Component Id="cmp15B033B488500153BE2F4613BDBA74BC" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{48E09805-FDE7-4736-B2E5-54FD75038344}">
                <File Id="filEC3E5DC8D106B4C903AE96F43FDECCFE" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\RevitNodes.XML" />
            </Component>
            <Component Id="cmp9CFA868105F2D4BC282A553FE7F9275B" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{93B7BF99-DE8D-4616-BC45-BCD01DFAE532}">
                <File Id="fil56DCA4BD002A05D302942B846DEF22E4" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\RevitNodes_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp5485BDA5F3CB7EEE517E1CEA86D382CB" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{88D6C7C5-A6C3-4F9B-9FD6-460EC07751E8}">
                <File Id="fil8FADE85E4E5C5C27F7F69CAEDCF7BCB2" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\RevitRaaS.dll" />
            </Component>
            <Component Id="cmpAEE28688C0E4DFE6F8ECDC029872C156" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{B877F410-FA1E-4DAE-9958-1945482AC9B4}">
                <File Id="fil427EE57040714580771192B071AB68AE" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\RevitRaaS.dll.config" />
            </Component>
            <Component Id="cmpA3ECA60A1DDD72EECB0C98E72C32D41A" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{DFFEC228-55F5-4629-B37C-846DB95DA11A}">
                <File Id="fil9253F9351F46B912B8A292E52784516F" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\RevitServices.dll" />
            </Component>
            <Component Id="cmp9D605C272AB3BCA716DBECB55809EA12" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{4A63E181-D021-4FFE-831F-BC227450F174}">
                <File Id="fil3A16AE10E89D3BC3216F2D6E7A33924F" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\RevitTestFrameworkTypes.dll" />
            </Component>
            <Component Id="cmpC872D1CE7C3D5EC8128C6C90C6A823C8" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{2A7E3524-A840-4C97-AFCA-AF361A94B3BA}">
                <File Id="fil884E0412FF8A889847A99C215A0E5DD0" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\SDF.dll" />
            </Component>
            <Component Id="cmp06B5C9F193933B67236F8B7BBE984637" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{BCFABB29-C6AE-4D0E-8E1C-9146E76D02D0}">
                <File Id="fil1A3EAFDADEB0E61999C96B9923F1E977" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\SimpleRaaS.dll" />
            </Component>
            <Component Id="cmp6C3DCD721045B8840D004B2C37AD04E7" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{4EEF6656-3B76-4E12-B651-8003381A0FE4}">
                <File Id="fil12E9AB21C85D84A48A318360C2D08B7E" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\SimpleRaaS_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmpC0308C61BF5AF92B6DFE6C4667862B1C" Directory="dirFA24B87C613E10630051E78313B87773" Guid="{5F9E3E54-E463-4EB5-9D3F-7EC5FB4981DB}">
                <File Id="filDFAF39780FE64DFA89C4F3717420F589" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\nodes\DSRevitNodesUI.dll" />
            </Component>
            <Component Id="cmp6233B69A667007B5504CBB07E8339158" Directory="dirFA24B87C613E10630051E78313B87773" Guid="{C4BCFFCB-7AE8-471C-805C-7EFA8903E68B}">
                <File Id="filCD26E2CA6158F079F9E581D34EFF9136" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\nodes\DynamoRaaS.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir2971477043A21F08CEFE3A0B7CA7B0AC">
            <Directory Id="dirFA24B87C613E10630051E78313B87773" Name="nodes" />
        </DirectoryRef>
    </Fragment>
</Wix>