<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DYNAMO_INSTALLDIR">
            <Directory Id="dirBF9287C86B4CCB9D71E77CB163E508DB" Name="DynamoHarvest_Revit_2014" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="REVIT_2014">
            <Component Id="cmp1F62CE082DAD8929950CF593D5D8ABFB" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{69DBB96C-C73C-4A2C-994B-3C238EDADFB2}">
                <File Id="fil87CA29B8EE2FF638DDF3E6414E68390B" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\DynamoRaaSHelper.dll" />
            </Component>
            <Component Id="cmp15FE4BEB0A4697E19804747DE82CEB1B" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{A3FF9DA9-811A-4E7F-B5D7-9F6C77021C11}">
                <File Id="fil4D6E08D522577DC3E6C2944198E54941" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\DynamoRevitDS.dll" />
            </Component>
            <Component Id="cmp7452325BE01126364F472910D6E59124" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{1570F7AB-9D1B-479C-AD6B-21ABE5F09AD4}">
                <File Id="filEF08E96C040FD75C6EDDAAF0D9EEC04F" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\DynamoRevitDS.XML" />
            </Component>
            <Component Id="cmp87920231783AF3EE814C5473C6FBA687" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{F9D0C641-7AE0-46F5-B9CC-39F55EF6494D}">
                <File Id="fil9FD1731304889FFC13E8A5F7F44ED52A" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\DynamoRevitTester.dll" />
            </Component>
            <Component Id="cmp51A14A77333F6C619BA49FDDC1457606" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{D3B84AA7-867F-4843-9EF3-814D73BBBA5F}">
                <File Id="fil2A04185EB1FA3887B67AEDD35E4A8FD9" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\DynamoRevitVersionSelector.dll" />
            </Component>
            <Component Id="cmpD1276D766442D9E467E2BD72B24EE2B3" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{8677D640-FBD0-49D2-9D95-35A28F21A880}">
                <File Id="filC720F9AE490BC5E47C5C8142C4D4C1F3" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\DynamoUtilities.dll" />
            </Component>
            <Component Id="cmpDA5DEE9F0E85FDD1B69078B04B474EB9" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{CE5AB156-9D41-471E-AEFB-77DF5E271DEA}">
                <File Id="filB2AF3CC1F93CB1F88E109DF80C222EFF" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\GregRevitAuth.dll" />
            </Component>
            <Component Id="cmp30C0C4BF1E3CCF2EF015C932E35AFFDA" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{AA5434FD-D8D5-4FE2-AEE9-9E17299E4BEA}">
                <File Id="fil56D3D0D7644E6706B84F3052639916AA" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\JobMonitor.dll" />
            </Component>
            <Component Id="cmp50F2657E5237B1AC5CA223B07CF57169" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{F86B3F8F-B8D5-462B-80DC-A5F2B596EB66}">
                <File Id="fil19BE09170EF8885BFB2C2C70BC896AFA" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\Microsoft.Dynamic.dll" />
            </Component>
            <Component Id="cmp506A71C04D99195911D0C6FC69BE97EC" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{D5C28320-13E7-46DE-B122-86569583FE10}">
                <File Id="filEE439807E79368D240DFB317D90D1F8C" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\Microsoft.Scripting.dll" />
            </Component>
            <Component Id="cmpA8BE2ED733D3A59DB5CA2AE12A5E4D11" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{BBD06E23-9F65-4E55-ACBC-EF1086CE09C1}">
                <File Id="fil159440C9B0285BCD54FA454FFEDC6D7C" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\RevitNodes.dll" />
            </Component>
            <Component Id="cmpF229AF993C8E8B385500803BD0F23318" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{73532189-5072-4F31-988F-C2345030CB3B}">
                <File Id="filBB8537FEEB4D4062A23A71407A31819F" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\RevitNodes.XML" />
            </Component>
            <Component Id="cmpE6F1F7197A50CFDE4E01FF3E5CF34164" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{3CCA725F-7F34-40D3-9473-DF8F8F19E79C}">
                <File Id="filD723D78DD83E2781E0D4016D83136E2A" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\RevitNodes_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp2CC2BB1158E02649C0175BF8AAAB0BF9" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{353D1F53-7568-4C77-BA31-35A7CA1F221C}">
                <File Id="filD3B911BCBD35EBBBA6E4498E3636A063" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\RevitRaaS.dll" />
            </Component>
            <Component Id="cmpE252EAD195264E7908C50ABBA9D02CCC" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{822B2575-EF42-42DF-9870-916B30DAAEA1}">
                <File Id="filBD0F6BFA5A9484116A2B1DF03178713C" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\RevitRaaS.dll.config" />
            </Component>
            <Component Id="cmpADDFD63E901FA3B76AE82F5F897241BE" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{1DD32757-5476-4438-A75A-AC978ED1C538}">
                <File Id="filE219F7926068042FC220799DF8DFA2B2" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\RevitServices.dll" />
            </Component>
            <Component Id="cmp6072FD69E334A602F2157CA5FED95FDD" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{61DB7DD8-F11E-4124-9894-0F8A8E49E4B8}">
                <File Id="filC5EA725BB08EF6734C0B5880EDCE8A0C" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\RevitTestFrameworkTypes.dll" />
            </Component>
            <Component Id="cmp5159725291B54A443F25D82F140569F2" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{9B3FEE26-FC53-48CF-B276-D651B94E18F8}">
                <File Id="fil6C094F5F6B43B501325D0A1F780925BE" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\SDF.dll" />
            </Component>
            <Component Id="cmpAA13F221F6558D35AC7FBF26244A975C" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{58839517-A83C-4168-8418-BE7D3ED5A52B}">
                <File Id="fil860440246D0F3A04F5E600CEA079DA49" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\SimpleRaaS.dll" />
            </Component>
            <Component Id="cmpC233234B8E3BB3906730C8ADA3551D02" Directory="dirBF9287C86B4CCB9D71E77CB163E508DB" Guid="{FB90F752-03C1-4385-9800-86531E8F7D16}">
                <File Id="filCEF992DCFBFF2F47BF28C944082DF928" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\SimpleRaaS_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmpDA84AFA247F6ED58466F607ED7DCCD5B" Directory="dir096573DB129036DDCF2B7ADF38A31440" Guid="{8DD43105-E64E-4AE3-9AB4-7DD0996304E8}">
                <File Id="filAD9F050A0EE6FBD44D205A7575285CC8" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\nodes\DSRevitNodesUI.dll" />
            </Component>
            <Component Id="cmpBBB28FFC4416B43E63CB5B2F33ABBE78" Directory="dir096573DB129036DDCF2B7ADF38A31440" Guid="{D551D61C-8726-4B7B-A070-C2DEACD90952}">
                <File Id="filB2CA54F547FB6A301CC0483B67D09914" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2014_HARVEST_PATH)\nodes\DynamoRaaS.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirBF9287C86B4CCB9D71E77CB163E508DB">
            <Directory Id="dir096573DB129036DDCF2B7ADF38A31440" Name="nodes" />
        </DirectoryRef>
    </Fragment>
</Wix>