<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="DYNAMO_INSTALLDIR">
            <Directory Id="dir2971477043A21F08CEFE3A0B7CA7B0AC" Name="DynamoHarvest_Revit_2015" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="REVIT_2015">
            <Component Id="cmpF1096AC9B064C2F2F92DF8384BA79382" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{BD54B40C-2B2E-459B-8B26-C7D053D202E2}">
                <File Id="fil7297ED55BC7AEE3ECF396498591E6D5A" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\DynamoRaaSHelper.dll" />
            </Component>
            <Component Id="cmp3E98EB6A0CDF60A5F7E6CA28520FCAD1" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{9BB39CE5-6CCA-4C33-A2A4-4D803A03365E}">
                <File Id="fil684BBDCC928EE150BA69006B8275EBE1" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\DynamoRevitDS.dll" />
            </Component>
            <Component Id="cmp3829BF0CB896C25B816A545869169DD3" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{9220A8F9-4A83-40E1-8A10-962A2699E0C7}">
                <File Id="fil2107B91F296C4F2DF69D5BAC6A9F0E76" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\DynamoRevitDS.XML" />
            </Component>
            <Component Id="cmpF35A20A66E1A0D09899AF434CD989EB8" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{18683A4F-9CFC-49E3-8F0D-B5B156F20AC9}">
                <File Id="filA9032F28E3D8EDD7ED5D1457E3B31D31" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\DynamoRevitTester.dll" />
            </Component>
            <Component Id="cmpA29931B6F12D820883EE937FD8031DD5" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{DB579AC7-455C-4C87-AF1E-ED0D0C629D0D}">
                <File Id="fil571CDC71F0AE99DEC160E4FD788A4332" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\DynamoRevitVersionSelector.dll" />
            </Component>
            <Component Id="cmp6E148B343ECD753EAEB11FEC9FA09411" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{A82EA38D-5E51-40B6-B9E7-77C540EE86DA}">
                <File Id="filA0C4AAC432BA97979CB28F364BB14D4F" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\DynamoUtilities.dll" />
            </Component>
            <Component Id="cmp86EFBDA5686A10BD3E277029D81A1007" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{0A8A93C1-2F30-44B0-BC7E-89E8FC06C388}">
                <File Id="fil83A460CF735EA5CA8C08CAE134581770" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\GregRevitAuth.dll" />
            </Component>
            <Component Id="cmp6C0046D2350F2BE249F772A7BE90BF95" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{5332316B-3D87-4A8D-9C22-9A1023DB83B6}">
                <File Id="fil903BD1338EE7D74E68F032A99A2FCBED" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\JobMonitor.dll" />
            </Component>
            <Component Id="cmpABD0238A4D49C4B316CEFDD75E3223DC" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{B39C1281-FA60-421F-AB62-A9FF0CDF05C5}">
                <File Id="fil656F0CEB68E098C8E0146B5C7CBA6936" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\Microsoft.Dynamic.dll" />
            </Component>
            <Component Id="cmpC9C25F8ED6DC81B5C3096A84DAE3FE1A" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{E7DFC390-02D9-4854-B050-6800A12EC9CC}">
                <File Id="filC283558FCB50225191A1E06FC74A8854" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\Microsoft.Scripting.dll" />
            </Component>
            <Component Id="cmpD67B6E07E7E54CBA66BEDDB10D122A7D" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{C6CE7C1D-D400-42A0-9E36-7738B53246ED}">
                <File Id="fil1CC6AB9BD20301726AE70792C995FBFB" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\RevitNodes.dll" />
            </Component>
            <Component Id="cmp15B033B488500153BE2F4613BDBA74BC" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{AB1490FB-9909-4DC4-855D-6D9D2BF346F2}">
                <File Id="filEC3E5DC8D106B4C903AE96F43FDECCFE" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\RevitNodes.XML" />
            </Component>
            <Component Id="cmp9CFA868105F2D4BC282A553FE7F9275B" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{1888AA86-F58F-4B66-8342-599A534D4BBA}">
                <File Id="fil56DCA4BD002A05D302942B846DEF22E4" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\RevitNodes_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmp5485BDA5F3CB7EEE517E1CEA86D382CB" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{1B03F3E2-0F86-416D-9063-F8A3F0C7C5ED}">
                <File Id="fil8FADE85E4E5C5C27F7F69CAEDCF7BCB2" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\RevitRaaS.dll" />
            </Component>
            <Component Id="cmpAEE28688C0E4DFE6F8ECDC029872C156" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{F7B11711-3D28-4786-913E-182A01792A5A}">
                <File Id="fil427EE57040714580771192B071AB68AE" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\RevitRaaS.dll.config" />
            </Component>
            <Component Id="cmpA3ECA60A1DDD72EECB0C98E72C32D41A" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{3CF4B085-34C0-4287-BB0A-1D3A5CD2A3DF}">
                <File Id="fil9253F9351F46B912B8A292E52784516F" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\RevitServices.dll" />
            </Component>
            <Component Id="cmp9D605C272AB3BCA716DBECB55809EA12" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{490E2537-0F17-4DAA-995E-AC0C70B47A51}">
                <File Id="fil3A16AE10E89D3BC3216F2D6E7A33924F" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\RevitTestFrameworkTypes.dll" />
            </Component>
            <Component Id="cmpC872D1CE7C3D5EC8128C6C90C6A823C8" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{A30CD41B-1954-42F3-ADC1-860D0E765D32}">
                <File Id="fil884E0412FF8A889847A99C215A0E5DD0" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\SDF.dll" />
            </Component>
            <Component Id="cmp06B5C9F193933B67236F8B7BBE984637" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{4B61550F-A542-49C5-B09D-F451647C8A7D}">
                <File Id="fil1A3EAFDADEB0E61999C96B9923F1E977" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\SimpleRaaS.dll" />
            </Component>
            <Component Id="cmp6C3DCD721045B8840D004B2C37AD04E7" Directory="dir2971477043A21F08CEFE3A0B7CA7B0AC" Guid="{42DBC039-2D00-4D68-BFB5-D7295FB88AB5}">
                <File Id="fil12E9AB21C85D84A48A318360C2D08B7E" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\SimpleRaaS_DynamoCustomization.xml" />
            </Component>
            <Component Id="cmpC0308C61BF5AF92B6DFE6C4667862B1C" Directory="dirFA24B87C613E10630051E78313B87773" Guid="{7D69465C-D822-46CC-8C18-77DE8BC99CEF}">
                <File Id="filDFAF39780FE64DFA89C4F3717420F589" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\nodes\DSRevitNodesUI.dll" />
            </Component>
            <Component Id="cmp6233B69A667007B5504CBB07E8339158" Directory="dirFA24B87C613E10630051E78313B87773" Guid="{BC9CAC43-D7A5-4947-B47F-80027F86B302}">
                <File Id="filCD26E2CA6158F079F9E581D34EFF9136" KeyPath="yes" Source="$(env.DYNAMO_REVIT_2015_HARVEST_PATH)\nodes\DynamoRaaS.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir2971477043A21F08CEFE3A0B7CA7B0AC">
            <Directory Id="dirFA24B87C613E10630051E78313B87773" Name="nodes" />
        </DirectoryRef>
    </Fragment>
</Wix>