<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="PROGDATA_07">
            <Directory Id="dir915D00C23048C951FDC1693619DCAD04" Name="samples" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SAMPLES">
            <Component Id="cmp6A642DAE7FC8767113BEB73810882F51" Directory="dirE10E3F9A86E60E6567ADBE6BA0596E9A" Guid="{7EF13878-D548-49D6-BA40-C91029680F8E}">
                <File Id="fil0749B296A4DF364A2D6F9D2C5B417A51" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Basics\Basics_Basic01.dyn" />
            </Component>
            <Component Id="cmp43BBC525DC0159FA543C4F852C37E0B7" Directory="dirE10E3F9A86E60E6567ADBE6BA0596E9A" Guid="{F114611D-DFE1-4CDB-BA06-127C222CC8C0}">
                <File Id="fil011B22C9DF3F1844ED9408F58DC9731B" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Basics\Basics_Basic02.dyn" />
            </Component>
            <Component Id="cmp504E3A4FC19A27254526E75ADA19BD0B" Directory="dirE10E3F9A86E60E6567ADBE6BA0596E9A" Guid="{76E21919-62B3-4A46-A61F-B9608E98F87E}">
                <File Id="fil81C8A018227090A731069BF064C1649C" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Basics\Basics_Basic03.dyn" />
            </Component>
            <Component Id="cmp8046F7B96DA22869EFBC73B2359A2C54" Directory="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Guid="{3A9BD384-E40E-47E0-9554-49E30D372F3D}">
                <File Id="fil4A5971DE3E904BFFD965CDEB35FADA64" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Core\Core_AttractorPoint.dyn" />
            </Component>
            <Component Id="cmpB52E36D13CD7252445781EB4F72B85CA" Directory="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Guid="{9E8BA843-7B49-4F34-AD61-2FFDA403BFBB}">
                <File Id="fil6F573DDD5FFEE1609848DC1081B8562B" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Core\Core_CodeBlocks.dyn" />
            </Component>
            <Component Id="cmp08B33B134E67309EB1E5C6603B75FAE0" Directory="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Guid="{F34ACBE4-785D-4327-A3D1-E4B8D239486E}">
                <File Id="filCD1925781CCFE8348B676BAD3E057A95" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Core\Core_ListLacing.dyn" />
            </Component>
            <Component Id="cmp6135DF1B8D662045A00F891A3B0491F7" Directory="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Guid="{F42C143F-5A52-46DD-ADEE-63B3DBA39CA6}">
                <File Id="filB91E60C2207C3C2CD9AD2BF434660D4B" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Core\Core_Math.dyn" />
            </Component>
            <Component Id="cmpE58B6A01E85A86603C1A3630C84C8527" Directory="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Guid="{ECBA629F-E033-4BB7-92F6-305BCFFE0351}">
                <File Id="fil59BBBD7B013CCAE32D6C76FE86E04EDF" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Core\Core_PassingFunctions.dyn" />
            </Component>
            <Component Id="cmp04DD03CF8E4A232D77AB2148DB08FB33" Directory="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Guid="{88198AAA-B48F-45AC-8287-465EC6EB9F10}">
                <File Id="fil0C187826CEFEFE396E246AD8EC3324DB" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Core\Core_Python.dyn" />
            </Component>
            <Component Id="cmpE5CAA5D84014FFFB7705C7C66349C89A" Directory="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Guid="{53ED22CC-AF24-419E-8B9C-8D41A0B235E8}">
                <File Id="fil7A2AF10F9A47D48C4B4E62CFCFAD3219" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Core\Core_RangeSyntax.dyn" />
            </Component>
            <Component Id="cmp4427119836AD2F670B290B39B2806799" Directory="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Guid="{FCF9D9F9-9E24-4E06-AA93-78D34EE5B543}">
                <File Id="fil3825EFB5DBF86A42CCB110903187A6DD" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Core\Core_Strings.dyn" />
            </Component>
            <Component Id="cmp3EE7C447103851998572E5AC7DC36D83" Directory="dirE40332174A632405AD0CB03741D18651" Guid="{4BD6A8FC-44AC-4728-8BB6-017015CDF6AF}">
                <File Id="fil33D61E01B947C6A11A4BCFAD9F691D29" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Geometry\Geometry_Curves.dyn" />
            </Component>
            <Component Id="cmpB56D2264578D14D180CC8863D88F7B54" Directory="dirE40332174A632405AD0CB03741D18651" Guid="{4894D2D9-D20F-465F-AA64-874FA957CE53}">
                <File Id="filCA790B92BDCE833EF8958C2B87901F64" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Geometry\Geometry_Points.dyn" />
            </Component>
            <Component Id="cmpDC32E0A89A6EBEC863177BC50524B23E" Directory="dirE40332174A632405AD0CB03741D18651" Guid="{27010612-53D1-41ED-84C4-93F052D9444C}">
                <File Id="fil92EAD9DCAC13946729BF8D39F19FD1AF" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Geometry\Geometry_Solids.dyn" />
            </Component>
            <Component Id="cmpF5B1524DEF8042C0C3F49107C104EA63" Directory="dirE40332174A632405AD0CB03741D18651" Guid="{529C93BC-E664-4F5F-941F-6FF22BD7E0DF}">
                <File Id="fil5DA70A90F5960F793E1EAD64113C4C61" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Geometry\Geometry_Surfaces.dyn" />
            </Component>
            <Component Id="cmp1D0404814F0D40A218F0FCA1D4432679" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{77DF120E-3538-486B-AD81-D447B5EECD7C}">
                <File Id="filF5C77263AD649005B88E14E91FA35B3B" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\gradient.bmp" />
            </Component>
            <Component Id="cmpAB121746346F22AB8B77D8F81AA14371" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{8CF0CC7A-1C82-4F10-B61D-BB49428F88F9}">
                <File Id="filA8FEA0E4AB332421ECBEA23126B7A553" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\grayscale3.bmp" />
            </Component>
            <Component Id="cmpB4CD23635D62FC6FE2007DC29278B807" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{1E980CB3-5DF4-45C9-9A31-AF22FFCCDC71}">
                <File Id="fil10CBB0D0C7C1CA177E4A74B21E5B410D" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\helix.csv" />
            </Component>
            <Component Id="cmp02A958314F86E53AB9656AFB1087E886" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{058C06E9-1DE9-485D-948E-5D9A1616C9D5}">
                <File Id="fil8A3EC6DE7E2C72E194C4810AF9A2F025" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\helix.xlsx" />
            </Component>
            <Component Id="cmp2BAA8BF7E9DE35B391C7E13CC85FB8A0" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{257EC72E-A52D-4EB3-86F1-3A49E58DC0D8}">
                <File Id="fil5AF103F99494F47E7B78D49F62080B81" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\helix_smaller.csv" />
            </Component>
            <Component Id="cmp758983929EB9012217EBE586343525FA" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{32CBE460-E01F-4E1A-B3F9-BAE0BE794A5A}">
                <File Id="fil47A40BB165F84530FBE78D4024D1943C" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\icosohedron_points.csv" />
            </Component>
            <Component Id="cmp0F7D47875D18C8D289F37371B885D3CF" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{1A463268-3EEE-4011-BE40-A7FEF831D88C}">
                <File Id="fil5711F23DCF86FFA06892155A6A67041D" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\ImportExport_CSV to Stuff.dyn" />
            </Component>
            <Component Id="cmp46A7DD4989A7A04681F2ED8CE4535F25" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{21CEEC15-6472-4B64-8646-CA3AFC093B8C}">
                <File Id="fil22F9D6763F74DD651C1D45CC5E2BDC2E" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\ImportExport_Data To Excel.dyn" />
            </Component>
            <Component Id="cmpB862A92EB27AA61C82934B5B987C6C9C" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{35046D9F-B019-4D0F-8110-9AD389EDBE28}">
                <File Id="fil42E208C3F71FD61D4F70774C7994EB41" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\ImportExport_Excel to Dynamo.dyn" />
            </Component>
            <Component Id="cmpA6E2D07150BC66A2BFA7D049BEF5791A" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{ECAB72EA-7BE1-432B-9DBB-9F2A503AA38D}">
                <File Id="filFC29C51F482F8E076D9D135713126F35" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\sphere.csv" />
            </Component>
            <Component Id="cmp0BC197B4F358C8B68034109A37221FFE" Directory="dirC80B050524970F6643CC8C232A49A166" Guid="{4E82A4B1-8466-451C-8017-DE1725F198B6}">
                <File Id="fil2363283104245AA2687AC99FB4ACCD1A" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Revit\DynamoSample.rvt" />
            </Component>
            <Component Id="cmpF6350C7FEFD48B57BE9A309BE2613C82" Directory="dirC80B050524970F6643CC8C232A49A166" Guid="{01E3BAE9-AA48-46AE-A006-D14DB7D2B3B5}">
                <File Id="fil6248702BB39AF612A0BCB651A7B01236" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Revit\Revit_Adaptive Component Placement.dyn" />
            </Component>
            <Component Id="cmp6E1226487DE1E2291366017565C68572" Directory="dirC80B050524970F6643CC8C232A49A166" Guid="{7F27E4E2-5C27-4286-8264-706A200DFE0F}">
                <File Id="fil7C1F69FD97EEA5A649A52EF547801E98" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Revit\Revit_Color.dyn" />
            </Component>
            <Component Id="cmp346AE0CB0C0568707E0F932F69A43325" Directory="dirC80B050524970F6643CC8C232A49A166" Guid="{3BFE8BE4-2F10-4FE2-B322-9B0934054273}">
                <File Id="fil7353C88E03FFDB3A14E18D0C5D023977" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Revit\Revit_Floors and Framing.dyn" />
            </Component>
            <Component Id="cmpBD1D25B89198AAF596DF9283B25FF6F1" Directory="dirC80B050524970F6643CC8C232A49A166" Guid="{B049CB65-55C1-4CF6-8D2E-61A304D95F53}">
                <File Id="filEAD55EECCE7137ACD01EF571AE571CBA" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Revit\Revit_ImportSolid.dyn" />
            </Component>
            <Component Id="cmp10E903D4B793D4531B3AD37F32EE53BE" Directory="dirC80B050524970F6643CC8C232A49A166" Guid="{8617D3B2-5E07-46BF-872F-3AE983D7DCAA}">
                <File Id="fil21F4D99B3C0605AE68BC00D2B89DDA6A" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Revit\Revit_PlaceFamiliesByLevel_Set Parameters.dyn" />
            </Component>
            <Component Id="cmp24CA0F6E8178A1F55EC4F63850D86030" Directory="dirC80B050524970F6643CC8C232A49A166" Guid="{63AC7193-1C45-4E6D-B2C4-9DE40F805769}">
                <File Id="fil694ED5753472513194B0AB7FD9330655" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Revit\Revit_StructuralFraming.dyn" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir915D00C23048C951FDC1693619DCAD04">
            <Directory Id="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Name="samples" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir915D00C23048C951FDC1693619DCAD04">
            <Directory Id="dirC512523A46D7E900F88970E8AAB44AD1" Name="samples" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir915D00C23048C951FDC1693619DCAD04">
            <Directory Id="dirC80B050524970F6643CC8C232A49A166" Name="samples" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir915D00C23048C951FDC1693619DCAD04">
            <Directory Id="dirE10E3F9A86E60E6567ADBE6BA0596E9A" Name="samples" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir915D00C23048C951FDC1693619DCAD04">
            <Directory Id="dirE40332174A632405AD0CB03741D18651" Name="samples" />
        </DirectoryRef>
    </Fragment>
</Wix>