<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="PROGDATA_07">
            <Directory Id="dir915D00C23048C951FDC1693619DCAD04" Name="Samples" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SAMPLES">
            <Component Id="cmp6A642DAE7FC8767113BEB73810882F51" Directory="dirE10E3F9A86E60E6567ADBE6BA0596E9A" Guid="{CD65D518-D604-4C82-91DF-E23D57D4F171}">
                <File Id="fil0749B296A4DF364A2D6F9D2C5B417A51" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Basics\Basics_Basic01.dyn" />
            </Component>
            <Component Id="cmp43BBC525DC0159FA543C4F852C37E0B7" Directory="dirE10E3F9A86E60E6567ADBE6BA0596E9A" Guid="{6068AC5C-251B-4910-806D-F0F433DFE038}">
                <File Id="fil011B22C9DF3F1844ED9408F58DC9731B" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Basics\Basics_Basic02.dyn" />
            </Component>
            <Component Id="cmp504E3A4FC19A27254526E75ADA19BD0B" Directory="dirE10E3F9A86E60E6567ADBE6BA0596E9A" Guid="{76102CED-7169-4486-9F70-E420B9EB8D6D}">
                <File Id="fil81C8A018227090A731069BF064C1649C" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Basics\Basics_Basic03.dyn" />
            </Component>
            <Component Id="cmp8046F7B96DA22869EFBC73B2359A2C54" Directory="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Guid="{ED436BBF-BC1C-403C-BD56-19EDFA0FDA2A}">
                <File Id="fil4A5971DE3E904BFFD965CDEB35FADA64" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Core\Core_AttractorPoint.dyn" />
            </Component>
            <Component Id="cmpB52E36D13CD7252445781EB4F72B85CA" Directory="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Guid="{6D385EA4-0CCC-439A-B01E-556457A0C729}">
                <File Id="fil6F573DDD5FFEE1609848DC1081B8562B" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Core\Core_CodeBlocks.dyn" />
            </Component>
            <Component Id="cmp08B33B134E67309EB1E5C6603B75FAE0" Directory="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Guid="{88BF254B-AF5F-46EB-8A62-3C501006E66D}">
                <File Id="filCD1925781CCFE8348B676BAD3E057A95" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Core\Core_ListLacing.dyn" />
            </Component>
            <Component Id="cmp6135DF1B8D662045A00F891A3B0491F7" Directory="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Guid="{834AE224-02FB-4C70-BA1F-2A314D3FFC02}">
                <File Id="filB91E60C2207C3C2CD9AD2BF434660D4B" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Core\Core_Math.dyn" />
            </Component>
            <Component Id="cmpE58B6A01E85A86603C1A3630C84C8527" Directory="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Guid="{B83BE32B-4CFC-4265-9788-7AE5AFAA3AAD}">
                <File Id="fil59BBBD7B013CCAE32D6C76FE86E04EDF" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Core\Core_PassingFunctions.dyn" />
            </Component>
            <Component Id="cmp04DD03CF8E4A232D77AB2148DB08FB33" Directory="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Guid="{EF371DA8-47AD-4736-BF6A-8ABBBA7FE07C}">
                <File Id="fil0C187826CEFEFE396E246AD8EC3324DB" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Core\Core_Python.dyn" />
            </Component>
            <Component Id="cmpE5CAA5D84014FFFB7705C7C66349C89A" Directory="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Guid="{0F2EB4F8-DBE3-456E-9565-6F876C7BEBFA}">
                <File Id="fil7A2AF10F9A47D48C4B4E62CFCFAD3219" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Core\Core_RangeSyntax.dyn" />
            </Component>
            <Component Id="cmp4427119836AD2F670B290B39B2806799" Directory="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Guid="{289A12E2-D923-488C-9750-A235234191AD}">
                <File Id="fil3825EFB5DBF86A42CCB110903187A6DD" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Core\Core_Strings.dyn" />
            </Component>
            <Component Id="cmp3EE7C447103851998572E5AC7DC36D83" Directory="dirE40332174A632405AD0CB03741D18651" Guid="{36B97B23-9697-4129-9FAE-1C9D50FD63B5}">
                <File Id="fil33D61E01B947C6A11A4BCFAD9F691D29" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Geometry\Geometry_Curves.dyn" />
            </Component>
            <Component Id="cmpB56D2264578D14D180CC8863D88F7B54" Directory="dirE40332174A632405AD0CB03741D18651" Guid="{2AC06732-640B-45FE-AC93-885008CCE4A1}">
                <File Id="filCA790B92BDCE833EF8958C2B87901F64" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Geometry\Geometry_Points.dyn" />
            </Component>
            <Component Id="cmpDC32E0A89A6EBEC863177BC50524B23E" Directory="dirE40332174A632405AD0CB03741D18651" Guid="{51DE55E9-5EF7-456D-8266-59591C58C5AC}">
                <File Id="fil92EAD9DCAC13946729BF8D39F19FD1AF" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Geometry\Geometry_Solids.dyn" />
            </Component>
            <Component Id="cmpF5B1524DEF8042C0C3F49107C104EA63" Directory="dirE40332174A632405AD0CB03741D18651" Guid="{E862810A-13CC-46A7-A9B6-8D2826A6E91B}">
                <File Id="fil5DA70A90F5960F793E1EAD64113C4C61" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Geometry\Geometry_Surfaces.dyn" />
            </Component>
            <Component Id="cmp1D0404814F0D40A218F0FCA1D4432679" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{36396B8A-5B95-42F4-A096-5C6C33A8EED2}">
                <File Id="filF5C77263AD649005B88E14E91FA35B3B" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\gradient.bmp" />
            </Component>
            <Component Id="cmpAB121746346F22AB8B77D8F81AA14371" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{FC760817-B588-4F06-91F4-337665DA2D5A}">
                <File Id="filA8FEA0E4AB332421ECBEA23126B7A553" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\grayscale3.bmp" />
            </Component>
            <Component Id="cmpB4CD23635D62FC6FE2007DC29278B807" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{1D742D29-9EE5-4144-99A1-D8BB2B3A66BA}">
                <File Id="fil10CBB0D0C7C1CA177E4A74B21E5B410D" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\helix.csv" />
            </Component>
            <Component Id="cmp02A958314F86E53AB9656AFB1087E886" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{EFA36FA8-9F21-4D39-86BC-4588358C518B}">
                <File Id="fil8A3EC6DE7E2C72E194C4810AF9A2F025" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\helix.xlsx" />
            </Component>
            <Component Id="cmp2BAA8BF7E9DE35B391C7E13CC85FB8A0" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{C56FB15E-71AB-40E7-B94B-AB20933DA9DA}">
                <File Id="fil5AF103F99494F47E7B78D49F62080B81" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\helix_smaller.csv" />
            </Component>
            <Component Id="cmp758983929EB9012217EBE586343525FA" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{FED53D35-6909-420E-B060-03E6A271B8F8}">
                <File Id="fil47A40BB165F84530FBE78D4024D1943C" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\icosohedron_points.csv" />
            </Component>
            <Component Id="cmp0F7D47875D18C8D289F37371B885D3CF" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{8635031D-866A-4D4C-A7BB-DC20E3A9D1A2}">
                <File Id="fil5711F23DCF86FFA06892155A6A67041D" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\ImportExport_CSV to Stuff.dyn" />
            </Component>
            <Component Id="cmp46A7DD4989A7A04681F2ED8CE4535F25" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{05EB701E-72A6-457F-8FB7-8B1001A914F4}">
                <File Id="fil22F9D6763F74DD651C1D45CC5E2BDC2E" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\ImportExport_Data To Excel.dyn" />
            </Component>
            <Component Id="cmpB862A92EB27AA61C82934B5B987C6C9C" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{6A29C810-CF1E-48BC-9494-F753E43E17B2}">
                <File Id="fil42E208C3F71FD61D4F70774C7994EB41" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\ImportExport_Excel to Dynamo.dyn" />
            </Component>
            <Component Id="cmpA6E2D07150BC66A2BFA7D049BEF5791A" Directory="dirC512523A46D7E900F88970E8AAB44AD1" Guid="{C90D4289-B5B1-47A1-AC17-5C93C0C91E8C}">
                <File Id="filFC29C51F482F8E076D9D135713126F35" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\ImportExport\sphere.csv" />
            </Component>
            <Component Id="cmp0BC197B4F358C8B68034109A37221FFE" Directory="dirC80B050524970F6643CC8C232A49A166" Guid="{A1D933CE-6880-4A6C-9113-7B0E4791CEE2}">
                <File Id="fil2363283104245AA2687AC99FB4ACCD1A" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Revit\DynamoSample.rvt" />
            </Component>
            <Component Id="cmpF6350C7FEFD48B57BE9A309BE2613C82" Directory="dirC80B050524970F6643CC8C232A49A166" Guid="{A17D3BAE-BD69-4F31-8C2A-FD847DA3256B}">
                <File Id="fil6248702BB39AF612A0BCB651A7B01236" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Revit\Revit_Adaptive Component Placement.dyn" />
            </Component>
            <Component Id="cmp6E1226487DE1E2291366017565C68572" Directory="dirC80B050524970F6643CC8C232A49A166" Guid="{320C6164-BDFD-4181-8CF7-6C9121B237FA}">
                <File Id="fil7C1F69FD97EEA5A649A52EF547801E98" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Revit\Revit_Color.dyn" />
            </Component>
            <Component Id="cmp346AE0CB0C0568707E0F932F69A43325" Directory="dirC80B050524970F6643CC8C232A49A166" Guid="{34AEC6B6-5DFB-42D9-92FB-F94601F88DA6}">
                <File Id="fil7353C88E03FFDB3A14E18D0C5D023977" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Revit\Revit_Floors and Framing.dyn" />
            </Component>
            <Component Id="cmpBD1D25B89198AAF596DF9283B25FF6F1" Directory="dirC80B050524970F6643CC8C232A49A166" Guid="{46C5D6A6-3A63-4A5F-899B-2C975F1F79EA}">
                <File Id="filEAD55EECCE7137ACD01EF571AE571CBA" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Revit\Revit_ImportSolid.dyn" />
            </Component>
            <Component Id="cmp10E903D4B793D4531B3AD37F32EE53BE" Directory="dirC80B050524970F6643CC8C232A49A166" Guid="{C258F31B-B4B4-4389-80E5-CC837ECDB091}">
                <File Id="fil21F4D99B3C0605AE68BC00D2B89DDA6A" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Revit\Revit_PlaceFamiliesByLevel_Set Parameters.dyn" />
            </Component>
            <Component Id="cmp24CA0F6E8178A1F55EC4F63850D86030" Directory="dirC80B050524970F6643CC8C232A49A166" Guid="{BE7BF71A-DC4A-4A2A-A7A0-103FFCD36948}">
                <File Id="fil694ED5753472513194B0AB7FD9330655" KeyPath="yes" Source="$(env.DYNAMO_SAMPLES_PATH)\Revit\Revit_StructuralFraming.dyn" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir915D00C23048C951FDC1693619DCAD04">
            <Directory Id="dir2DA26D943A4CEB0685BFFA7E94D1B62A" Name="Core" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir915D00C23048C951FDC1693619DCAD04">
            <Directory Id="dirC512523A46D7E900F88970E8AAB44AD1" Name="ImportExport" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir915D00C23048C951FDC1693619DCAD04">
            <Directory Id="dirC80B050524970F6643CC8C232A49A166" Name="Revit" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir915D00C23048C951FDC1693619DCAD04">
            <Directory Id="dirE10E3F9A86E60E6567ADBE6BA0596E9A" Name="Basics" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir915D00C23048C951FDC1693619DCAD04">
            <Directory Id="dirE40332174A632405AD0CB03741D18651" Name="Geometry" />
        </DirectoryRef>
    </Fragment>
</Wix>