<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <Fragment>

    <!-- To remove the Uninstall Button in ARP -->
    <Property Id='ARPNOREMOVE'>1</Property>
    
    <WixVariable Id="WixUIBannerBmp" Value="..\..\..\..\tools\install\Extra\logo_banner.bmp" />
    
    <UI Id="SetupDialogUI">
      
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <TextStyle Id="WixUI_Font_Red" FaceName="Tahoma" Size="10" Red="255" Green="0" Blue="0"  />
      
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return">1</Publish>

      <Publish Dialog="SetupTypeDlg" Control="Back" Event="EndDialog" Value="Return">1</Publish>
      
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MyMaintenanceTypeDlg"
               Order="1">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg"
               Order="2">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="MyVerifyReadyDlg">1</Publish>

      <Publish Dialog="MyVerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg"
               Order="1">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="MyVerifyReadyDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg"
               Order="2">WixUI_InstallMode = "InstallTypical" OR WixUI_InstallMode = "InstallComplete"</Publish>
      <Publish Dialog="MyVerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg"
               Order="3">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="MyVerifyReadyDlg" Control="Back" Event="NewDialog" Value="MyMaintenanceTypeDlg"
               Order="4">WixUI_InstallMode = "Repair" OR WixUI_InstallMode = "Remove"</Publish>
      
      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog"
               Value="MyMaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MyMaintenanceTypeDlg" Control="RepairButton" Event="NewDialog"
               Value="MyVerifyReadyDlg">1</Publish>
      <Publish Dialog="MyMaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog"
               Value="MyVerifyReadyDlg">1</Publish>
      <Publish Dialog="MyMaintenanceTypeDlg" Control="Back" Event="NewDialog"
               Value="MaintenanceWelcomeDlg">1</Publish>
      
      <!-- Recommended UI Sequence
           https://msdn.microsoft.com/en-us/library/windows/desktop/aa372039(v=vs.85).aspx -->
      <InstallUISequence>
        <!-- Skip Maintenance Welcome Page -->
        <Show Dialog="MaintenanceWelcomeDlg" Before="MyMaintenanceTypeDlg">0</Show>
        <Show Dialog="MyMaintenanceTypeDlg" Sequence="1250">Installed</Show>
        <!-- Skip Finish Page -->
        <Show Dialog="ExitDialog" OnExit="success">0</Show>
        <!-- Skip Interrupted Page -->
        <Show Dialog="UserExit" OnExit="cancel">0</Show>
      </InstallUISequence>
      <AdminUISequence>
        <!-- Skip Maintenance Welcome Page -->
        <Show Dialog="MaintenanceWelcomeDlg" Before="MyMaintenanceTypeDlg">0</Show>
        <Show Dialog="MyMaintenanceTypeDlg" Sequence="1250">Installed</Show>
        <!-- Skip Finish Page -->
        <Show Dialog="ExitDialog" OnExit="success">0</Show>
        <!-- Skip Interrupted Page -->
        <Show Dialog="UserExit" OnExit="cancel">0</Show>
      </AdminUISequence>
      
    </UI>

    <UIRef Id="WixUI_Common" />    
    
  </Fragment>
  
</Wix>