<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net48" />
  <package id="Python.Included" version="3.7.3.4" targetFramework="net48" />
  <package id="Python.Runtime.NETStandard" version="3.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net48" />
</packages>