version: 1.0.{build}

platform: Any CPU

configuration: Release

environment:	
 xmlDocs_solution: tools/XmlDocToMarkdown/XmlDocToMarkdown.sln

build_script: 
  - msbuild %xmlDocs_solution%

after_build:
  - ps: tools/XmlDocToMarkdown/XmlDocToMarkdown/BuildScript/BuildScript.ps1
  