version: 1.0.{build}

platform: Any CPU

configuration: Release

environment:	
	- dynamo_solution	: src/Dynamo.All.2013.sln
	- xmlDocs_solution: tools/XmlDocToMarkdown/XmlDocToMarkdown.sln

build_script:
	- msbuild %dynamo_solution%
	- msbuild %xmlDocs_solution%

after_build:
	ps: tools/XmlDocToMarkdown/XmlDocToMarkdown/BuildScript/BuildScript.ps1 
  
test: off