<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Microsoft and .NET"
         value="https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/" />
    <add key="team-dynamo-nuget"
         value="https://art-bobcat.autodesk.com/artifactory/api/nuget/team-dynamo-nuget" />
  </packageSources>
  <config>
        <add key="dependencyversion" value="Highest" />
    </config>
</configuration>