<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.8.0" targetFramework="net48" />
  <package id="DynamoVisualProgramming.LibG_228_0_0" version="2.13.0.6925" targetFramework="net48" developmentDependency="true" />
  <package id="Greg" version="2.1.8012.31283" targetFramework="net48" />
  <package id="Magick.NET.Core" version="7.0.1" targetFramework="net48" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.24.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net48" />
  <package id="RestSharp" version="106.12.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
</packages>