<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dynamo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dynamo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dynamo.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Dynamo.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Dynamo.Properties.Settings>
            <setting name="Setting2" serializeAs="String">
                <value />
            </setting>
            <setting name="Settin3" serializeAs="String">
                <value />
            </setting>
        </Dynamo.Properties.Settings>
    </applicationSettings>
</configuration>