<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamoVisualProgramming.LibG_225_0_0" version="2.1.0" targetFramework="net47" />
  <package id="DynamoVisualProgramming.LibG_224_4_0" version="2.1.0" targetFramework="net47" />
  <package id="DynamoVisualProgramming.LibG_224_0_1" version="2.1.0" targetFramework="net47" />
  <package id="DynamoVisualProgramming.LibG_223_0_1" version="2.1.0" targetFramework="net47" />
  <package id="Greg" version="1.1.7040.19960" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net47" />
</packages>