<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamoVisualProgramming.LibG_225_0_0" version="2.9.0.3110" targetFramework="net48" developmentDependency="true" />
  <package id="DynamoVisualProgramming.LibG_226_0_0" version="2.9.0.3135" targetFramework="net48" developmentDependency="true" />
  <package id="DynamoVisualProgramming.LibG_227_0_0" version="2.9.0.3090" targetFramework="net48" developmentDependency="true" />
  <package id="Greg" version="2.0.7507.22529" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net48" />
  <package id="RestSharp" version="105.2.3" targetFramework="net48" />
</packages>