<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- //LD Mobile keys are not secret and you can expose them in your client-side code without risk.
         //see:https://docs.launchdarkly.com/sdk/client-side/dotnet#getting-started-->
    <add key="ldmobilekey_dev" value="mob-ed7616de-a821-480a-b8f7-babcfeafa708"/>
    <add key="ldmobilekey_prd" value="mob-456dff9e-fb8f-4f06-a45c-2510b72bfc7c"/>
  </appSettings>
</configuration>