# Compiled source #
###################
!sharpdx_direct3d11_effects_x64.dll
!sharpdx_direct3d11_effects_x86.dll
!sharpdx_direct3d11_1_effects_x64.dll
!sharpdx_direct3d11_1_effects_x86.dll
!d3d10warp.dll
!d3dcompiler_44.dll
/node_modules