<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MLNodeAutocomplete" value="https://autocomplete.dynamobim.org/autocomplete"/>
    <add key="VideoSettings" value="[
  {
    &quot;id&quot;: &quot;1&quot;,
    &quot;title&quot;: &quot;GETTING SITUATED WITH DYNAMO&quot;,
    &quot;videoId&quot;: &quot;V_8WsDzim44?si=lE60kN30nRq8G2om&quot;,
    &quot;description&quot;: &quot;In this course, we will provide an in-depth overview of Dynamo, a visual programming plugin for designers. We&#39;ll look at the node system and interoperability workflows to integrate computational design capabilities into your design workflows&quot;
  },
  {
    &quot;id&quot;: &quot;2&quot;,
    &quot;title&quot;: &quot;THE ANATOMY OF A DYNAMO GRAPH&quot;,
    &quot;videoId&quot;: &quot;-2Uau6NpmXI?si=RAUI2ezMNBgXlnVu&quot;,
    &quot;description&quot;: &quot;In this lesson, we will take a closer look at the specific elements used to create a Dynamo graph. By the end of this lesson, you will have an understanding of the components that comprise a Dynamo graph, the basics of defining an algorithm, and what it means to map together nodes to update results.&quot;
  },
  {
    &quot;id&quot;: &quot;3&quot;,
    &quot;title&quot;: &quot;ANNOTATING AND DOCUMENTING GRAPHS: GROUPS AND NOTES&quot;,
    &quot;videoId&quot;: &quot;V2ZuWTutXXc?si=UmbmSEiYVWnGBpfl&quot;,
    &quot;description&quot;: &quot;In this lesson, we&#39;re going to cover annotation strategies for your Dynamo graph. Annotating and cleaning up Dynamo graphs is a very important part of your Dynamo workflow. Specifically, if you&#39;re looking to share your graphs with anyone else, you want to be very clear and concise as to what your graph is doing.&quot;
  },
  {
    &quot;id&quot;: &quot;4&quot;,
    &quot;title&quot;: &quot;THE ANATOMY OF A DYNAMO GRAPH&quot;,
    &quot;videoId&quot;: &quot;zf-n2QL0-AU?si=P_5c2_fDnL7boTOi&quot;,
    &quot;description&quot;: &quot;In this lesson, we&#39;re going to take a look at additional ways of cleaning up and documenting our Dynamo graphs.\n\nBy the end of this lesson, you&#39;re going to learn ways to interact with the wires of a Dynamo graph and take a look at further documentation strategies for serializing properties within our Dynamo graphs.&quot;
  },
  {
    &quot;id&quot;: &quot;5&quot;,
    &quot;title&quot;: &quot;DATA MANAGEMENT&quot;,
    &quot;videoId&quot;: &quot;0urQIHKjvZA?si=TmUVVJe2ewcfRvD-&quot;,
    &quot;description&quot;: &quot;In this lesson, we will discuss the basic concepts of creating and working with lists in Dynamo. In Dynamo, we can have lists that contain data of varying lengths and depths.\n\nBy the end of this lesson, you will have an understanding of list structure in Dynamo, you&#39;ll know how to create a list of points, and you&#39;ll have an understanding of what lacing is&quot;
  },
  {
    &quot;id&quot;: &quot;6&quot;,
    &quot;title&quot;: &quot;NESTED LIST MANAGEMENT&quot;,
    &quot;videoId&quot;: &quot;8VZ_--LaemE?si=l6q2jb3U2Gb1NzpX&quot;,
    &quot;description&quot;: &quot;In this lesson, we will explore concepts for how to manipulate lists and nested lists in Dynamo.\n\nBy the end of this lesson, you&#39;ll have an understanding of what a nested list is and how to obtain items within a nested list.&quot;
  },
  {
    &quot;id&quot;: &quot;7&quot;,
    &quot;title&quot;: &quot;COMPUTATIONAL LOGIC&quot;,
    &quot;videoId&quot;: &quot;OQU2v-uxSR8?si=yZd5dcgo7s-lsaVu&quot;,
    &quot;description&quot;: &quot;In this lesson, we&#39;re going to cover topics to create a graph with computational logic using an attractor algorithm. While an attractor algorithm sounds intimidating, it is simply a mathematical approach to driving geometry by proximity to any given point that is considered an attractor point.\n\nBy the end of this lesson, you will reinforce your understanding of lacing, learn how to create an attractor algorithm, and learn new ways to interact with Dynamo geometry.&quot;
  },
  {
    &quot;id&quot;: &quot;8&quot;,
    &quot;title&quot;: &quot;CONNECTING REVIT TO EXCEL - EXPORTING ROOM DATA&quot;,
    &quot;videoId&quot;: &quot;QO3-j9nav2M?si=ZHJFSQdGXNZwHSnC&quot;,
    &quot;description&quot;: &quot;In this lesson, we will look at the power behind connecting Dynamo within Revit to an external program, such as Excel, to be able to extract and manipulate data from the Revit environment.\n\nBy the end of this lesson, you will have an understanding of how to collect Revit room data, how to prepare the data for export, and strategies for ensuring data remains consistent for the import process at a later time.&quot;
  },
  {
    &quot;id&quot;: &quot;9&quot;,
    &quot;title&quot;: &quot;CONNECTING REVIT TO EXCEL - IMPORTING ROOM DATA&quot;,
    &quot;videoId&quot;: &quot;OK5gO4mPmcI?si=c9Ob5m1-ImRFmdHv&quot;,
    &quot;description&quot;: &quot;In this lesson, we will cover strategies for reading data from Excel and relating it to Revit elements. Specifically, we&#39;re going to read corrected room names and update the related rooms in Revit.\n\nBy the end of this lesson, you will know how to read Excel files with Dynamo, select Revit elements by their element ID, and update Revit element parameter values.&quot;
  },
  {
    &quot;id&quot;: &quot;10&quot;,
    &quot;title&quot;: &quot;CODE BLOCKS FOR QUICK DATA ENTRY AND OBJECT CREATION&quot;,
    &quot;videoId&quot;: &quot;zoE8N7zXKPI?si=e0MBcmSXUZfRw2zT&quot;,
    &quot;description&quot;: &quot;In this lesson, we will look at code blocks in Dynamo. Code blocks are a unique feature in Dynamo that brings together visual programming with DesignScript.\n\nDesignScript is a text-based language for computational design. By the end of this lesson, you will know how to use code blocks for numerical entry, string entry, and sequence and ranges.&quot;
  }
]" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
