<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MLNodeAutocomplete" value="https://dev.autocomplete.dynamobim.org/autocomplete"/>
	<add key="token" value="eyJhbGciOiJSUzI1NiIsImtpZCI6IlU3c0dGRldUTzlBekNhSzBqZURRM2dQZXBURVdWN2VhIn0.eyJzY29wZSI6WyJkYXRhOnJlYWQiXSwiY2xpZW50X2lkIjoiN3RpUXl2cWtHdmN5M3BYY0NBTW1LbTlldjFHR0FuZGoiLCJhdWQiOiJodHRwczovL2F1dG9kZXNrLmNvbS9hdWQvYWp3dGV4cDYwIiwianRpIjoiQTBrSjZGem8zNTVQTlFtY0hPNFdUYXhleG9ZMDZVM3YzeWZsU25UMkI0OFU3enpSZ3RJczZ1aTQ5UEZZWXRaRiIsImV4cCI6MTY2ODAwNDA3Nn0.Q_yhMnWR9IyQaKgbDyfEXQgRjDlc57MMVLAhWi-5_n905XxGdzqR5KwZbSVirfrJQ70R-9XaaXbOLIdTZmMGcQlU4D8U3anMsg8O7tXns1HmZ3lRTDQSXW_KpSBw9AWA2CUFOogKmoCa_xz0PMw-hQWoX6Uw_ER_wB9UrAR5P_A_fwhkLhAgCtbR2JrQmiuJ-Pl3YxXTCKtW7y7t_trImgo98k2BnsyI20jiVn6bEuVZJcZEWJGqtgawDECzI67lg4ivUE2m22B2lxpljmLq5sCphOu4LueNbmuZunbieDrFxTvWOQqPNi5-733Y-PIfOWoT5GJ0TG_Uy9mMVKBwcA"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
