<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Switch.System.Windows.Controls.Grid.StarDefinitionsCanExceedAvailableSpace" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Cyotek.Drawing.BitmapFont" publicKeyToken="58daa28b0b2de221" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.0" newVersion="1.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
