<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Filters" type="System.Configuration.AppSettingsSection"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>
    <add key="xmlFilePathResult" value="TestResult-Color_Tests.xml"/>
    <add key="xsltFile" value="TransformXMLToText.xslt"/>
    <add key="textFile" value="CustomTextResult.txt"/>
    <add key="textFileWithFilters" value="TextResultWithFilters.txt"/>
    <add key="applyFilters" value="1"/><!--1 means yes, 0 means not-->
  </appSettings>

  <Filters>
    <add key="SerializationTests" value="SerializationTests"/>
    <add key="JSONSerializationTests" value="JSONSerializationTests"/>
    <add key="SerializationNonGuidIdsTest" value="SerializationNonGuidIdsTest"/>
    <add key="SerializationTest" value="SerializationTest"/>
    <add key="SerializationInDifferentCultureTest" value="SerializationInDifferentCultureTest"/>
    <add key="RecordedTestsDSEngine" value="RecordedTestsDSEngine"/>
    <add key="CoreTests" value="CoreTests"/>
    <add key="RecordedTests" value="RecordedTests"/>
    <add key="MigrationTestFramework" value="MigrationTestFramework"/>
    <add key="Regressions" value="Regressions"/>
    <add key="NodeViewCustomizationTests" value="NodeViewCustomizationTests"/>
    <add key="NodeMigrationTests" value="NodeMigrationTests"/>
    <add key="ComplexTests" value="ComplexTests"/>
    <add key="DSEvaluationModelTest" value="DSEvaluationModelTest"/>
  </Filters>
</configuration>
