@media screen and (max-width: 768px) {
.wy-page-title { 
	 visibility : hidden
	}
	.wy-nav-top {
	 line-height:20px
	}
	 
   .wy-nav-top i {
     float:left;
   }
   
   .wy-side-search {
     width:auto
   }
}

/* Smartphones */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.wy-page-title { 
	 visibility : hidden
	}
	
	.wy-nav-top {
	 line-height:20px
	}
	 
   .wy-nav-top i {
     float:left;
   }
   
   .wy-side-search {
     width:auto
   }
}

/* Smartphones */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
and (orientation : landscape) {
/* Styles */
.wy-page-title { 
	 visibility : hidden
	}
	
	.wy-nav-top {
	 line-height:20px
	}
	 
   .wy-nav-top i {
     float:left;
   }
   
   .wy-side-search {
     width:auto
   }
}

/* Smartphones -- Landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape){
/* Styles */
  .wy-page-title {
    visibility:hidden
  }
  .wy-nav-top {
	 line-height:20px
	}
	
   .wy-nav-top i {
     float:left;
   }
	 	
    .wy-page-title {
	  font-size : 15px;
	  position : absolute;
	  left:45%;
	  font-weight:bold;
	  color:#fff;
	  padding:0.809em
	}
   
   .wy-side-search {
     width:auto
   }
}

/* Smartphones -- Landscape */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape){
/* Styles */
  .wy-page-title {
    visibility:hidden
  }
  .wy-nav-top {
	 line-height:20px
	}
	
   .wy-nav-top i {
     float:left;
   }
	 	
    .wy-page-title {
	  font-size : 15px;
	  position : absolute;
	  left:45%;
	  font-weight:bold;
	  color:#fff;
	  padding:0.809em
	}
   
   .wy-side-search {
     width:auto
   }
}

/* Smartphones -- Landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
and (orientation : landscape) {
/* Styles */
.wy-page-title { 
	 visibility : hidden
	}	
	.wy-nav-top {
	 line-height:20px
	}
	 
   .wy-nav-top i {
     float:left;
   }
   
   .wy-side-search {
     width:auto
   }
}
  
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
	.wy-nav-top {
	 line-height:20px
	}
	
	.wy-nav-top a {
     visibility:collapse
   }
	 
   .wy-nav-top i {
     float:left;
   }
	 	
    .wy-page-title {
	  font-size : 15px;
	  position : absolute;
	  left:45%;
	  font-weight:bold;
	  color:#fff;
	  padding:0.809em
	}
   
   .wy-side-search {
     width:auto
   }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
.wy-nav-top {
	 line-height:20px
	}
	
	.wy-nav-top a {
     visibility:collapse
   }
	 
   .wy-nav-top i {
     float:left;
   }
	
    .wy-page-title {
	  font-size : 20px;
	  position : absolute;
	  left:45%;
	  font-weight:bold;
	  color:#fff;
	  padding:0.809em
	}
   
   .wy-side-search {
     width:auto
   }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */ 
    .wy-page-title {
	  visibility:visible
	}
	.wy-nav-top {
	 line-height:20px
	}
	
	.wy-nav-top a {
     visibility:collapse
   }
	 
   .wy-nav-top i {
     float:left;
   }
	
    .wy-page-title {
	  font-size : 20px;
	  position : absolute;
	  left:45%;
	  font-weight:bold;
	  color:#fff;
	  padding:0.809em
	}
   
   .wy-side-search {
     width:auto
   }
}