# override specific installer exes#
###################
!Extra/fsharp_redist.exe
!Extra/IronPython*.msi
!Extra/InstallASMForDynamo.exe
/bin
/definitions
/sample
/Installers
/Extra/README.txt
/Extra/README.md