<!DOCTYPE html>

<html>
<head>

    <meta http-equiv="x-ua-compatible" content="IE=11">
    <meta charset="UTF-8">

    <style>

        @font-face {
            font-family: 'ArtifaktElement';
            src: url(data:font/woff;charset=utf-8;base64,#fontStyle);
        }

        img {
            display: block;
            margin-right: auto;
            width: 90%;
            height: auto;
        }

        body {
            font-family: "ArtifaktElement";
            border: 0px;
            font-size: 0.875rem;
        }

        div {
            margin: 0.063rem 0.72rem 0rem 0.72rem
        }
    </style>
</head>
<body>
    <img src="data:image/png;base64,#DynamoPackages_1_1" />

    <div>A package is a toolkit of utilities that let you do more with Dynamo, beyond its core functionality.</div><br><div>This guide shows how to find, install, and use packages. </div><div><b>It installs a sample Autodesk package for you to explore.</b></div>
</body>

</html>