<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DynamoPackages" value="https://art-bobcat.autodesk.com/artifactory/api/nuget/team-dynamo-nuget" />
    <add key="Autodesk-3p" value="https://art-bobcat.autodesk.com/artifactory/api/nuget/autodesk-3p-nuget" />
  </packageSources>
  <config>
    <add key="dependencyversion" value="Lowest" />
  </config>
</configuration>