<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2987.1601" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2987.1601" targetFramework="net452" />
  <package id="CefSharp.Common" version="57.0.0" targetFramework="net45" />
  <package id="CefSharp.Wpf" version="57.0.0" targetFramework="net45" />
  <package id="Greg" version="1.0.6816.34065" targetFramework="net452" />
  <package id="Moq" version="4.2.1507.118" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" requireReinstallation="true" />
  <package id="Unofficial.Ionic.Zip" version="1.9.1.8" targetFramework="net45" />
</packages>