<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3325.1758" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.3325.1758" targetFramework="net452" />
  <package id="CefSharp.Common" version="65.0.1" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="65.0.1" targetFramework="net452" />
  <package id="Moq" version="4.2.1507.118" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net47" />
</packages>