<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerUrl" value="http://10.39.165.198:3000" />
    <add key="Page" value="ws" />
    <add key="Invite" value="invite" />
    <add key="ManagerPage" value="http://10.39.165.198:3000/manager.html" />
  </appSettings>
</configuration>