<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerUrl" value="https://www.dynamoreach.com" />
    <add key="NeedsTou" value="true"/>
    <add key="Page" value="ws" />
    <add key="Invite" value="invite" />
    <add key="ManagerPage" value="https://www.dynamoreach.com/manager.html" />
  </appSettings>
</configuration>