<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDynamoRevitService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/DynamoRevitService/DynamoRevitService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDynamoRevitService"
                contract="ServiceReference1.IDynamoRevitService" name="BasicHttpBinding_IDynamoRevitService" />
        </client>
    </system.serviceModel>
</configuration>
