<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="6F1B7397-5DED-400D-90BE-135E05091DB3"
           Name="Dynamo Revit 0.7.6"
           Language="1033"
           Version="0.7.6"
           Manufacturer="Dynamo"
           UpgradeCode="2baac14c-bcc4-423b-baec-7b3acecd6d12">

    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Platform="x64"/>

    <MajorUpgrade
      Schedule="afterInstallInitialize"
      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Property Id='ARPNOMODIFY'>1</Property>

    <Property Id="DYNAMOLOCATION">
      <RegistrySearch Id='DynamoRegistry_07' Type='raw' Win64='yes'
        Root='HKLM' Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\Dynamo [ProductVersion]' Name='InstallLocation' />
    </Property>

    <Condition Message="DynamoCore.msi version [ProductVersion] is not installed on this system.">
      <![CDATA[DYNAMOLOCATION]]>
    </Condition>
    

    <!--<UIRef Id="WixUI_FeatureTree"/>
    <WixVariable Id="WixUILicenseRtf" Value="$(env.DYNAMO_BASE)\doc\distrib\License.rtf"/>-->

    <!--Property used to define on which version of Revit to install.-->
    <Property Id="INSTALL_FOR_REVIT_2014">1</Property>
    <Property Id="INSTALL_FOR_REVIT_2015">1</Property>

    <!--Find Revit installations by finding the uninstall registry key.-->
    <Property Id="VASARI">
      <RegistrySearch Id='VasariRegistry_2014' Type='raw' Win64='yes'
        Root='HKLM' Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\Autodesk Vasari Beta 3' Name='InstallLocation' />
    </Property>

    <Property Id="REVIT_2014">
      <RegistrySearch Id='RevitRegistry_2014' Type='raw' Win64='yes'
        Root='HKLM' Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\Autodesk Revit 2014' Name='InstallLocation' />
    </Property>

    <Property Id="REVIT_ARCHITECTURE_2014">
      <RegistrySearch Id='RevitRegistry_Architecture_2014' Type='raw' Win64='yes'
        Root='HKLM' Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\Autodesk Revit Architecture 2014' Name='InstallLocation' />
    </Property>

    <Property Id="REVIT_2015">
      <RegistrySearch Id='RevitRegistry_2015' Type='raw' Win64='yes'
        Root='HKLM' Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\Autodesk Revit 2015' Name='InstallLocation' />
    </Property>

    <Property Id="REVIT_ARCHITECTURE_2015">
      <RegistrySearch Id='RevitRegistry_Architecture_2015' Type='raw' Win64='yes'
        Root='HKLM' Key='SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\Autodesk Revit Architecture 2015' Name='InstallLocation' />
    </Property>

    <Property Id='DYNAMOREVIT_INSTALLDIR'></Property>
    <SetProperty Id="DYNAMOREVIT_INSTALLDIR" Value="[DYNAMOLOCATION]" After="LaunchConditions"></SetProperty>

    <Feature Id="DYNAMOREVIT_CORE_FEATURE"
             Title="Dynamo for Revit"
             Level="1">
      <ComponentGroupRef Id="RELEASE"/>
      <Feature Id="DYNAMO_CORE_SAMPLES"
             Title="Sample Content"
             Level="1" >
        <ComponentGroupRef Id="SAMPLES"/>
      </Feature>
    </Feature>

    <!--Revit features are only the addin. All Revit assets are currently installed as part of core.-->
    <Feature Id="DYNAMO_REVIT_2014"
             Title="Dynamo for Revit 2014"
             Level="1">
      <ComponentGroupRef Id="REVIT_2014"/>
      <Condition Level="0">(REVIT_2014="" AND REVIT_ARCHITECTURE_2014="" AND VASARI="") OR INSTALL_FOR_REVIT_2014=0</Condition>
    </Feature>

    <Feature Id="DYNAMO_REVIT_2015"
             Title="Dynamo for Revit 2015"
             Level="1">
      <ComponentGroupRef Id="REVIT_2015"/>
      <Condition Level="0">(REVIT_2015="" AND REVIT_ARCHITECTURE_2015="") OR INSTALL_FOR_REVIT_2015=0</Condition>
    </Feature>

    <Icon Id="DynamoInstaller.ico" SourceFile="$(var.base)\tools\install\Extra\DynamoInstaller.ico"/>
    <Property Id="ARPPRODUCTICON" Value="DynamoInstaller.ico" />

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
      </Directory>
      <Directory Id="DYNAMOREVIT_INSTALLDIR"/>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="ADESK_DATA" Name="Autodesk">
          <Directory Id="REVIT_DATA" Name="Revit">
            <Directory Id="ADDIN_DATA" Name="Addins">
              <Directory Id="ADDINS_2014" Name="2014">
              </Directory>
              <Directory Id="ADDINS_2015" Name="2015">
              </Directory>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="DYNAMO_PROGDATA" Name="Dynamo">
          <Directory Id="PROGDATA_07" Name="0.7"/>
        </Directory>
      </Directory>
    </Directory>


    <!-- Install the Addin files-->
    <ComponentGroup Id="REVIT_2014" Directory="ADDINS_2014">
      <Component Id="DynamoForRevit2015.addin" Guid="976a5fd6-0a53-4530-b9c8-1004fc7a6200">
        <File Id="DynamoForRevit2015.addin" Name="Dynamo.addin" Source="$(var.base)\tools\install\Extra\DynamoForRevit2014.addin"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="REVIT_2015" Directory="ADDINS_2015">
      <Component Id="DynamoForRevit2014.addin" Guid="fde9dc0b-4b8c-46d3-9950-42c9f66b5e60">
        <File Id="DynamoForRevit2014.addin" Name="Dynamo.addin" Source="$(var.base)\tools\install\Extra\DynamoForRevit2015.addin"></File>
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>
