<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dll"/>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IThorService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1572864" maxBufferPoolSize="524288" maxReceivedMessageSize="1572864" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1572864" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://climateserver.autodesk.com/ThorService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IThorService" contract="ThorReference.IThorService" name="BasicHttpBinding_IThorService"/>       
    </client>
  </system.serviceModel>
  <appSettings>
    <!-- The end point for accounts on the package manager server. -->
    <add key="authAddress" value="https://accounts.autodesk.com/"/>
    <add key="Provider" value="https://climateserver.autodesk.com/ThorService.svc"/>
  </appSettings>
</configuration>
