<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="WebApiUriString" value="http://localhost:4321" />
    <add key="bindingAddress" value="127.0.0.1" />
    <add key="bindingPort" value="2100" />
  </appSettings>
</configuration>
