<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2623.1401" targetFramework="net45" />
  <package id="cef.redist.x86" version="3.2623.1401" targetFramework="net45" />
  <package id="CefSharp.Common" version="49.0.1" targetFramework="net45" />
  <package id="CefSharp.Wpf" version="49.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="Unofficial.Ionic.Zip" version="1.9.1.8" targetFramework="net45" />
  <package id="Greg" version="1.2.7121.21318" targetFramework="net45" />
</packages>