<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="StagingClientUrl" value="https://developer-stg.api.autodesk.com/exchange"/>
        <add key="StagingCollectionID" value="9R09ArUBUEDVRIGQ5OE373_L2C"/>
        <add key="ProductionClientUrl" value="https://developer.api.autodesk.com/exchange"/>
        <add key="ProductionCollectionID" value="jcQm4Ir2Z8L4ANOmziL1rd_L2C"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
  </runtime>
</configuration>
