name: Close stale issues
on:
  schedule:
  - cron: '0 0 * * *'
jobs:
  close-stale-issues:
    runs-on: ubuntu-latest
    steps:
    - name: close stale issues
      uses: actions/stale@v8
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        #By default the action will leave a message when marking the issue as stale and another-one when closing the issue. 
        #As we only want the message to be added when the issue is closed, the "skip-stale-issue-message" parameter was set to true 
        #but the action wont work if the "stale-issue-message" doesn't have a value.
        stale-issue-message: "."
        skip-stale-issue-message: true
        close-issue-message: "Given that there has been no additional information added, 
        this issue will be closed for now. Please reopen and provide additional 
        information if you wish the Dynamo team to investigate further."
        days-before-stale: 30
        days-before-close: 0
        only-labels: 'needs more info'
