name: Generate Changelog

on: 
  workflow_dispatch:
    inputs:
      head-ref:
        description: Head version
        default: v1.0.0
        required: true
      base-ref:
        description: Base Version
        default: v1.0.0
        required: true

jobs:
  generate_changelog:
    name: Generate Changelog
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Generate changelog
        id: generate_changelog
        uses: metcalfc/changelog-generator@v4.3.0
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}
          head-ref: ${{ github.event.inputs.head-ref }}
          base-ref: ${{ github.event.inputs.base-ref }}
      - name: Summary
        run: |
          echo "# Changelog" >> $GITHUB_STEP_SUMMARY
          echo "${{ steps.generate_changelog.outputs.changelog }}" >> $GITHUB_STEP_SUMMARY
