name: UI Smoke Tests
run-name: UI Smoke Tests - ${{ github.event.workflow_run.head_commit.message }}

on:
  workflow_run:
    workflows:
      - DynamoAllNet6.0-Build
    types:
      - completed

env:
  TEST_EXECUTE_DOWNLOAD_URL: https://downloads.smartbear.com/TestExecute1552SLM.exe

jobs:
  ui_smoke_tests:
    name: UI Smoke Tests
    timeout-minutes: 60
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: DynamoDS/DynamoTestCompleteTests
          token: ${{ secrets.DYNAMO_TESTS_TOKEN }}
          ref: master
      - name: Download TestExecute
        run: Invoke-WebRequest -Uri "${{ env.TEST_EXECUTE_DOWNLOAD_URL }}" -OutFile ".\TE.exe"
      - name: Install TestExecute
        shell: cmd
        run: .\TE.exe -SilentInstall
      - name: Download Artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          name: DynamoSandbox
          workflow: ${{ github.event.workflow_run.workflow_id }}
          path: ${{ github.workspace }}\build
      - name: Run UI Smoke Tests
        shell: cmd
        run: .github\scripts\run_tests.bat ${{ secrets.TEST_EXECUTE_ACCESS_KEY }} Dynamo\Dynamo.pjs DynamoSandbox SmokeTests
      - name: UI Smoke Tests Report
        uses: dorny/test-reporter@v1.7.0
        if: always()
        with:
          name: UI Smoke Test Report
          path: reports/report.xml
          reporter: java-junit
      - name: Action Summary
        if: always()
        run: |
          type summary.md | Out-File -FilePath $env:GITHUB_STEP_SUMMARY -Append
          echo "Actor: @${{ github.actor }}" >> $GITHUB_STEP_SUMMARY
          echo "Workflow: [${{ github.event.workflow_run.name }}](${{ github.event.workflow_run.html_url }})" >> $env:GITHUB_STEP_SUMMARY
          echo "Pull Request: [${{ github.event.workflow_run.pull_requests[0].number }}](${{ github.event.workflow_run.pull_requests[0].html_url }})" >> $env:GITHUB_STEP_SUMMARY
