<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  
	<Bundle Name="Dynamo" 
          Version="0.7.1" 
          Manufacturer="Dynamo" 
          UpgradeCode="364eedd1-51f4-4a8d-b63e-1814dffcf212"
          IconSourceFile="$(env.DYNAMO_BASE)\doc\distrib\Images\logo_square_32x32.ico" >
    
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLargeLicense" />
    
		<Chain>
			 <MsiPackage SourceFile="$(var.DynamoInstall_Core.TargetDir)\Dynamo.msi" 
                   DisplayInternalUI="yes"/> 
       <MsiPackage SourceFile="$(env.DYNAMO_BASE)\tools\install\Extra\IronPython-2.7.3.msi" 
                   Permanent="yes" /> 
		</Chain>
    
	</Bundle>
  
</Wix>