<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamoVisualProgramming.LibG_227_0_0" version="2.9.0.3355" targetFramework="net48" developmentDependency="true" />
  <package id="MIConvexHull" version="1.1.17.0411" targetFramework="net48" />
  <package id="StarMath" version="2.0.14.1114" targetFramework="net48" />
</packages>